.herosprite {
    background-image: url("{{ media_url('images/herospritesheet.png') }}");
    background-repeat: no-repeat;
    display: block;
}

.herosprite-abaddon {
    width: 73px;
    height: 41px;
    background-position: -5px -5px;
}

.herosprite-alchemist {
    width: 73px;
    height: 41px;
    background-position: -88px -5px;
}

.herosprite-ancient_apparition {
    width: 73px;
    height: 41px;
    background-position: -171px -5px;
}

.herosprite-antimage {
    width: 73px;
    height: 41px;
    background-position: -254px -5px;
}

.herosprite-axe {
    width: 73px;
    height: 41px;
    background-position: -337px -5px;
}

.herosprite-bane {
    width: 73px;
    height: 41px;
    background-position: -420px -5px;
}

.herosprite-batrider {
    width: 73px;
    height: 41px;
    background-position: -503px -5px;
}

.herosprite-beastmaster {
    width: 73px;
    height: 41px;
    background-position: -586px -5px;
}

.herosprite-bloodseeker {
    width: 73px;
    height: 41px;
    background-position: -5px -56px;
}

.herosprite-bounty_hunter {
    width: 73px;
    height: 41px;
    background-position: -88px -56px;
}

.herosprite-brewmaster {
    width: 73px;
    height: 41px;
    background-position: -171px -56px;
}

.herosprite-bristleback {
    width: 73px;
    height: 41px;
    background-position: -254px -56px;
}

.herosprite-broodmother {
    width: 73px;
    height: 41px;
    background-position: -337px -56px;
}

.herosprite-centaur {
    width: 73px;
    height: 41px;
    background-position: -420px -56px;
}

.herosprite-chaos_knight {
    width: 73px;
    height: 41px;
    background-position: -503px -56px;
}

.herosprite-chen {
    width: 73px;
    height: 41px;
    background-position: -586px -56px;
}

.herosprite-clinkz {
    width: 73px;
    height: 41px;
    background-position: -5px -107px;
}

.herosprite-creep_dire {
    width: 73px;
    height: 41px;
    background-position: -88px -107px;
}

.herosprite-creep_radiant {
    width: 73px;
    height: 41px;
    background-position: -171px -107px;
}

.herosprite-crystal_maiden {
    width: 73px;
    height: 41px;
    background-position: -254px -107px;
}

.herosprite-dark_seer {
    width: 73px;
    height: 41px;
    background-position: -337px -107px;
}

.herosprite-dazzle {
    width: 73px;
    height: 41px;
    background-position: -420px -107px;
}

.herosprite-death_prophet {
    width: 73px;
    height: 41px;
    background-position: -503px -107px;
}

.herosprite-default {
    width: 73px;
    height: 41px;
    background-position: -586px -107px;
}

.herosprite-disruptor {
    width: 73px;
    height: 41px;
    background-position: -5px -158px;
}

.herosprite-doom_bringer {
    width: 73px;
    height: 41px;
    background-position: -88px -158px;
}

.herosprite-dragon_knight {
    width: 73px;
    height: 41px;
    background-position: -171px -158px;
}

.herosprite-drow_ranger {
    width: 73px;
    height: 41px;
    background-position: -254px -158px;
}

.herosprite-earth_spirit {
    width: 73px;
    height: 41px;
    background-position: -337px -158px;
}

.herosprite-earthshaker {
    width: 73px;
    height: 41px;
    background-position: -420px -158px;
}

.herosprite-elder_titan {
    width: 73px;
    height: 41px;
    background-position: -503px -158px;
}

.herosprite-ember_spirit {
    width: 73px;
    height: 41px;
    background-position: -586px -158px;
}

.herosprite-enchantress {
    width: 73px;
    height: 41px;
    background-position: -5px -209px;
}

.herosprite-enigma {
    width: 73px;
    height: 41px;
    background-position: -88px -209px;
}

.herosprite-faceless {
    width: 73px;
    height: 41px;
    background-position: -171px -209px;
}

.herosprite-faceless_void {
    width: 73px;
    height: 41px;
    background-position: -254px -209px;
}

.herosprite-furion {
    width: 73px;
    height: 41px;
    background-position: -337px -209px;
}

.herosprite-greevil {
    width: 73px;
    height: 41px;
    background-position: -420px -209px;
}

.herosprite-gyrocopter {
    width: 73px;
    height: 41px;
    background-position: -503px -209px;
}

.herosprite-huskar {
    width: 73px;
    height: 41px;
    background-position: -586px -209px;
}

.herosprite-invoker {
    width: 73px;
    height: 41px;
    background-position: -5px -260px;
}

.herosprite-jakiro {
    width: 73px;
    height: 41px;
    background-position: -88px -260px;
}

.herosprite-juggernaut {
    width: 73px;
    height: 41px;
    background-position: -171px -260px;
}

.herosprite-keeper_of_the_light {
    width: 73px;
    height: 41px;
    background-position: -254px -260px;
}

.herosprite-kunkka {
    width: 73px;
    height: 41px;
    background-position: -337px -260px;
}

.herosprite-legion_commander {
    width: 73px;
    height: 41px;
    background-position: -420px -260px;
}

.herosprite-legion_commander_alt1 {
    width: 73px;
    height: 41px;
    background-position: -503px -260px;
}

.herosprite-leshrac {
    width: 73px;
    height: 41px;
    background-position: -586px -260px;
}

.herosprite-lich {
    width: 73px;
    height: 41px;
    background-position: -5px -311px;
}

.herosprite-life_stealer {
    width: 73px;
    height: 41px;
    background-position: -88px -311px;
}

.herosprite-lina {
    width: 73px;
    height: 41px;
    background-position: -171px -311px;
}

.herosprite-lina_alt1 {
    width: 73px;
    height: 41px;
    background-position: -254px -311px;
}

.herosprite-lion {
    width: 73px;
    height: 41px;
    background-position: -337px -311px;
}

.herosprite-lone_druid {
    width: 73px;
    height: 41px;
    background-position: -420px -311px;
}

.herosprite-luna {
    width: 73px;
    height: 41px;
    background-position: -503px -311px;
}

.herosprite-lycan {
    width: 73px;
    height: 41px;
    background-position: -586px -311px;
}

.herosprite-magnataur {
    width: 73px;
    height: 41px;
    background-position: -5px -362px;
}

.herosprite-medusa {
    width: 73px;
    height: 41px;
    background-position: -88px -362px;
}

.herosprite-meepo {
    width: 73px;
    height: 41px;
    background-position: -171px -362px;
}

.herosprite-mirana {
    width: 73px;
    height: 41px;
    background-position: -254px -362px;
}

.herosprite-morphling {
    width: 73px;
    height: 41px;
    background-position: -337px -362px;
}

.herosprite-naga_siren {
    width: 73px;
    height: 41px;
    background-position: -420px -362px;
}

.herosprite-necrolyte {
    width: 73px;
    height: 41px;
    background-position: -503px -362px;
}

.herosprite-neutrals {
    width: 73px;
    height: 41px;
    background-position: -586px -362px;
}

.herosprite-nevermore {
    width: 73px;
    height: 41px;
    background-position: -5px -413px;
}

.herosprite-night_stalker {
    width: 73px;
    height: 41px;
    background-position: -88px -413px;
}

.herosprite-nyx_assassin {
    width: 73px;
    height: 41px;
    background-position: -171px -413px;
}

.herosprite-obsidian_destroyer {
    width: 73px;
    height: 41px;
    background-position: -254px -413px;
}

.herosprite-ogre_magi {
    width: 73px;
    height: 41px;
    background-position: -337px -413px;
}

.herosprite-omniknight {
    width: 73px;
    height: 41px;
    background-position: -420px -413px;
}

.herosprite-phantom_assassin {
    width: 73px;
    height: 41px;
    background-position: -503px -413px;
}

.herosprite-phantom_lancer {
    width: 73px;
    height: 41px;
    background-position: -586px -413px;
}

.herosprite-phoenix {
    width: 73px;
    height: 41px;
    background-position: -5px -464px;
}

.herosprite-puck {
    width: 73px;
    height: 41px;
    background-position: -88px -464px;
}

.herosprite-pudge {
    width: 73px;
    height: 41px;
    background-position: -171px -464px;
}

.herosprite-pugna {
    width: 73px;
    height: 41px;
    background-position: -254px -464px;
}

.herosprite-queenofpain {
    width: 73px;
    height: 41px;
    background-position: -337px -464px;
}

.herosprite-rattletrap {
    width: 73px;
    height: 41px;
    background-position: -420px -464px;
}

.herosprite-razor {
    width: 73px;
    height: 41px;
    background-position: -503px -464px;
}

.herosprite-riki {
    width: 73px;
    height: 41px;
    background-position: -586px -464px;
}

.herosprite-roshan {
    width: 73px;
    height: 41px;
    background-position: -5px -515px;
}

.herosprite-rubick {
    width: 73px;
    height: 41px;
    background-position: -88px -515px;
}

.herosprite-sand_king {
    width: 73px;
    height: 41px;
    background-position: -171px -515px;
}

.herosprite-shadow_demon {
    width: 73px;
    height: 41px;
    background-position: -254px -515px;
}

.herosprite-shadow_shaman {
    width: 73px;
    height: 41px;
    background-position: -337px -515px;
}

.herosprite-shredder {
    width: 73px;
    height: 41px;
    background-position: -420px -515px;
}

.herosprite-silencer {
    width: 73px;
    height: 41px;
    background-position: -503px -515px;
}

.herosprite-skeleton_king {
    width: 73px;
    height: 41px;
    background-position: -586px -515px;
}

.herosprite-skywrath_mage {
    width: 73px;
    height: 41px;
    background-position: -5px -566px;
}

.herosprite-slardar {
    width: 73px;
    height: 41px;
    background-position: -88px -566px;
}

.herosprite-slark {
    width: 73px;
    height: 41px;
    background-position: -171px -566px;
}

.herosprite-sniper {
    width: 73px;
    height: 41px;
    background-position: -254px -566px;
}

.herosprite-spectre {
    width: 73px;
    height: 41px;
    background-position: -337px -566px;
}

.herosprite-spirit_bear {
    width: 73px;
    height: 41px;
    background-position: -420px -566px;
}

.herosprite-spirit_breaker {
    width: 73px;
    height: 41px;
    background-position: -503px -566px;
}

.herosprite-storm_spirit {
    width: 73px;
    height: 41px;
    background-position: -586px -566px;
}

.herosprite-sven {
    width: 73px;
    height: 41px;
    background-position: -5px -617px;
}

.herosprite-templar_assassin {
    width: 73px;
    height: 41px;
    background-position: -88px -617px;
}

.herosprite-terrorblade {
    width: 73px;
    height: 41px;
    background-position: -171px -617px;
}

.herosprite-tidehunter {
    width: 73px;
    height: 41px;
    background-position: -254px -617px;
}

.herosprite-tinker {
    width: 73px;
    height: 41px;
    background-position: -337px -617px;
}

.herosprite-tiny {
    width: 73px;
    height: 41px;
    background-position: -420px -617px;
}

.herosprite-tower_dire {
    width: 73px;
    height: 41px;
    background-position: -503px -617px;
}

.herosprite-tower_radiant {
    width: 73px;
    height: 41px;
    background-position: -586px -617px;
}

.herosprite-treant {
    width: 73px;
    height: 41px;
    background-position: -669px -5px;
}

.herosprite-troll_warlord {
    width: 73px;
    height: 41px;
    background-position: -669px -56px;
}

.herosprite-tusk {
    width: 73px;
    height: 41px;
    background-position: -669px -107px;
}

.herosprite-undying {
    width: 73px;
    height: 41px;
    background-position: -669px -158px;
}

.herosprite-ursa {
    width: 73px;
    height: 41px;
    background-position: -669px -209px;
}

.herosprite-vengefulspirit {
    width: 73px;
    height: 41px;
    background-position: -669px -260px;
}

.herosprite-venomancer {
    width: 73px;
    height: 41px;
    background-position: -669px -311px;
}

.herosprite-viper {
    width: 73px;
    height: 41px;
    background-position: -669px -362px;
}

.herosprite-visage {
    width: 73px;
    height: 41px;
    background-position: -669px -413px;
}

.herosprite-warlock {
    width: 73px;
    height: 41px;
    background-position: -669px -464px;
}

.herosprite-weaver {
    width: 73px;
    height: 41px;
    background-position: -669px -515px;
}

.herosprite-windrunner {
    width: 73px;
    height: 41px;
    background-position: -669px -566px;
}

.herosprite-wisp {
    width: 73px;
    height: 41px;
    background-position: -669px -617px;
}

.herosprite-witch_doctor {
    width: 73px;
    height: 41px;
    background-position: -5px -668px;
}

.herosprite-zuus {
    width: 73px;
    height: 41px;
    background-position: -88px -668px;
}

.portraitsprite {
    background-image: url("{{ media_url('images/portraitspritesheet.png') }}");
    background-repeat: no-repeat;
    display: block;
}

.portraitsprite-abaddon {
    width: 32px;
    height: 18px;
    background-position: -5px -5px;
}

.portraitsprite-alchemist {
    width: 32px;
    height: 18px;
    background-position: -47px -5px;
}

.portraitsprite-ancient_apparition {
    width: 32px;
    height: 18px;
    background-position: -89px -5px;
}

.portraitsprite-antimage {
    width: 32px;
    height: 18px;
    background-position: -131px -5px;
}

.portraitsprite-axe {
    width: 32px;
    height: 18px;
    background-position: -173px -5px;
}

.portraitsprite-bane {
    width: 32px;
    height: 18px;
    background-position: -215px -5px;
}

.portraitsprite-batrider {
    width: 32px;
    height: 18px;
    background-position: -257px -5px;
}

.portraitsprite-beastmaster {
    width: 32px;
    height: 18px;
    background-position: -299px -5px;
}

.portraitsprite-bloodseeker {
    width: 32px;
    height: 18px;
    background-position: -5px -33px;
}

.portraitsprite-bounty_hunter {
    width: 32px;
    height: 18px;
    background-position: -47px -33px;
}

.portraitsprite-brewmaster {
    width: 32px;
    height: 18px;
    background-position: -89px -33px;
}

.portraitsprite-bristleback {
    width: 32px;
    height: 18px;
    background-position: -131px -33px;
}

.portraitsprite-broodmother {
    width: 32px;
    height: 18px;
    background-position: -173px -33px;
}

.portraitsprite-centaur {
    width: 32px;
    height: 18px;
    background-position: -215px -33px;
}

.portraitsprite-chaos_knight {
    width: 32px;
    height: 18px;
    background-position: -257px -33px;
}

.portraitsprite-chen {
    width: 32px;
    height: 18px;
    background-position: -299px -33px;
}

.portraitsprite-clinkz {
    width: 32px;
    height: 18px;
    background-position: -5px -61px;
}

.portraitsprite-creep_dire {
    width: 32px;
    height: 18px;
    background-position: -47px -61px;
}

.portraitsprite-creep_radiant {
    width: 32px;
    height: 18px;
    background-position: -89px -61px;
}

.portraitsprite-crystal_maiden {
    width: 32px;
    height: 18px;
    background-position: -131px -61px;
}

.portraitsprite-dark_seer {
    width: 32px;
    height: 18px;
    background-position: -173px -61px;
}

.portraitsprite-dazzle {
    width: 32px;
    height: 18px;
    background-position: -215px -61px;
}

.portraitsprite-death_prophet {
    width: 32px;
    height: 18px;
    background-position: -257px -61px;
}

.portraitsprite-default {
    width: 32px;
    height: 18px;
    background-position: -299px -61px;
}

.portraitsprite-disruptor {
    width: 32px;
    height: 18px;
    background-position: -5px -89px;
}

.portraitsprite-doom_bringer {
    width: 32px;
    height: 18px;
    background-position: -47px -89px;
}

.portraitsprite-dragon_knight {
    width: 32px;
    height: 18px;
    background-position: -89px -89px;
}

.portraitsprite-drow_ranger {
    width: 32px;
    height: 18px;
    background-position: -131px -89px;
}

.portraitsprite-earth_spirit {
    width: 32px;
    height: 18px;
    background-position: -173px -89px;
}

.portraitsprite-earthshaker {
    width: 32px;
    height: 18px;
    background-position: -215px -89px;
}

.portraitsprite-elder_titan {
    width: 32px;
    height: 18px;
    background-position: -257px -89px;
}

.portraitsprite-ember_spirit {
    width: 32px;
    height: 18px;
    background-position: -299px -89px;
}

.portraitsprite-enchantress {
    width: 32px;
    height: 18px;
    background-position: -5px -117px;
}

.portraitsprite-enigma {
    width: 32px;
    height: 18px;
    background-position: -47px -117px;
}

.portraitsprite-faceless {
    width: 32px;
    height: 18px;
    background-position: -89px -117px;
}

.portraitsprite-faceless_void {
    width: 32px;
    height: 18px;
    background-position: -131px -117px;
}

.portraitsprite-furion {
    width: 32px;
    height: 18px;
    background-position: -173px -117px;
}

.portraitsprite-greevil {
    width: 32px;
    height: 18px;
    background-position: -215px -117px;
}

.portraitsprite-gyrocopter {
    width: 32px;
    height: 18px;
    background-position: -257px -117px;
}

.portraitsprite-huskar {
    width: 32px;
    height: 18px;
    background-position: -299px -117px;
}

.portraitsprite-invoker {
    width: 32px;
    height: 18px;
    background-position: -5px -145px;
}

.portraitsprite-jakiro {
    width: 32px;
    height: 18px;
    background-position: -47px -145px;
}

.portraitsprite-juggernaut {
    width: 32px;
    height: 18px;
    background-position: -89px -145px;
}

.portraitsprite-keeper_of_the_light {
    width: 32px;
    height: 18px;
    background-position: -131px -145px;
}

.portraitsprite-kunkka {
    width: 32px;
    height: 18px;
    background-position: -173px -145px;
}

.portraitsprite-legion_commander {
    width: 32px;
    height: 18px;
    background-position: -215px -145px;
}

.portraitsprite-legion_commander_alt1 {
    width: 32px;
    height: 18px;
    background-position: -257px -145px;
}

.portraitsprite-leshrac {
    width: 32px;
    height: 18px;
    background-position: -299px -145px;
}

.portraitsprite-lich {
    width: 32px;
    height: 18px;
    background-position: -5px -173px;
}

.portraitsprite-life_stealer {
    width: 32px;
    height: 18px;
    background-position: -47px -173px;
}

.portraitsprite-lina {
    width: 32px;
    height: 18px;
    background-position: -89px -173px;
}

.portraitsprite-lina_alt1 {
    width: 32px;
    height: 18px;
    background-position: -131px -173px;
}

.portraitsprite-lion {
    width: 32px;
    height: 18px;
    background-position: -173px -173px;
}

.portraitsprite-lone_druid {
    width: 32px;
    height: 18px;
    background-position: -215px -173px;
}

.portraitsprite-luna {
    width: 32px;
    height: 18px;
    background-position: -257px -173px;
}

.portraitsprite-lycan {
    width: 32px;
    height: 18px;
    background-position: -299px -173px;
}

.portraitsprite-magnataur {
    width: 32px;
    height: 18px;
    background-position: -5px -201px;
}

.portraitsprite-medusa {
    width: 32px;
    height: 18px;
    background-position: -47px -201px;
}

.portraitsprite-meepo {
    width: 32px;
    height: 18px;
    background-position: -89px -201px;
}

.portraitsprite-mirana {
    width: 32px;
    height: 18px;
    background-position: -131px -201px;
}

.portraitsprite-morphling {
    width: 32px;
    height: 18px;
    background-position: -173px -201px;
}

.portraitsprite-naga_siren {
    width: 32px;
    height: 18px;
    background-position: -215px -201px;
}

.portraitsprite-necrolyte {
    width: 32px;
    height: 18px;
    background-position: -257px -201px;
}

.portraitsprite-neutrals {
    width: 32px;
    height: 18px;
    background-position: -299px -201px;
}

.portraitsprite-nevermore {
    width: 32px;
    height: 18px;
    background-position: -5px -229px;
}

.portraitsprite-night_stalker {
    width: 32px;
    height: 18px;
    background-position: -47px -229px;
}

.portraitsprite-nyx_assassin {
    width: 32px;
    height: 18px;
    background-position: -89px -229px;
}

.portraitsprite-obsidian_destroyer {
    width: 32px;
    height: 18px;
    background-position: -131px -229px;
}

.portraitsprite-ogre_magi {
    width: 32px;
    height: 18px;
    background-position: -173px -229px;
}

.portraitsprite-omniknight {
    width: 32px;
    height: 18px;
    background-position: -215px -229px;
}

.portraitsprite-phantom_assassin {
    width: 32px;
    height: 18px;
    background-position: -257px -229px;
}

.portraitsprite-phantom_lancer {
    width: 32px;
    height: 18px;
    background-position: -299px -229px;
}

.portraitsprite-phoenix {
    width: 32px;
    height: 18px;
    background-position: -5px -257px;
}

.portraitsprite-puck {
    width: 32px;
    height: 18px;
    background-position: -47px -257px;
}

.portraitsprite-pudge {
    width: 32px;
    height: 18px;
    background-position: -89px -257px;
}

.portraitsprite-pugna {
    width: 32px;
    height: 18px;
    background-position: -131px -257px;
}

.portraitsprite-queenofpain {
    width: 32px;
    height: 18px;
    background-position: -173px -257px;
}

.portraitsprite-rattletrap {
    width: 32px;
    height: 18px;
    background-position: -215px -257px;
}

.portraitsprite-razor {
    width: 32px;
    height: 18px;
    background-position: -257px -257px;
}

.portraitsprite-riki {
    width: 32px;
    height: 18px;
    background-position: -299px -257px;
}

.portraitsprite-roshan {
    width: 32px;
    height: 18px;
    background-position: -5px -285px;
}

.portraitsprite-rubick {
    width: 32px;
    height: 18px;
    background-position: -47px -285px;
}

.portraitsprite-sand_king {
    width: 32px;
    height: 18px;
    background-position: -89px -285px;
}

.portraitsprite-shadow_demon {
    width: 32px;
    height: 18px;
    background-position: -131px -285px;
}

.portraitsprite-shadow_shaman {
    width: 32px;
    height: 18px;
    background-position: -173px -285px;
}

.portraitsprite-shredder {
    width: 32px;
    height: 18px;
    background-position: -215px -285px;
}

.portraitsprite-silencer {
    width: 32px;
    height: 18px;
    background-position: -257px -285px;
}

.portraitsprite-skeleton_king {
    width: 32px;
    height: 18px;
    background-position: -299px -285px;
}

.portraitsprite-skywrath_mage {
    width: 32px;
    height: 18px;
    background-position: -5px -313px;
}

.portraitsprite-slardar {
    width: 32px;
    height: 18px;
    background-position: -47px -313px;
}

.portraitsprite-slark {
    width: 32px;
    height: 18px;
    background-position: -89px -313px;
}

.portraitsprite-sniper {
    width: 32px;
    height: 18px;
    background-position: -131px -313px;
}

.portraitsprite-spectre {
    width: 32px;
    height: 18px;
    background-position: -173px -313px;
}

.portraitsprite-spirit_bear {
    width: 32px;
    height: 18px;
    background-position: -215px -313px;
}

.portraitsprite-spirit_breaker {
    width: 32px;
    height: 18px;
    background-position: -257px -313px;
}

.portraitsprite-storm_spirit {
    width: 32px;
    height: 18px;
    background-position: -299px -313px;
}

.portraitsprite-sven {
    width: 32px;
    height: 18px;
    background-position: -5px -341px;
}

.portraitsprite-templar_assassin {
    width: 32px;
    height: 18px;
    background-position: -47px -341px;
}

.portraitsprite-terrorblade {
    width: 32px;
    height: 18px;
    background-position: -89px -341px;
}

.portraitsprite-tidehunter {
    width: 32px;
    height: 18px;
    background-position: -131px -341px;
}

.portraitsprite-tinker {
    width: 32px;
    height: 18px;
    background-position: -173px -341px;
}

.portraitsprite-tiny {
    width: 32px;
    height: 18px;
    background-position: -215px -341px;
}

.portraitsprite-tower_dire {
    width: 32px;
    height: 18px;
    background-position: -257px -341px;
}

.portraitsprite-tower_radiant {
    width: 32px;
    height: 18px;
    background-position: -299px -341px;
}

.portraitsprite-treant {
    width: 32px;
    height: 18px;
    background-position: -341px -5px;
}

.portraitsprite-troll_warlord {
    width: 32px;
    height: 18px;
    background-position: -341px -33px;
}

.portraitsprite-tusk {
    width: 32px;
    height: 18px;
    background-position: -341px -61px;
}

.portraitsprite-undying {
    width: 32px;
    height: 18px;
    background-position: -341px -89px;
}

.portraitsprite-ursa {
    width: 32px;
    height: 18px;
    background-position: -341px -117px;
}

.portraitsprite-vengefulspirit {
    width: 32px;
    height: 18px;
    background-position: -341px -145px;
}

.portraitsprite-venomancer {
    width: 32px;
    height: 18px;
    background-position: -341px -173px;
}

.portraitsprite-viper {
    width: 32px;
    height: 18px;
    background-position: -341px -201px;
}

.portraitsprite-visage {
    width: 32px;
    height: 18px;
    background-position: -341px -229px;
}

.portraitsprite-warlock {
    width: 32px;
    height: 18px;
    background-position: -341px -257px;
}

.portraitsprite-weaver {
    width: 32px;
    height: 18px;
    background-position: -341px -285px;
}

.portraitsprite-windrunner {
    width: 32px;
    height: 18px;
    background-position: -341px -313px;
}

.portraitsprite-wisp {
    width: 32px;
    height: 18px;
    background-position: -341px -341px;
}

.portraitsprite-witch_doctor {
    width: 32px;
    height: 18px;
    background-position: -5px -369px;
}

.portraitsprite-zuus {
    width: 32px;
    height: 18px;
    background-position: -47px -369px;
}

.miniherosprite {
    background-image: url("{{ media_url('images/miniherospritesheet.png') }}");
    background-repeat: no-repeat;
    display: block;
}

.miniherosprite-abaddon {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.miniherosprite-alchemist {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}

.miniherosprite-ancient_apparition {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}

.miniherosprite-antimage {
    width: 32px;
    height: 32px;
    background-position: -131px -5px;
}

.miniherosprite-axe {
    width: 32px;
    height: 32px;
    background-position: -173px -5px;
}

.miniherosprite-bane {
    width: 32px;
    height: 32px;
    background-position: -215px -5px;
}

.miniherosprite-batrider {
    width: 32px;
    height: 32px;
    background-position: -257px -5px;
}

.miniherosprite-beastmaster {
    width: 32px;
    height: 32px;
    background-position: -299px -5px;
}

.miniherosprite-bloodseeker {
    width: 32px;
    height: 32px;
    background-position: -341px -5px;
}

.miniherosprite-bm_earth {
    width: 32px;
    height: 32px;
    background-position: -383px -5px;
}

.miniherosprite-bm_fire {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}

.miniherosprite-bm_storm {
    width: 32px;
    height: 32px;
    background-position: -47px -47px;
}

.miniherosprite-bounty_hunter {
    width: 32px;
    height: 32px;
    background-position: -89px -47px;
}

.miniherosprite-brewmaster {
    width: 32px;
    height: 32px;
    background-position: -131px -47px;
}

.miniherosprite-bristleback {
    width: 32px;
    height: 32px;
    background-position: -173px -47px;
}

.miniherosprite-broodmother {
    width: 32px;
    height: 32px;
    background-position: -215px -47px;
}

.miniherosprite-centaur {
    width: 32px;
    height: 32px;
    background-position: -257px -47px;
}

.miniherosprite-chaos_knight {
    width: 32px;
    height: 32px;
    background-position: -299px -47px;
}

.miniherosprite-chen {
    width: 32px;
    height: 32px;
    background-position: -341px -47px;
}

.miniherosprite-clinkz {
    width: 32px;
    height: 32px;
    background-position: -383px -47px;
}

.miniherosprite-crystal_maiden {
    width: 32px;
    height: 32px;
    background-position: -5px -89px;
}

.miniherosprite-dark_seer {
    width: 32px;
    height: 32px;
    background-position: -47px -89px;
}

.miniherosprite-dazzle {
    width: 32px;
    height: 32px;
    background-position: -89px -89px;
}

.miniherosprite-death_prophet {
    width: 32px;
    height: 32px;
    background-position: -131px -89px;
}

.miniherosprite-disruptor {
    width: 32px;
    height: 32px;
    background-position: -173px -89px;
}

.miniherosprite-doom {
    width: 32px;
    height: 32px;
    background-position: -215px -89px;
}

.miniherosprite-doom_bringer {
    width: 32px;
    height: 32px;
    background-position: -257px -89px;
}

.miniherosprite-dragon_knight {
    width: 32px;
    height: 32px;
    background-position: -299px -89px;
}

.miniherosprite-drow {
    width: 32px;
    height: 32px;
    background-position: -341px -89px;
}

.miniherosprite-drow_ranger {
    width: 32px;
    height: 32px;
    background-position: -383px -89px;
}

.miniherosprite-earth_spirit {
    width: 32px;
    height: 32px;
    background-position: -5px -131px;
}

.miniherosprite-earthshaker {
    width: 32px;
    height: 32px;
    background-position: -47px -131px;
}

.miniherosprite-elder_titan {
    width: 32px;
    height: 32px;
    background-position: -89px -131px;
}

.miniherosprite-ember_spirit {
    width: 32px;
    height: 32px;
    background-position: -131px -131px;
}

.miniherosprite-enchantress {
    width: 32px;
    height: 32px;
    background-position: -173px -131px;
}

.miniherosprite-enigma {
    width: 32px;
    height: 32px;
    background-position: -215px -131px;
}

.miniherosprite-faceless_void {
    width: 32px;
    height: 32px;
    background-position: -257px -131px;
}

.miniherosprite-furion {
    width: 32px;
    height: 32px;
    background-position: -299px -131px;
}

.miniherosprite-gyrocopter {
    width: 32px;
    height: 32px;
    background-position: -341px -131px;
}

.miniherosprite-huskar {
    width: 32px;
    height: 32px;
    background-position: -383px -131px;
}

.miniherosprite-invoker {
    width: 32px;
    height: 32px;
    background-position: -5px -173px;
}

.miniherosprite-jakiro {
    width: 32px;
    height: 32px;
    background-position: -47px -173px;
}

.miniherosprite-juggernaut {
    width: 32px;
    height: 32px;
    background-position: -89px -173px;
}

.miniherosprite-keeper_of_the_light {
    width: 32px;
    height: 32px;
    background-position: -131px -173px;
}

.miniherosprite-kunkka {
    width: 32px;
    height: 32px;
    background-position: -173px -173px;
}

.miniherosprite-lanaya {
    width: 32px;
    height: 32px;
    background-position: -215px -173px;
}

.miniherosprite-legion_commander {
    width: 32px;
    height: 32px;
    background-position: -257px -173px;
}

.miniherosprite-legion_commander_alt1 {
    width: 32px;
    height: 32px;
    background-position: -299px -173px;
}

.miniherosprite-leshrac {
    width: 32px;
    height: 32px;
    background-position: -341px -173px;
}

.miniherosprite-lich {
    width: 32px;
    height: 32px;
    background-position: -383px -173px;
}

.miniherosprite-life_stealer {
    width: 32px;
    height: 32px;
    background-position: -5px -215px;
}

.miniherosprite-lina {
    width: 32px;
    height: 32px;
    background-position: -47px -215px;
}

.miniherosprite-lina_alt1 {
    width: 32px;
    height: 32px;
    background-position: -89px -215px;
}

.miniherosprite-lion {
    width: 32px;
    height: 32px;
    background-position: -131px -215px;
}

.miniherosprite-lone_druid {
    width: 32px;
    height: 32px;
    background-position: -173px -215px;
}

.miniherosprite-luna {
    width: 32px;
    height: 32px;
    background-position: -215px -215px;
}

.miniherosprite-lycan {
    width: 32px;
    height: 32px;
    background-position: -257px -215px;
}

.miniherosprite-magnataur {
    width: 32px;
    height: 32px;
    background-position: -299px -215px;
}

.miniherosprite-medusa {
    width: 32px;
    height: 32px;
    background-position: -341px -215px;
}

.miniherosprite-meepo {
    width: 32px;
    height: 32px;
    background-position: -383px -215px;
}

.miniherosprite-mirana {
    width: 32px;
    height: 32px;
    background-position: -5px -257px;
}

.miniherosprite-morphling {
    width: 32px;
    height: 32px;
    background-position: -47px -257px;
}

.miniherosprite-naga_siren {
    width: 32px;
    height: 32px;
    background-position: -89px -257px;
}

.miniherosprite-necrolyte {
    width: 32px;
    height: 32px;
    background-position: -131px -257px;
}

.miniherosprite-nevermore {
    width: 32px;
    height: 32px;
    background-position: -173px -257px;
}

.miniherosprite-night_stalker {
    width: 32px;
    height: 32px;
    background-position: -215px -257px;
}

.miniherosprite-nyx_assassin {
    width: 32px;
    height: 32px;
    background-position: -257px -257px;
}

.miniherosprite-obsidian_destroyer {
    width: 32px;
    height: 32px;
    background-position: -299px -257px;
}

.miniherosprite-ogre_magi {
    width: 32px;
    height: 32px;
    background-position: -341px -257px;
}

.miniherosprite-omniknight {
    width: 32px;
    height: 32px;
    background-position: -383px -257px;
}

.miniherosprite-phantom_assassin {
    width: 32px;
    height: 32px;
    background-position: -5px -299px;
}

.miniherosprite-phantom_lancer {
    width: 32px;
    height: 32px;
    background-position: -47px -299px;
}

.miniherosprite-phoenix {
    width: 32px;
    height: 32px;
    background-position: -89px -299px;
}

.miniherosprite-puck {
    width: 32px;
    height: 32px;
    background-position: -131px -299px;
}

.miniherosprite-pudge {
    width: 32px;
    height: 32px;
    background-position: -173px -299px;
}

.miniherosprite-pugna {
    width: 32px;
    height: 32px;
    background-position: -215px -299px;
}

.miniherosprite-queenofpain {
    width: 32px;
    height: 32px;
    background-position: -257px -299px;
}

.miniherosprite-rattletrap {
    width: 32px;
    height: 32px;
    background-position: -299px -299px;
}

.miniherosprite-razor {
    width: 32px;
    height: 32px;
    background-position: -341px -299px;
}

.miniherosprite-riki {
    width: 32px;
    height: 32px;
    background-position: -383px -299px;
}

.miniherosprite-rikimaru {
    width: 32px;
    height: 32px;
    background-position: -5px -341px;
}

.miniherosprite-rubick {
    width: 32px;
    height: 32px;
    background-position: -47px -341px;
}

.miniherosprite-sand_king {
    width: 32px;
    height: 32px;
    background-position: -89px -341px;
}

.miniherosprite-sandking {
    width: 32px;
    height: 32px;
    background-position: -131px -341px;
}

.miniherosprite-shadow_demon {
    width: 32px;
    height: 32px;
    background-position: -173px -341px;
}

.miniherosprite-shadow_shaman {
    width: 32px;
    height: 32px;
    background-position: -215px -341px;
}

.miniherosprite-shredder {
    width: 32px;
    height: 32px;
    background-position: -257px -341px;
}

.miniherosprite-silencer {
    width: 32px;
    height: 32px;
    background-position: -299px -341px;
}

.miniherosprite-skeleton_king {
    width: 32px;
    height: 32px;
    background-position: -341px -341px;
}

.miniherosprite-skywrath_mage {
    width: 32px;
    height: 32px;
    background-position: -383px -341px;
}

.miniherosprite-slardar {
    width: 32px;
    height: 32px;
    background-position: -5px -383px;
}

.miniherosprite-slark {
    width: 32px;
    height: 32px;
    background-position: -47px -383px;
}

.miniherosprite-sniper {
    width: 32px;
    height: 32px;
    background-position: -89px -383px;
}

.miniherosprite-spectre {
    width: 32px;
    height: 32px;
    background-position: -131px -383px;
}

.miniherosprite-spirit_break {
    width: 32px;
    height: 32px;
    background-position: -173px -383px;
}

.miniherosprite-spirit_breaker {
    width: 32px;
    height: 32px;
    background-position: -215px -383px;
}

.miniherosprite-storm_spirit {
    width: 32px;
    height: 32px;
    background-position: -257px -383px;
}

.miniherosprite-sven {
    width: 32px;
    height: 32px;
    background-position: -299px -383px;
}

.miniherosprite-templar_assassin {
    width: 32px;
    height: 32px;
    background-position: -341px -383px;
}

.miniherosprite-terrorblade {
    width: 32px;
    height: 32px;
    background-position: -383px -383px;
}

.miniherosprite-terrorblade_alt1 {
    width: 32px;
    height: 32px;
    background-position: -425px -5px;
}

.miniherosprite-tidehunter {
    width: 32px;
    height: 32px;
    background-position: -425px -47px;
}

.miniherosprite-tinker {
    width: 32px;
    height: 32px;
    background-position: -425px -89px;
}

.miniherosprite-tiny {
    width: 32px;
    height: 32px;
    background-position: -425px -131px;
}

.miniherosprite-treant {
    width: 32px;
    height: 32px;
    background-position: -425px -173px;
}

.miniherosprite-troll_warlord {
    width: 32px;
    height: 32px;
    background-position: -425px -215px;
}

.miniherosprite-tusk {
    width: 32px;
    height: 32px;
    background-position: -425px -257px;
}

.miniherosprite-undying {
    width: 32px;
    height: 32px;
    background-position: -425px -299px;
}

.miniherosprite-ursa {
    width: 32px;
    height: 32px;
    background-position: -425px -341px;
}

.miniherosprite-vengefulspirit {
    width: 32px;
    height: 32px;
    background-position: -425px -383px;
}

.miniherosprite-venomancer {
    width: 32px;
    height: 32px;
    background-position: -5px -425px;
}

.miniherosprite-viper {
    width: 32px;
    height: 32px;
    background-position: -47px -425px;
}

.miniherosprite-visage {
    width: 32px;
    height: 32px;
    background-position: -89px -425px;
}

.miniherosprite-warlock {
    width: 32px;
    height: 32px;
    background-position: -131px -425px;
}

.miniherosprite-weaver {
    width: 32px;
    height: 32px;
    background-position: -173px -425px;
}

.miniherosprite-windrunner {
    width: 32px;
    height: 32px;
    background-position: -215px -425px;
}

.miniherosprite-wisp {
    width: 32px;
    height: 32px;
    background-position: -257px -425px;
}

.miniherosprite-witch_doctor {
    width: 32px;
    height: 32px;
    background-position: -299px -425px;
}

.miniherosprite-zuus {
    width: 32px;
    height: 32px;
    background-position: -341px -425px;
}

