.itemsprite {
    background-image: url("{{ media_url('images/itemspritesheet2.jpg') }}");
    background-repeat: no-repeat;
    display: block;
}

.itemsprite-abyssal_blade {
    width: 64px;
    height: 48px;
    background-position: -1px -1px;
}

.itemsprite-aegis {
    width: 64px;
    height: 48px;
    background-position: -67px -1px;
}

.itemsprite-ancient_janggo {
    width: 64px;
    height: 48px;
    background-position: -133px -1px;
}

.itemsprite-arcane {
    width: 64px;
    height: 64px;
    background-position: -199px -1px;
}

.itemsprite-arcane_boots {
    width: 64px;
    height: 48px;
    background-position: -265px -1px;
}

.itemsprite-armaments {
    width: 64px;
    height: 64px;
    background-position: -331px -1px;
}

.itemsprite-armlet {
    width: 64px;
    height: 48px;
    background-position: -397px -1px;
}

.itemsprite-armlet_active {
    width: 64px;
    height: 48px;
    background-position: -463px -1px;
}

.itemsprite-armor {
    width: 64px;
    height: 64px;
    background-position: -529px -1px;
}

.itemsprite-artifacts {
    width: 64px;
    height: 64px;
    background-position: -595px -1px;
}

.itemsprite-assault {
    width: 64px;
    height: 48px;
    background-position: -661px -1px;
}

.itemsprite-attributes {
    width: 64px;
    height: 64px;
    background-position: -1px -51px;
}

.itemsprite-band_of_elvenskin {
    width: 64px;
    height: 48px;
    background-position: -67px -51px;
}

.itemsprite-basher {
    width: 64px;
    height: 48px;
    background-position: -133px -51px;
}

.itemsprite-belt_of_strength {
    width: 64px;
    height: 48px;
    background-position: -265px -51px;
}

.itemsprite-bfury {
    width: 64px;
    height: 48px;
    background-position: -397px -51px;
}

.itemsprite-black_king_bar {
    width: 64px;
    height: 48px;
    background-position: -463px -51px;
}

.itemsprite-blade_mail {
    width: 64px;
    height: 48px;
    background-position: -661px -51px;
}

.itemsprite-blade_of_alacrity {
    width: 64px;
    height: 48px;
    background-position: -67px -101px;
}

.itemsprite-blades_of_attack {
    width: 64px;
    height: 48px;
    background-position: -133px -101px;
}

.itemsprite-blink {
    width: 64px;
    height: 48px;
    background-position: -199px -101px;
}

.itemsprite-bloodstone {
    width: 64px;
    height: 48px;
    background-position: -265px -101px;
}

.itemsprite-boots {
    width: 64px;
    height: 48px;
    background-position: -331px -101px;
}

.itemsprite-boots_of_elves {
    width: 64px;
    height: 48px;
    background-position: -397px -101px;
}

.itemsprite-bottle {
    width: 64px;
    height: 48px;
    background-position: -463px -101px;
}

.itemsprite-bottle_doubledamage {
    width: 64px;
    height: 48px;
    background-position: -529px -101px;
}

.itemsprite-bottle_empty {
    width: 64px;
    height: 48px;
    background-position: -595px -101px;
}

.itemsprite-bottle_haste {
    width: 64px;
    height: 48px;
    background-position: -661px -101px;
}

.itemsprite-bottle_illusion {
    width: 64px;
    height: 48px;
    background-position: -1px -151px;
}

.itemsprite-bottle_invisibility {
    width: 64px;
    height: 48px;
    background-position: -67px -151px;
}

.itemsprite-bottle_medium {
    width: 64px;
    height: 48px;
    background-position: -133px -151px;
}

.itemsprite-bottle_regeneration {
    width: 64px;
    height: 48px;
    background-position: -199px -151px;
}

.itemsprite-bottle_small {
    width: 64px;
    height: 48px;
    background-position: -265px -151px;
}

.itemsprite-bracer {
    width: 64px;
    height: 48px;
    background-position: -331px -151px;
}

.itemsprite-branches {
    width: 64px;
    height: 48px;
    background-position: -397px -151px;
}

.itemsprite-broadsword {
    width: 64px;
    height: 48px;
    background-position: -463px -151px;
}

.itemsprite-buckler {
    width: 64px;
    height: 48px;
    background-position: -529px -151px;
}

.itemsprite-butterfly {
    width: 64px;
    height: 48px;
    background-position: -595px -151px;
}

.itemsprite-caster {
    width: 64px;
    height: 64px;
    background-position: -661px -151px;
}

.itemsprite-chainmail {
    width: 64px;
    height: 48px;
    background-position: -1px -217px;
}

.itemsprite-cheese {
    width: 64px;
    height: 48px;
    background-position: -67px -217px;
}

.itemsprite-circlet {
    width: 64px;
    height: 48px;
    background-position: -133px -217px;
}

.itemsprite-clarity {
    width: 64px;
    height: 48px;
    background-position: -199px -217px;
}

.itemsprite-claymore {
    width: 64px;
    height: 48px;
    background-position: -265px -217px;
}

.itemsprite-cloak {
    width: 64px;
    height: 48px;
    background-position: -331px -217px;
}

.itemsprite-common {
    width: 64px;
    height: 64px;
    background-position: -397px -217px;
}

.itemsprite-consumables {
    width: 64px;
    height: 64px;
    background-position: -463px -217px;
}

.itemsprite-courier {
    width: 64px;
    height: 48px;
    background-position: -529px -217px;
}

.itemsprite-cyclone {
    width: 64px;
    height: 48px;
    background-position: -595px -217px;
}

.itemsprite-dagon {
    width: 64px;
    height: 48px;
    background-position: -661px -217px;
}

.itemsprite-dagon_2 {
    width: 64px;
    height: 48px;
    background-position: -1px -267px;
}

.itemsprite-dagon_3 {
    width: 64px;
    height: 48px;
    background-position: -67px -267px;
}

.itemsprite-dagon_4 {
    width: 64px;
    height: 48px;
    background-position: -133px -267px;
}

.itemsprite-dagon_5 {
    width: 64px;
    height: 48px;
    background-position: -199px -267px;
}

.itemsprite-demon_edge {
    width: 64px;
    height: 48px;
    background-position: -265px -267px;
}

.itemsprite-desolator {
    width: 64px;
    height: 48px;
    background-position: -331px -267px;
}

.itemsprite-diffusal_blade {
    width: 64px;
    height: 48px;
    background-position: -529px -267px;
}

.itemsprite-diffusal_blade_2 {
    width: 64px;
    height: 48px;
    background-position: -595px -267px;
}

.itemsprite-dust {
    width: 64px;
    height: 48px;
    background-position: -661px -267px;
}

.itemsprite-eagle {
    width: 64px;
    height: 48px;
    background-position: -1px -317px;
}

.itemsprite-emptyitembg {
    width: 64px;
    height: 48px;
    background-position: -67px -317px;
}

.itemsprite-energy_booster {
    width: 64px;
    height: 48px;
    background-position: -133px -317px;
}

.itemsprite-ethereal_blade {
    width: 64px;
    height: 48px;
    background-position: -199px -317px;
}

.itemsprite-flask {
    width: 64px;
    height: 48px;
    background-position: -265px -317px;
}

.itemsprite-flask2 {
    width: 64px;
    height: 48px;
    background-position: -331px -317px;
}

.itemsprite-flying_courier {
    width: 64px;
    height: 48px;
    background-position: -397px -317px;
}

.itemsprite-force_staff {
    width: 64px;
    height: 48px;
    background-position: -463px -317px;
}

.itemsprite-gauntlets {
    width: 64px;
    height: 48px;
    background-position: -529px -317px;
}

.itemsprite-gem {
    width: 64px;
    height: 48px;
    background-position: -595px -317px;
}

.itemsprite-gem_of_true_sight {
    width: 64px;
    height: 48px;
    background-position: -661px -317px;
}

.itemsprite-ghost {
    width: 64px;
    height: 48px;
    background-position: -1px -367px;
}

.itemsprite-ghost_scepter {
    width: 64px;
    height: 48px;
    background-position: -67px -367px;
}

.itemsprite-gloves {
    width: 64px;
    height: 48px;
    background-position: -133px -367px;
}

.itemsprite-gloves_of_haste {
    width: 64px;
    height: 48px;
    background-position: -199px -367px;
}

.itemsprite-greater_clarity {
    width: 64px;
    height: 48px;
    background-position: -265px -367px;
}

.itemsprite-greater_crit {
    width: 64px;
    height: 48px;
    background-position: -331px -367px;
}

.itemsprite-hand_of_midas {
    width: 64px;
    height: 48px;
    background-position: -397px -367px;
}

.itemsprite-headdress {
    width: 64px;
    height: 48px;
    background-position: -463px -367px;
}

.itemsprite-heart {
    width: 64px;
    height: 48px;
    background-position: -529px -367px;
}

.itemsprite-heavens_halberd {
    width: 64px;
    height: 48px;
    background-position: -595px -367px;
}

.itemsprite-helm_of_iron_will {
    width: 64px;
    height: 48px;
    background-position: -661px -367px;
}

.itemsprite-helm_of_the_dominator {
    width: 64px;
    height: 48px;
    background-position: -1px -417px;
}

.itemsprite-hood_of_defiance {
    width: 64px;
    height: 48px;
    background-position: -67px -417px;
}

.itemsprite-hyperstone {
    width: 64px;
    height: 48px;
    background-position: -133px -417px;
}

.itemsprite-invis_sword {
    width: 64px;
    height: 48px;
    background-position: -199px -417px;
}

.itemsprite-javelin {
    width: 64px;
    height: 48px;
    background-position: -265px -417px;
}

.itemsprite-lesser_crit {
    width: 64px;
    height: 48px;
    background-position: -331px -417px;
}

.itemsprite-lifesteal {
    width: 64px;
    height: 48px;
    background-position: -397px -417px;
}

.itemsprite-maelstrom {
    width: 64px;
    height: 48px;
    background-position: -463px -417px;
}

.itemsprite-magic_stick {
    width: 64px;
    height: 48px;
    background-position: -529px -417px;
}

.itemsprite-magic_wand {
    width: 64px;
    height: 48px;
    background-position: -595px -417px;
}

.itemsprite-manta {
    width: 64px;
    height: 48px;
    background-position: -661px -417px;
}

.itemsprite-mantle {
    width: 64px;
    height: 48px;
    background-position: -1px -467px;
}

.itemsprite-mask_of_madness {
    width: 64px;
    height: 48px;
    background-position: -67px -467px;
}

.itemsprite-medallion_of_courage {
    width: 64px;
    height: 48px;
    background-position: -133px -467px;
}

.itemsprite-mekansm {
    width: 64px;
    height: 48px;
    background-position: -199px -467px;
}

.itemsprite-mithril_hammer {
    width: 64px;
    height: 48px;
    background-position: -265px -467px;
}

.itemsprite-mjollnir {
    width: 64px;
    height: 48px;
    background-position: -331px -467px;
}

.itemsprite-monkey_king_bar {
    width: 64px;
    height: 48px;
    background-position: -397px -467px;
}

.itemsprite-mystic_staff {
    width: 64px;
    height: 48px;
    background-position: -463px -467px;
}

.itemsprite-necronomicon {
    width: 64px;
    height: 48px;
    background-position: -529px -467px;
}

.itemsprite-necronomicon_2 {
    width: 64px;
    height: 48px;
    background-position: -595px -467px;
}

.itemsprite-necronomicon_3 {
    width: 64px;
    height: 48px;
    background-position: -661px -467px;
}

.itemsprite-null_talisman {
    width: 64px;
    height: 48px;
    background-position: -1px -517px;
}

.itemsprite-oblivion_staff {
    width: 64px;
    height: 48px;
    background-position: -67px -517px;
}

.itemsprite-ogre_axe {
    width: 64px;
    height: 48px;
    background-position: -133px -517px;
}

.itemsprite-orb_of_venom {
    width: 64px;
    height: 48px;
    background-position: -199px -517px;
}

.itemsprite-orchid {
    width: 64px;
    height: 48px;
    background-position: -265px -517px;
}

.itemsprite-pers {
    width: 64px;
    height: 48px;
    background-position: -331px -517px;
}

.itemsprite-phase_boots {
    width: 64px;
    height: 48px;
    background-position: -397px -517px;
}

.itemsprite-pipe {
    width: 64px;
    height: 48px;
    background-position: -463px -517px;
}

.itemsprite-platemail {
    width: 64px;
    height: 48px;
    background-position: -529px -517px;
}

.itemsprite-point_booster {
    width: 64px;
    height: 48px;
    background-position: -595px -517px;
}

.itemsprite-poor_mans_shield {
    width: 64px;
    height: 48px;
    background-position: -661px -517px;
}

.itemsprite-power_treads {
    width: 64px;
    height: 48px;
    background-position: -1px -567px;
}

.itemsprite-power_treads_agi {
    width: 64px;
    height: 48px;
    background-position: -67px -567px;
}

.itemsprite-power_treads_int {
    width: 64px;
    height: 48px;
    background-position: -133px -567px;
}

.itemsprite-power_treads_str {
    width: 64px;
    height: 48px;
    background-position: -199px -567px;
}

.itemsprite-quarterstaff {
    width: 64px;
    height: 48px;
    background-position: -265px -567px;
}

.itemsprite-quelling_blade {
    width: 64px;
    height: 48px;
    background-position: -331px -567px;
}

.itemsprite-radiance {
    width: 64px;
    height: 48px;
    background-position: -397px -567px;
}

.itemsprite-radiance_inactive {
    width: 64px;
    height: 48px;
    background-position: -463px -567px;
}

.itemsprite-rapier {
    width: 64px;
    height: 48px;
    background-position: -529px -567px;
}

.itemsprite-reaver {
    width: 64px;
    height: 48px;
    background-position: -595px -567px;
}

.itemsprite-recipe {
    width: 64px;
    height: 48px;
    background-position: -661px -567px;
}

.itemsprite-refresher {
    width: 64px;
    height: 48px;
    background-position: -1px -617px;
}

.itemsprite-relic {
    width: 64px;
    height: 48px;
    background-position: -67px -617px;
}

.itemsprite-ring_of_aquila {
    width: 64px;
    height: 48px;
    background-position: -133px -617px;
}

.itemsprite-ring_of_aquila_active {
    width: 64px;
    height: 48px;
    background-position: -199px -617px;
}

.itemsprite-ring_of_basilius {
    width: 64px;
    height: 48px;
    background-position: -265px -617px;
}

.itemsprite-ring_of_basilius_active {
    width: 64px;
    height: 48px;
    background-position: -331px -617px;
}

.itemsprite-ring_of_health {
    width: 64px;
    height: 48px;
    background-position: -397px -617px;
}

.itemsprite-ring_of_protection {
    width: 64px;
    height: 48px;
    background-position: -463px -617px;
}

.itemsprite-ring_of_regen {
    width: 64px;
    height: 48px;
    background-position: -529px -617px;
}

.itemsprite-robe {
    width: 64px;
    height: 48px;
    background-position: -595px -617px;
}

.itemsprite-rod_of_atos {
    width: 64px;
    height: 48px;
    background-position: -661px -617px;
}

.itemsprite-salve {
    width: 64px;
    height: 48px;
    background-position: -1px -667px;
}

.itemsprite-sange {
    width: 64px;
    height: 48px;
    background-position: -67px -667px;
}

.itemsprite-sange_and_yasha {
    width: 64px;
    height: 48px;
    background-position: -133px -667px;
}

.itemsprite-satanic {
    width: 64px;
    height: 48px;
    background-position: -199px -667px;
}

.itemsprite-secret {
    width: 64px;
    height: 64px;
    background-position: -265px -667px;
}

.itemsprite-shadow_amulet {
    width: 64px;
    height: 47px;
    background-position: -331px -667px;
}

.itemsprite-sheepstick {
    width: 64px;
    height: 48px;
    background-position: -397px -667px;
}

.itemsprite-shivas_guard {
    width: 64px;
    height: 48px;
    background-position: -463px -667px;
}

.itemsprite-skadi {
    width: 64px;
    height: 48px;
    background-position: -529px -667px;
}

.itemsprite-slippers {
    width: 64px;
    height: 48px;
    background-position: -595px -667px;
}

.itemsprite-slippers_of_halcyon {
    width: 64px;
    height: 48px;
    background-position: -661px -667px;
}

.itemsprite-smoke_of_deceit {
    width: 64px;
    height: 48px;
    background-position: -1px -717px;
}

.itemsprite-sobi_mask {
    width: 64px;
    height: 48px;
    background-position: -67px -717px;
}

.itemsprite-soul_booster {
    width: 64px;
    height: 48px;
    background-position: -133px -717px;
}

.itemsprite-soul_ring {
    width: 64px;
    height: 48px;
    background-position: -199px -717px;
}

.itemsprite-sphere {
    width: 64px;
    height: 48px;
    background-position: -331px -717px;
}

.itemsprite-staff_of_wizardry {
    width: 64px;
    height: 48px;
    background-position: -397px -717px;
}

.itemsprite-stout_shield {
    width: 64px;
    height: 48px;
    background-position: -463px -717px;
}

.itemsprite-support {
    width: 64px;
    height: 64px;
    background-position: -727px -1px;
}

.itemsprite-talisman_of_evasion {
    width: 64px;
    height: 48px;
    background-position: -727px -67px;
}

.itemsprite-tango {
    width: 64px;
    height: 48px;
    background-position: -727px -117px;
}

.itemsprite-tango_single {
    width: 64px;
    height: 48px;
    background-position: -727px -167px;
}

.itemsprite-tpscroll {
    width: 64px;
    height: 48px;
    background-position: -727px -217px;
}

.itemsprite-tranquil_boots {
    width: 64px;
    height: 48px;
    background-position: -727px -267px;
}

.itemsprite-tranquil_boots_active {
    width: 64px;
    height: 48px;
    background-position: -727px -317px;
}

.itemsprite-travel_boots {
    width: 64px;
    height: 48px;
    background-position: -727px -367px;
}

.itemsprite-ultimate_orb {
    width: 64px;
    height: 48px;
    background-position: -727px -417px;
}

.itemsprite-ultimate_scepter {
    width: 64px;
    height: 48px;
    background-position: -727px -467px;
}

.itemsprite-urn_of_shadows {
    width: 64px;
    height: 48px;
    background-position: -727px -517px;
}

.itemsprite-vanguard {
    width: 64px;
    height: 48px;
    background-position: -727px -567px;
}

.itemsprite-veil_of_discord {
    width: 64px;
    height: 48px;
    background-position: -727px -617px;
}

.itemsprite-vitality_booster {
    width: 64px;
    height: 48px;
    background-position: -727px -667px;
}

.itemsprite-vladmir {
    width: 64px;
    height: 48px;
    background-position: -529px -717px;
}

.itemsprite-void_stone {
    width: 64px;
    height: 48px;
    background-position: -595px -717px;
}

.itemsprite-ward_observer {
    width: 64px;
    height: 48px;
    background-position: -661px -717px;
}

.itemsprite-ward_sentry {
    width: 64px;
    height: 48px;
    background-position: -727px -717px;
}

.itemsprite-weapons {
    width: 64px;
    height: 64px;
    background-position: -1px -767px;
}

.itemsprite-wraith_band {
    width: 64px;
    height: 48px;
    background-position: -67px -767px;
}

.itemsprite-yasha {
    width: 64px;
    height: 48px;
    background-position: -133px -767px;
}


.itemsprite2 {
    background-image: url('/dota2/images/items/itemspritesheet2.png');
    background-repeat: no-repeat;
    display: block;
}

.itemsprite2-abyssal_blade {
    width: 32px;
    height: 23px;
    background-position: -5px -5px;
}

.itemsprite2-aegis {
    width: 32px;
    height: 23px;
    background-position: -47px -5px;
}

.itemsprite2-ancient_janggo {
    width: 32px;
    height: 23px;
    background-position: -89px -5px;
}

.itemsprite2-arcane_boots {
    width: 32px;
    height: 23px;
    background-position: -131px -5px;
}

.itemsprite2-armlet {
    width: 32px;
    height: 23px;
    background-position: -173px -5px;
}

.itemsprite2-armlet_active {
    width: 32px;
    height: 23px;
    background-position: -215px -5px;
}

.itemsprite2-assault {
    width: 32px;
    height: 23px;
    background-position: -257px -5px;
}

.itemsprite2-basher {
    width: 32px;
    height: 23px;
    background-position: -299px -5px;
}

.itemsprite2-belt_of_strength {
    width: 32px;
    height: 23px;
    background-position: -341px -5px;
}

.itemsprite2-bfury {
    width: 32px;
    height: 23px;
    background-position: -383px -5px;
}

.itemsprite2-black_king_bar {
    width: 32px;
    height: 23px;
    background-position: -425px -5px;
}

.itemsprite2-blade_mail {
    width: 32px;
    height: 23px;
    background-position: -467px -5px;
}

.itemsprite2-blade_of_alacrity {
    width: 32px;
    height: 23px;
    background-position: -5px -38px;
}

.itemsprite2-blades_of_attack {
    width: 32px;
    height: 23px;
    background-position: -47px -38px;
}

.itemsprite2-blink {
    width: 32px;
    height: 23px;
    background-position: -89px -38px;
}

.itemsprite2-bloodstone {
    width: 32px;
    height: 23px;
    background-position: -131px -38px;
}

.itemsprite2-boots {
    width: 32px;
    height: 23px;
    background-position: -173px -38px;
}

.itemsprite2-boots_of_elves {
    width: 32px;
    height: 23px;
    background-position: -215px -38px;
}

.itemsprite2-bottle {
    width: 32px;
    height: 23px;
    background-position: -257px -38px;
}

.itemsprite2-bottle_doubledamage {
    width: 32px;
    height: 23px;
    background-position: -299px -38px;
}

.itemsprite2-bottle_empty {
    width: 32px;
    height: 23px;
    background-position: -341px -38px;
}

.itemsprite2-bottle_haste {
    width: 32px;
    height: 23px;
    background-position: -383px -38px;
}

.itemsprite2-bottle_illusion {
    width: 32px;
    height: 23px;
    background-position: -425px -38px;
}

.itemsprite2-bottle_invisibility {
    width: 32px;
    height: 23px;
    background-position: -467px -38px;
}

.itemsprite2-bottle_medium {
    width: 32px;
    height: 23px;
    background-position: -5px -71px;
}

.itemsprite2-bottle_regeneration {
    width: 32px;
    height: 23px;
    background-position: -47px -71px;
}

.itemsprite2-bottle_small {
    width: 32px;
    height: 23px;
    background-position: -89px -71px;
}

.itemsprite2-bracer {
    width: 32px;
    height: 23px;
    background-position: -131px -71px;
}

.itemsprite2-branches {
    width: 32px;
    height: 23px;
    background-position: -173px -71px;
}

.itemsprite2-broadsword {
    width: 32px;
    height: 23px;
    background-position: -215px -71px;
}

.itemsprite2-buckler {
    width: 32px;
    height: 23px;
    background-position: -257px -71px;
}

.itemsprite2-butterfly {
    width: 32px;
    height: 23px;
    background-position: -299px -71px;
}

.itemsprite2-chainmail {
    width: 32px;
    height: 23px;
    background-position: -341px -71px;
}

.itemsprite2-cheese {
    width: 32px;
    height: 23px;
    background-position: -383px -71px;
}

.itemsprite2-circlet {
    width: 32px;
    height: 23px;
    background-position: -425px -71px;
}

.itemsprite2-clarity {
    width: 32px;
    height: 23px;
    background-position: -467px -71px;
}

.itemsprite2-claymore {
    width: 32px;
    height: 23px;
    background-position: -5px -104px;
}

.itemsprite2-cloak {
    width: 32px;
    height: 23px;
    background-position: -47px -104px;
}

.itemsprite2-courier {
    width: 32px;
    height: 23px;
    background-position: -89px -104px;
}

.itemsprite2-courier_dire {
    width: 32px;
    height: 23px;
    background-position: -131px -104px;
}

.itemsprite2-courier_dire_flying {
    width: 32px;
    height: 23px;
    background-position: -173px -104px;
}

.itemsprite2-courier_radiant {
    width: 32px;
    height: 23px;
    background-position: -215px -104px;
}

.itemsprite2-courier_radiant_flying {
    width: 32px;
    height: 23px;
    background-position: -257px -104px;
}

.itemsprite2-cyclone {
    width: 32px;
    height: 23px;
    background-position: -299px -104px;
}

.itemsprite2-dagon {
    width: 32px;
    height: 23px;
    background-position: -341px -104px;
}

.itemsprite2-dagon_2 {
    width: 32px;
    height: 23px;
    background-position: -383px -104px;
}

.itemsprite2-dagon_3 {
    width: 32px;
    height: 23px;
    background-position: -425px -104px;
}

.itemsprite2-dagon_4 {
    width: 32px;
    height: 23px;
    background-position: -467px -104px;
}

.itemsprite2-dagon_5 {
    width: 32px;
    height: 23px;
    background-position: -5px -137px;
}

.itemsprite2-demon_edge {
    width: 32px;
    height: 23px;
    background-position: -47px -137px;
}

.itemsprite2-desolator {
    width: 32px;
    height: 23px;
    background-position: -89px -137px;
}

.itemsprite2-diffusal_blade {
    width: 32px;
    height: 23px;
    background-position: -131px -137px;
}

.itemsprite2-diffusal_blade_2 {
    width: 32px;
    height: 23px;
    background-position: -173px -137px;
}

.itemsprite2-dust {
    width: 32px;
    height: 23px;
    background-position: -215px -137px;
}

.itemsprite2-eagle {
    width: 32px;
    height: 23px;
    background-position: -257px -137px;
}

.itemsprite2-emptyitembg {
    width: 32px;
    height: 23px;
    background-position: -299px -137px;
}

.itemsprite2-energy_booster {
    width: 32px;
    height: 23px;
    background-position: -341px -137px;
}

.itemsprite2-ethereal_blade {
    width: 32px;
    height: 23px;
    background-position: -383px -137px;
}

.itemsprite2-flask {
    width: 32px;
    height: 23px;
    background-position: -425px -137px;
}

.itemsprite2-flying_courier {
    width: 32px;
    height: 23px;
    background-position: -467px -137px;
}

.itemsprite2-force_staff {
    width: 32px;
    height: 23px;
    background-position: -5px -170px;
}

.itemsprite2-gauntlets {
    width: 32px;
    height: 23px;
    background-position: -47px -170px;
}

.itemsprite2-gem {
    width: 32px;
    height: 23px;
    background-position: -89px -170px;
}

.itemsprite2-ghost {
    width: 32px;
    height: 23px;
    background-position: -131px -170px;
}

.itemsprite2-gloves {
    width: 32px;
    height: 23px;
    background-position: -173px -170px;
}

.itemsprite2-greater_crit {
    width: 32px;
    height: 23px;
    background-position: -215px -170px;
}

.itemsprite2-greevil_whistle {
    width: 32px;
    height: 23px;
    background-position: -257px -170px;
}

.itemsprite2-greevil_whistle_toggle {
    width: 32px;
    height: 23px;
    background-position: -299px -170px;
}

.itemsprite2-halloween_candy_corn {
    width: 32px;
    height: 23px;
    background-position: -341px -170px;
}

.itemsprite2-halloween_rapier {
    width: 32px;
    height: 23px;
    background-position: -383px -170px;
}

.itemsprite2-hand_of_midas {
    width: 32px;
    height: 23px;
    background-position: -425px -170px;
}

.itemsprite2-headdress {
    width: 32px;
    height: 23px;
    background-position: -467px -170px;
}

.itemsprite2-heart {
    width: 32px;
    height: 23px;
    background-position: -5px -203px;
}

.itemsprite2-heavens_halberd {
    width: 32px;
    height: 23px;
    background-position: -47px -203px;
}

.itemsprite2-helm_of_iron_will {
    width: 32px;
    height: 23px;
    background-position: -89px -203px;
}

.itemsprite2-helm_of_the_dominator {
    width: 32px;
    height: 23px;
    background-position: -131px -203px;
}

.itemsprite2-hood_of_defiance {
    width: 32px;
    height: 23px;
    background-position: -173px -203px;
}

.itemsprite2-hyperstone {
    width: 32px;
    height: 23px;
    background-position: -215px -203px;
}

.itemsprite2-invis_sword {
    width: 32px;
    height: 23px;
    background-position: -257px -203px;
}

.itemsprite2-javelin {
    width: 32px;
    height: 23px;
    background-position: -299px -203px;
}

.itemsprite2-lesser_crit {
    width: 32px;
    height: 23px;
    background-position: -341px -203px;
}

.itemsprite2-lifesteal {
    width: 32px;
    height: 23px;
    background-position: -383px -203px;
}

.itemsprite2-maelstrom {
    width: 32px;
    height: 23px;
    background-position: -425px -203px;
}

.itemsprite2-magic_stick {
    width: 32px;
    height: 23px;
    background-position: -467px -203px;
}

.itemsprite2-magic_wand {
    width: 32px;
    height: 23px;
    background-position: -5px -236px;
}

.itemsprite2-manta {
    width: 32px;
    height: 23px;
    background-position: -47px -236px;
}

.itemsprite2-mantle {
    width: 32px;
    height: 23px;
    background-position: -89px -236px;
}

.itemsprite2-mask_of_madness {
    width: 32px;
    height: 23px;
    background-position: -131px -236px;
}

.itemsprite2-medallion_of_courage {
    width: 32px;
    height: 23px;
    background-position: -173px -236px;
}

.itemsprite2-mekansm {
    width: 32px;
    height: 23px;
    background-position: -215px -236px;
}

.itemsprite2-mithril_hammer {
    width: 32px;
    height: 23px;
    background-position: -257px -236px;
}

.itemsprite2-mjollnir {
    width: 32px;
    height: 23px;
    background-position: -299px -236px;
}

.itemsprite2-monkey_king_bar {
    width: 32px;
    height: 23px;
    background-position: -341px -236px;
}

.itemsprite2-mystery_arrow {
    width: 32px;
    height: 23px;
    background-position: -383px -236px;
}

.itemsprite2-mystery_hook {
    width: 32px;
    height: 23px;
    background-position: -425px -236px;
}

.itemsprite2-mystery_missile {
    width: 32px;
    height: 23px;
    background-position: -467px -236px;
}

.itemsprite2-mystery_toss {
    width: 32px;
    height: 23px;
    background-position: -5px -269px;
}

.itemsprite2-mystery_vacuum {
    width: 32px;
    height: 23px;
    background-position: -47px -269px;
}

.itemsprite2-mystic_staff {
    width: 32px;
    height: 23px;
    background-position: -89px -269px;
}

.itemsprite2-necronomicon {
    width: 32px;
    height: 23px;
    background-position: -131px -269px;
}

.itemsprite2-necronomicon_2 {
    width: 32px;
    height: 23px;
    background-position: -173px -269px;
}

.itemsprite2-necronomicon_3 {
    width: 32px;
    height: 23px;
    background-position: -215px -269px;
}

.itemsprite2-null_talisman {
    width: 32px;
    height: 23px;
    background-position: -257px -269px;
}

.itemsprite2-oblivion_staff {
    width: 32px;
    height: 23px;
    background-position: -299px -269px;
}

.itemsprite2-ogre_axe {
    width: 32px;
    height: 23px;
    background-position: -341px -269px;
}

.itemsprite2-orb_of_venom {
    width: 32px;
    height: 23px;
    background-position: -383px -269px;
}

.itemsprite2-orchid {
    width: 32px;
    height: 23px;
    background-position: -425px -269px;
}

.itemsprite2-pers {
    width: 32px;
    height: 23px;
    background-position: -467px -269px;
}

.itemsprite2-phase_boots {
    width: 32px;
    height: 23px;
    background-position: -5px -302px;
}

.itemsprite2-pipe {
    width: 32px;
    height: 23px;
    background-position: -47px -302px;
}

.itemsprite2-platemail {
    width: 32px;
    height: 23px;
    background-position: -89px -302px;
}

.itemsprite2-point_booster {
    width: 32px;
    height: 23px;
    background-position: -131px -302px;
}

.itemsprite2-poor_mans_shield {
    width: 32px;
    height: 23px;
    background-position: -173px -302px;
}

.itemsprite2-power_treads {
    width: 32px;
    height: 23px;
    background-position: -215px -302px;
}

.itemsprite2-power_treads_agi {
    width: 32px;
    height: 23px;
    background-position: -257px -302px;
}

.itemsprite2-power_treads_int {
    width: 32px;
    height: 23px;
    background-position: -299px -302px;
}

.itemsprite2-power_treads_str {
    width: 32px;
    height: 23px;
    background-position: -341px -302px;
}

.itemsprite2-present {
    width: 32px;
    height: 17px;
    background-position: -383px -302px;
}

.itemsprite2-present-copy {
    width: 32px;
    height: 23px;
    background-position: -425px -302px;
}

.itemsprite2-quarterstaff {
    width: 32px;
    height: 23px;
    background-position: -467px -302px;
}

.itemsprite2-quelling_blade {
    width: 32px;
    height: 23px;
    background-position: -5px -335px;
}

.itemsprite2-radiance {
    width: 32px;
    height: 23px;
    background-position: -47px -335px;
}

.itemsprite2-radiance_inactive {
    width: 32px;
    height: 23px;
    background-position: -89px -335px;
}

.itemsprite2-rapier {
    width: 32px;
    height: 23px;
    background-position: -131px -335px;
}

.itemsprite2-reaver {
    width: 32px;
    height: 23px;
    background-position: -173px -335px;
}

.itemsprite2-recipe {
    width: 32px;
    height: 23px;
    background-position: -215px -335px;
}

.itemsprite2-recipe_scroll {
    width: 32px;
    height: 23px;
    background-position: -257px -335px;
}

.itemsprite2-refresher {
    width: 32px;
    height: 23px;
    background-position: -299px -335px;
}

.itemsprite2-relic {
    width: 32px;
    height: 23px;
    background-position: -341px -335px;
}

.itemsprite2-ring_of_aquila {
    width: 32px;
    height: 23px;
    background-position: -383px -335px;
}

.itemsprite2-ring_of_aquila_active {
    width: 32px;
    height: 23px;
    background-position: -425px -335px;
}

.itemsprite2-ring_of_basilius {
    width: 32px;
    height: 23px;
    background-position: -467px -335px;
}

.itemsprite2-ring_of_basilius_active {
    width: 32px;
    height: 23px;
    background-position: -5px -368px;
}

.itemsprite2-ring_of_health {
    width: 32px;
    height: 23px;
    background-position: -47px -368px;
}

.itemsprite2-ring_of_protection {
    width: 32px;
    height: 23px;
    background-position: -89px -368px;
}

.itemsprite2-ring_of_regen {
    width: 32px;
    height: 23px;
    background-position: -131px -368px;
}

.itemsprite2-robe {
    width: 32px;
    height: 23px;
    background-position: -173px -368px;
}

.itemsprite2-rod_of_atos {
    width: 32px;
    height: 23px;
    background-position: -215px -368px;
}

.itemsprite2-sange {
    width: 32px;
    height: 23px;
    background-position: -257px -368px;
}

.itemsprite2-sange_and_yasha {
    width: 32px;
    height: 23px;
    background-position: -299px -368px;
}

.itemsprite2-satanic {
    width: 32px;
    height: 23px;
    background-position: -341px -368px;
}

.itemsprite2-shadow_amulet {
    width: 32px;
    height: 22px;
    background-position: -383px -368px;
}

.itemsprite2-sheepstick {
    width: 32px;
    height: 23px;
    background-position: -425px -368px;
}

.itemsprite2-shivas_guard {
    width: 32px;
    height: 23px;
    background-position: -467px -368px;
}

.itemsprite2-skadi {
    width: 32px;
    height: 23px;
    background-position: -5px -401px;
}

.itemsprite2-slippers {
    width: 32px;
    height: 23px;
    background-position: -47px -401px;
}

.itemsprite2-smoke_of_deceit {
    width: 32px;
    height: 23px;
    background-position: -89px -401px;
}

.itemsprite2-sobi_mask {
    width: 32px;
    height: 23px;
    background-position: -131px -401px;
}

.itemsprite2-soul_booster {
    width: 32px;
    height: 23px;
    background-position: -173px -401px;
}

.itemsprite2-soul_ring {
    width: 32px;
    height: 23px;
    background-position: -215px -401px;
}

.itemsprite2-sphere {
    width: 32px;
    height: 23px;
    background-position: -257px -401px;
}

.itemsprite2-staff_of_wizardry {
    width: 32px;
    height: 23px;
    background-position: -299px -401px;
}

.itemsprite2-stout_shield {
    width: 32px;
    height: 23px;
    background-position: -341px -401px;
}

.itemsprite2-talisman_of_evasion {
    width: 32px;
    height: 23px;
    background-position: -383px -401px;
}

.itemsprite2-tango {
    width: 32px;
    height: 23px;
    background-position: -425px -401px;
}

.itemsprite2-tpscroll {
    width: 32px;
    height: 23px;
    background-position: -467px -401px;
}

.itemsprite2-tranquil_boots {
    width: 32px;
    height: 23px;
    background-position: -5px -434px;
}

.itemsprite2-tranquil_boots_active {
    width: 32px;
    height: 23px;
    background-position: -47px -434px;
}

.itemsprite2-travel_boots {
    width: 32px;
    height: 23px;
    background-position: -89px -434px;
}

.itemsprite2-ultimate_orb {
    width: 32px;
    height: 23px;
    background-position: -131px -434px;
}

.itemsprite2-ultimate_scepter {
    width: 32px;
    height: 23px;
    background-position: -173px -434px;
}

.itemsprite2-urn_of_shadows {
    width: 32px;
    height: 23px;
    background-position: -215px -434px;
}

.itemsprite2-vanguard {
    width: 32px;
    height: 23px;
    background-position: -257px -434px;
}

.itemsprite2-veil_of_discord {
    width: 32px;
    height: 23px;
    background-position: -299px -434px;
}

.itemsprite2-vitality_booster {
    width: 32px;
    height: 23px;
    background-position: -341px -434px;
}

.itemsprite2-vladmir {
    width: 32px;
    height: 23px;
    background-position: -383px -434px;
}

.itemsprite2-void_stone {
    width: 32px;
    height: 23px;
    background-position: -425px -434px;
}

.itemsprite2-ward_observer {
    width: 32px;
    height: 23px;
    background-position: -467px -434px;
}

.itemsprite2-ward_sentry {
    width: 32px;
    height: 23px;
    background-position: -5px -467px;
}

.itemsprite2-winter_cake {
    width: 32px;
    height: 22px;
    background-position: -47px -467px;
}

.itemsprite2-winter_coal {
    width: 32px;
    height: 22px;
    background-position: -89px -467px;
}

.itemsprite2-winter_coco {
    width: 32px;
    height: 22px;
    background-position: -131px -467px;
}

.itemsprite2-winter_cookie {
    width: 32px;
    height: 22px;
    background-position: -173px -467px;
}

.itemsprite2-winter_greevil_chewy {
    width: 32px;
    height: 22px;
    background-position: -215px -467px;
}

.itemsprite2-winter_greevil_garbage {
    width: 32px;
    height: 22px;
    background-position: -257px -467px;
}

.itemsprite2-winter_greevil_treat {
    width: 32px;
    height: 22px;
    background-position: -299px -467px;
}

.itemsprite2-winter_ham {
    width: 32px;
    height: 22px;
    background-position: -341px -467px;
}

.itemsprite2-winter_kringle {
    width: 32px;
    height: 22px;
    background-position: -383px -467px;
}

.itemsprite2-winter_mushroom {
    width: 32px;
    height: 22px;
    background-position: -425px -467px;
}

.itemsprite2-winter_skates {
    width: 32px;
    height: 22px;
    background-position: -467px -467px;
}

.itemsprite2-winter_snowball {
    width: 32px;
    height: 22px;
    background-position: -509px -5px;
}

.itemsprite2-winter_stocking {
    width: 32px;
    height: 22px;
    background-position: -509px -37px;
}

.itemsprite2-winter_woolies {
    width: 32px;
    height: 22px;
    background-position: -509px -69px;
}

.itemsprite2-wraith_band {
    width: 32px;
    height: 23px;
    background-position: -509px -101px;
}

.itemsprite2-yasha {
    width: 32px;
    height: 23px;
    background-position: -509px -134px;
}
