html, body {
	height: 100%;
	margin:0;
}
html {
    overflow-y: scroll; 
}
body {
	background-color:#131415;
	color:#979aa2;
	letter-spacing:.2px;
	line-height:1.5em;
}
footer, .push {
	text-align:center;
	height: 150px; /* .push must be the same height as .footer */
	font-size:8pt;
    margin-top:30px;
}
footer > p {
	margin:0px;
}
footer > img {
	display:block;
	margin:auto;
}
hr {
	border-top:1px solid #1c1d1f;
}
table.highlight-row tbody tr:hover {
    background-color: #1c1d1f;
}
.column-item-info {
    padding-left: 10px;
	overflow: hidden;
}
a.column-item {
    display: inline-block;
    color: #979aa2;
	margin-bottom: 20px;
	width: 100%;
}
a.column-item:hover, a.column-item:focus {
    color: #2a6496;
}
a.column-item img {
    width: 90px;
}
.overlay-hover:hover {
	opacity: .15;
}
.overlay-hover {
	background: linear-gradient(to bottom, white, black);
	opacity: 0;
}
.well {
    background-color: #131415;
    border: 1px solid #303239;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .toggled {
    color: #aaa;
    background-color: #202126;
    border-color: #6C707B;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #1c1d1f;
    border-color: #303239;
}
.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #202123;
}
.showColumn {
	background-color:#202123 !important;
}
.hideColumn {
	background-color:#131415 !important;
}
.nav-tabs>li>a:hover {
    border-color: #303236;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #303236;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2C8CE0;
    background-color: #131415;
    border: 1px solid #303239;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs {
border-bottom: 1px solid #202126;
}
.label-primary {
	background-color:#202123;
	color: #979aa2;
}
.form-control {
    border: 1px solid #303239;
    color: #2C8CE0;
    background-color: #131415;
}
.progress {
    background-color:#202126;
}
.thumbnail {
    background-color: #131415;
    border: 1px solid #202126;
}
.thumbnail .caption {
    color: #979aa2;
}
.pagination {
    margin: 0;
}
.pagination>li>a, .pagination>li>span {
    background-color: #131415;
    border: 1px solid #202124;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #202124;
    border-color: #202124;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #979aa2;
    background-color: #131415;
    border-color: #202124;
    cursor: not-allowed;
}
.btn-default {
	color: #979aa2;
	background-color: #131415;
	border-color: #303239;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px; /* the bottom margin is the negative value of the footer's height */
}
.jumbotron {
	background-color:#1c1d1f;
}
.navbar-brand  > div {
	width:190px;
	height:40px;
	position:absolute;
	top:5px;
	background:url("/media/images/header.png");
	background-repeat:no-repeat;
}
.navbar-default {
	background-color:#202124;
	border-color:#202124;
	background: linear-gradient(to bottom, #202124, #1c1d1f);
}
.navbar-default .navbar-nav > li > a {
	color:#979aa2;
	transition:.5s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color:#fff;
	background-color:transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color:#2C8CE0;
	background-color:#303236;
}
.dropdown-menu>li>a {
	color: #979aa2;
    padding:7px 20px;
}
.dropdown-menu {
	background-color:#131415;
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.5);
	box-shadow:0 6px 12px rgba(0,0,0,.5);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color:#2C8CE0;
	background-color:#202123;
}
.dropdown-menu .divider {
	background-color:#303236;
}
.dropdown-header {
	color:#fff;
    font-size:14px;
}
.page-community .navbar-default .navbar-nav>.li-community>a, .page-webapps .navbar-default .navbar-nav>.li-webapps>a, .page-heroes .navbar-default .navbar-nav>.li-heroes>a, .page-items .navbar-default .navbar-nav>.li-items>a, .page-guides .navbar-default .navbar-nav>.li-guides>a, .page-forums .navbar-default .navbar-nav>.li-forums>a {
	color:#2C8CE0;
	background-color:#303236;
}
.list-group-item {
    background-color:#131415;
    border:none;
}
.panel-default>.panel-heading {
    color:#979aa2;
    background-color:#202125;
    border-color:#202125;
}
.panel-default {
    border-color:#202125;
}
.panel {
    background-color:#131415;
}
.panel>.panel-body+.table {
    border-top:1px solid #202125;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top:1px solid #202125;
}
.modal-content {
    background-color: #1c1d1f;
}
.modal-header {
    border-bottom: 1px solid #303239;
}
.modal-footer {
    border-top: 1px solid #303239;
}
.input-group-addon {
    color: #979aa2;
    background-color: #1c1d1f;
    border: 1px solid #303239;
}
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .top-nav-menu .dropdown:hover .dropdown-menu {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}
.popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px;text-align:left;white-space:normal;background-color:#131415;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);background-clip:padding-box}
.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}
.popover-title{padding:8px 14px;margin:0;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}
.popover-content{padding:9px 14px}
.popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popover .arrow{border-width:11px}
.popover .arrow:after{border-width:10px;content:""}
.popover.top .arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#fff;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}
.popover.top .arrow:after{bottom:1px;margin-left:-10px;border-top-color:#131415;border-bottom-width:0;content:" "}
.popover.right .arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#fff;border-right-color:rgba(0,0,0,.25);border-left-width:0}
.popover.right .arrow:after{bottom:-10px;left:1px;border-right-color:#131415;border-left-width:0;content:" "}
.popover.bottom .arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#fff;border-bottom-color:rgba(0,0,0,.25);border-top-width:0}
.popover.bottom .arrow:after{top:1px;margin-left:-10px;border-bottom-color:#131415;border-top-width:0;content:" "}
.popover.left .arrow{top:50%;right:-11px;margin-top:-11px;border-left-color:#fff;border-left-color:rgba(0,0,0,.25);border-right-width:0}
.popover.left .arrow:after{right:1px;bottom:-10px;border-left-color:#131415;border-right-width:0;content:" "}