html, body {
	height: 100%;
	margin:0;
}
html {
    overflow-y: scroll; 
}
.btn-default {
	color: #979aa2;
	background-color: #131415;
	border-color: #979aa2;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -160px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	text-align:center;
	height: 160px; /* .push must be the same height as .footer */
	font-size:8pt;
}
footer {
    padding-top:20px;
}
footer > div {
	font-family: 'Cinzel', serif;
	font-size:12pt;
	font-weight:bold;
	margin-bottom:5px;
}
footer > div > a {
	padding: 0px 5px 0px 5px;
	font-size:10pt;
	color:#7e2a2c;
}
footer  > div > a:hover {
	color:#7e2a2c;
}
footer > p {
	margin:5px;
}
footer > img {
	display:block;
	margin:auto;
}
.navbar-brand  > div {
	width:190px;
	height:40px;
	position:absolute;
	top:5px;
	background:url("{{ media_url('images/header.png') }}");
	background-repeat:no-repeat;
}
body {
	background-color:#131415;
	color:#979aa2;
	letter-spacing:.2px;
	line-height:1.5em;
}
.navbar-default {
	background-color:#202124;
	border-color:#303236;
}
.jumbotron {
	background-color:#1c1d1f;
}
.navbar-default .navbar-nav > li > a {
	color:#979aa2;
	transition:.5s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color:#fff;
	background-color:transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color:#2C8CE0;
	background-color:#303236;
}
.dropdown-menu>li>a {
	color: #979aa2;
}
.dropdown-menu {
	background-color:#131415;
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.5);
	box-shadow:0 6px 12px rgba(0,0,0,.5);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color:#2C8CE0;
	background-color:#202123;
}
.dropdown-menu .divider {
	background-color:#303236;
}
.page-community .navbar-default .navbar-nav>.li-community>a, .page-webapps .navbar-default .navbar-nav>.li-webapps>a, .page-heroes .navbar-default .navbar-nav>.li-heroes>a, .page-items .navbar-default .navbar-nav>.li-items>a, .page-guides .navbar-default .navbar-nav>.li-guides>a, .page-forums .navbar-default .navbar-nav>.li-forums>a {
	color:#2C8CE0;
	background-color:#303236;
}
.dropdown-header {
	color:#fff;
}
.list-group-item {
    background-color:#131415;
    border:none;
}
hr {
	border-top:1px solid #1c1d1f;
}
.panel-default>.panel-heading {
    color:#979aa2;
    background-color:#202125;
    border-color:#202125;
}
.panel-default {
    border-color:#202125;
}
.panel {
    background-color:#131415;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top:1px solid #202125;
}
.panel>.panel-body+.table {
    border-top:1px solid #202125;
}
.label-primary {
	background-color:#202123;
}
.popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px;text-align:left;white-space:normal;background-color:#131415;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);background-clip:padding-box}
.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}
.popover-title{padding:8px 14px;margin:0;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}
.popover-content{padding:9px 14px}
.popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popover .arrow{border-width:11px}
.popover .arrow:after{border-width:10px;content:""}
.popover.top .arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#fff;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}
.popover.top .arrow:after{bottom:1px;margin-left:-10px;border-top-color:#131415;border-bottom-width:0;content:" "}
.popover.right .arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#fff;border-right-color:rgba(0,0,0,.25);border-left-width:0}
.popover.right .arrow:after{bottom:-10px;left:1px;border-right-color:#131415;border-left-width:0;content:" "}
.popover.bottom .arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#fff;border-bottom-color:rgba(0,0,0,.25);border-top-width:0}
.popover.bottom .arrow:after{top:1px;margin-left:-10px;border-bottom-color:#131415;border-top-width:0;content:" "}
.popover.left .arrow{top:50%;right:-11px;margin-top:-11px;border-left-color:#fff;border-left-color:rgba(0,0,0,.25);border-right-width:0}
.popover.left .arrow:after{right:1px;bottom:-10px;border-left-color:#131415;border-right-width:0;content:" "}