html, body {
	height: 100%;
	margin:0;
}
html {
    overflow-y: scroll; 
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .top-nav-menu .dropdown:hover .dropdown-menu {
        display: block;
    }
    .mobile-only {
        display: none;
    }
}
.showColumn {
	background-color: #f5f5f5 !important;
}
}
.hideColumn {
	background-color: #fff !important;
}
.hero {
opacity:1;
filter:alpha(opacity=75); /* For IE8 and earlier */
}
.hero:hover {
opacity:0.75;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
.hero:active {
opacity:1;
filter:alpha(opacity=75); /* For IE8 and earlier */
}
.popover {
    background-color:white;
}
.popover.bottom .arrow:after {
    border-bottom-color:#white;
}
.popover.top .arrow:after {
    border-top-color:white;
}
.nav-tabs>li>a:hover {

}
.nav>li>a:hover, .nav>li>a:focus {

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {



}
.nav-tabs {

}
.label-primary {


}
.form-control {

}
.form-control {


}
.progress {

}
.thumbnail {


}
.thumbnail .caption {

}
.pagination {
margin: 0;
}
.pagination>li>a, .pagination>li>span {


}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {


}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {



cursor: not-allowed;
}
.btn-default {



}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -180px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	text-align:center;
	height: 150px; /* .push must be the same height as .footer */
	font-size:8pt;
    margin-top:30px;
}
footer > p {
	margin:0px;
}
footer > img {
	display:block;
	margin:auto;
}
.navbar-brand  > div {
	width:190px;
	height:40px;
	position:absolute;
	top:5px;
	background:url("/media/images/header.png");
	background-repeat:no-repeat;
}
body {


	letter-spacing:.2px;
	line-height:1.5em;
}
.navbar-default {


}
.jumbotron {

}
.navbar-default .navbar-nav > li > a {

	transition:.5s;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {

	background-color:transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {


}
.dropdown-menu>li>a {

    padding:7px 20px;
}
.dropdown-menu {

	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.5);
	box-shadow:0 6px 12px rgba(0,0,0,.5);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {


}
.dropdown-menu .divider {

}
.page-community .navbar-default .navbar-nav>.li-community>a, .page-webapps .navbar-default .navbar-nav>.li-webapps>a, .page-heroes .navbar-default .navbar-nav>.li-heroes>a, .page-items .navbar-default .navbar-nav>.li-items>a, .page-guides .navbar-default .navbar-nav>.li-guides>a, .page-forums .navbar-default .navbar-nav>.li-forums>a {


}
.dropdown-header {

    font-size:14px;
}
.list-group-item {

    border:none;
}
hr {

}
.panel-default>.panel-heading {



}
.panel-default {

}
.panel {

}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {

}
.panel>.panel-body+.table {

}
.label-primary > a {
    color:white;
}