@import 'bootstrap/bootstrap-custom';
@import 'footer';
@import 'abilitymatching';
@import 'herodata';
@import 'heroes';
@import 'patchhistory';
@import 'items';
@import 'itemsall';

// dota2/heroes/lore.html
.portraitsprite {
margin: auto;
}
.form-inline .form-control {
width: 100%;
}
@media (min-width: 768px) {
.form-inline .form-group {
width: 45%;
}
}
.well {
padding: 5px;
margin: 3px;
margin-bottom: 6px;
}
.glyphicon {
top: 2px;
}
.dropdown-menu {
min-width: 320px;
}
li.table-columns {
width:50%;
float:left;
}

// dota2/mosaics/index.html
.slick-slide > img {
    padding: 5px;
    width: 100%;
    cursor: pointer;
}
.slick-carousel-nav {
    margin: 25px;
}

// dota2/index.html
.slick-slide > img {
    padding: 5px;
    width: 100%;
    cursor: pointer;
}
.slick-carousel {
    margin: 25px;
}

// dota2/apps/item-scramble.html
.component {
    cursor:move;
    opacity:1;
}
#components-container {
    position:relative;
    min-height:400px;
}
#components-container > div {
    float:left;
    position:absolute;
}
#upgrades-container {
    height:64px;
    background-color:#1c1d1f;
    margin-bottom:10px;
}
.combined {
    opacity:.5;
}

// dota2/apps/hero-selection-trainer.html
.hero {
    margin:1px;
    width:73px;
    display:inline-block;
}
.hero:hover {
    cursor:hand;
    cursor:pointer;
}
#info {
	padding-top:10px;
    text-align:center;
    display:inline-block;
}
#hero_name {
    min-height:1.1em;
}
#start, #stop {
    margin-top:20px;
}
#start, #stop, #layout {
    width:250px;
    margin-left:auto;
    margin-right:auto;
}

// dota2/apps/trivia/abilitytrivia.html
.btn {
	line-height:3em;
	font-weight:bold;
}
@media (max-width: 767px) {
    .btn {
        line-height:1em;
    }
    #hero {
        display:none;
    }
    h4 {
        font-size:14px;
    }
    header {
        display:none;
    }
}

// dota2/apps/trivia/item-cost.html
// dota2/apps/trivia/item-name.html
// dota2/apps/trivia/hero-name.html
// dota2/apps/trivia/ability-name.html
.btn {
	line-height:3em;
	font-weight:bold;
}
@media (max-width: 767px) {
    .btn {
        line-height:1em;
    }
    h4 {
        font-size:14px;
    }
    header {
        display:none;
    }
}