---
extends: root.j2
title: Dota 2 Layout Editor
description: Dota 2 Layout Editor. Import, create, edit, and export Dota 2 hero selection layouts.
active_menu: page-webapps
header: Hero Layout Editor
---

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="layout-editor.css" />
{% endblock head %}

{% block body %}
    <div id="wrapper" data-bind="style: { backgroundImage: backgroundImage }">
        <div id="selection-area" data-bind="style: { 'width': backgroundWidth }">
            <div id="container" data-bind="style: { 'margin-left': marginLeft }"></div>
        </div>
        <div class="controls-wrapper">
            <div id="controls-top" class="controls" data-bind="style: { 'width': backgroundWidth2 }">
                <div class="control-group">
                    <strong>CARD</strong>
                    <div class="control-group bottom-buffer">
                        <span title="Select hero based on input.">Find: </span><span class="ui-spinner ui-widget ui-widget-content ui-corner-all"><input type="text" id="card-search" class="ui-spinner-input" value="" data-bind="textInput: search" title="Select hero based on input." /></span>
                    </div>
                    <div class="control-group bottom-buffer" title="Card position from left boundary.">
                        <span>X: </span><input type="text" id="card-x" value="" data-bind="spinner: selectedCardX, spinnerOptions: { min: 0, max: 1632 }" />
                    </div>
                    <div class="control-group bottom-buffer" title="Card position from top boundary.">
                        <span>Y: </span><input type="text" id="card-y" value="" data-bind="spinner: selectedCardY, spinnerOptions: { min: 0, max: 550 }" />
                    </div>
                    <div class="control-group bottom-buffer" title="Card z position. Cards with larger z values will appear above smaller z values.">
                        <span>Depth: </span><input type="text" id="card-depth" value="" data-bind="spinner: selectedCardZPos" />
                    </div>
                    <div class="control-group bottom-buffer">
                        <span title="Card size.">Scale: </span><input type="text" id="card-scale" value="" data-bind="spinner: selectedCardScale, spinnerOptions: { step: .1 }" title="Card size." />
                        <input type="button" id="card-reset" value="Reset" data-bind="click: reset" title="Resets card size." />
                    </div>
                    <div class="control-group bottom-buffer">
                        <input type="button" id="snap-selection" value="Snap" data-bind="click: snapSelection" title="Snaps card to grid." />
                        <input type="button" id="unsnap-selection" value="Unsnap" data-bind="click: unsnapSelection" title="Frees card from grid." />
                    </div>
                    <div class="control-group bottom-buffer">
                        <input type="button" id="card-swap" value="Swap" data-bind="click: swapSelection" title="Swaps positions of two selected cards." />
                    </div>
                    <div class="control-group bottom-buffer" title="Number of selected items.">
                        <span>Selected: </span><span id="selection-count" data-bind="text: selectedCount" ></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="controls-wrapper">
            <div class="controls-bottom controls border-top">
                <div class="control-group">
                    <strong>GRID</strong>
                    <div class="control-group bottom-buffer" title="Grid width.">
                        Width: <input type="text" id="grid-width" value="100" data-bind="spinner: gridWidth, spinnerOptions: { min: 1 }" />
                    </div>
                    <div class="control-group bottom-buffer" title="Grid height.">
                        Height: <input type="text" id="grid-height" value="100" data-bind="spinner: gridHeight, spinnerOptions: { min: 1 }" />
                    </div>
                    <div class="control-group bottom-buffer" title="Toggle grid display.">
                        <label class="btn checkbox" for="grid-show">
                            <input type="checkbox" id="grid-show" name="grid-show" data-bind="checked: gridShow">
                            <span>Show Grid</span>
                        </label>
                    </div>
                    <div class="control-group bottom-buffer" title="Toggle card swapping. When enabled, selecting two cards will automatically swap them.">
                        <label class="btn checkbox" for="card-swap-mode">
                            <input type="checkbox" id="card-swap-mode" name="card-swap-mode" data-bind="checked: swap">
                            <span>Swap Mode</span>
                        </label>
                    </div>
                    <div class="control-group bottom-buffer">
                        <input type="button" id="undo" value="Undo" data-bind="click: undo" title="Undo edits." />
                        <input type="button" id="redo" value="Redo" data-bind="click: redo" title="Redo edits." />
                        <input type="button" id="clear-history" value="Clear History" data-bind="click: clearHistory" title="Clears history of edits." />
                        <span class="padding-left">History: </span><span id="history-count" data-bind="text: historyCount" title="Size of edit history."></span>
                    </div>
                </div>
            </div>
            <div class="controls-bottom controls">
                <div class="control-group">
                    <strong>LAYOUT</strong>
                    <div class="control-group bottom-buffer" title="Layout file aspect ratio.">
                        <span>Aspect Ratio</span>
                        <span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
                            <select id="aspect-ratio" class="ui-spinner-input" data-bind="value: aspectRatio">
                                <option value="4x3">4:3</option>
                                <option value="16x9" selected="selected">16:9</option>
                                <option value="16x10">16:10</option>
                            </select>
                        </span>
                    </div>
                    <div class="control-group bottom-buffer" title="Import layout file.">
                        <div class="file-upload btn">
                            <span>Import</span>
                            <input type="file" id="import-layout" class="upload" />
                        </div>
                        <span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
                            <input type="text" id="upload-file" class="ui-spinner-input ui-state-disabled" placeholder="Imported file" disabled="disabled" />
                        </span>
                    </div>
                    <div class="control-group bottom-buffer">
                        <input type="button" id="export-layout" value="Export" data-bind="click: exportLayout" title="Generates layout file download." />
                        <a id="download-link" class="btn" download="fulldeck_layout.txt" data-bind="attr: { href: downloadLink}, visible: downloadLink() != ''" title="Exported layout file download link." style="display:none">Download</a>
                    </div>
                    <div class="control-group bottom-buffer" style="display:none">
                        <input type="button" id="share-layout" value="Share" data-bind="click: shareLayout" title="Generates a shareable link to this layout." />
                        <span class="ui-spinner ui-widget ui-widget-content ui-corner-all"><input type="text" id="share-link" class="ui-spinner-input" value="" data-bind="value: shareLink, visible: shareId() != ''" title="Shared layout file link." onclick="this.select()"/></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="instructions">
            <strong>KEYBOARD SHORTCUTS:</strong>
            <div><span class="shortcut-desc">Select All: </span><span class="shortcut-key"><b>CTRL</b> + <b>A</b></span></div>
            <div><span class="shortcut-desc">Depth +/-: </span><span class="shortcut-key"><b>K</b> / <b>J</b></span></div>
            <div><span class="shortcut-desc">Snap/Unsnap Selection: </span><span class="shortcut-key"><b>F</b></span></div>
            <div><span class="shortcut-desc">Nudge Card: </span><span class="shortcut-key"><b>W</b> / <b>A</b> / <b>S</b> / <b>D</b></span></div>
            <div><span class="shortcut-desc">Swap Cards: </span><span class="shortcut-key"><b>B</b></span></div>
            <div><span class="shortcut-desc">Toggle Show Grid: </span><span class="shortcut-key"><b>T</b></span></div>
            <div><span class="shortcut-desc">Toggle Swap Mode: </span><span class="shortcut-key"><b>G</b></span></div>
            <div><span class="shortcut-desc">Export Layout: </span><span class="shortcut-key"><b>E</b></span></div>
            <div><span class="shortcut-desc">Share Layout: </span><span class="shortcut-key"><b>Q</b></span></div>
            <div><span class="shortcut-desc">Undo/Redo: </span><span class="shortcut-key"><b>Z</b> / <b>X</b></span></div>
            <div><span class="shortcut-desc">Size +/-: </span><span class="shortcut-key"><b>C</b> / <b>V</b> or<br><b>MOUSE WHEEL</b></span></div>
            <div><span class="shortcut-desc">Reset Size: </span><span class="shortcut-key"><b>R</b></span></div>
            <div><span class="shortcut-desc">Add to Selection: </span><span class="shortcut-key">(<b>SHIFT</b> or <b>CTRL</b>) + (<b>CLICK</b> or <b>DRAG</b>)</span></div>
        </div>
    </div>
    
    {% block js %}
        {{ super() }}
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
        <script src="layout-editor.js"></script>
    {% endblock js %}
{% endblock body %}