[submodule "dota-mosaic"]
	path = dota-mosaic
	url = https://github.com/devilesk/dota-mosaic.git
[submodule "dota-webassets"]
	path = dota-webassets
	url = https://github.com/devilesk/dota-webassets.git
