.sprite2 {
    background-image: url(miniheroesspritesheet2.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-abaddon2 {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-alchemist2 {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.sprite-ancient_apparition2 {
    width: 16px;
    height: 16px;
    background-position: -57px -5px;
}

.sprite-antimage2 {
    width: 16px;
    height: 16px;
    background-position: -83px -5px;
}

.sprite-axe2 {
    width: 16px;
    height: 16px;
    background-position: -109px -5px;
}

.sprite-bane2 {
    width: 16px;
    height: 16px;
    background-position: -135px -5px;
}

.sprite-batrider2 {
    width: 16px;
    height: 16px;
    background-position: -161px -5px;
}

.sprite-beastmaster2 {
    width: 16px;
    height: 16px;
    background-position: -187px -5px;
}

.sprite-bloodseeker2 {
    width: 16px;
    height: 16px;
    background-position: -213px -5px;
}

.sprite-bm_earth2 {
    width: 16px;
    height: 16px;
    background-position: -239px -5px;
}

.sprite-bm_fire2 {
    width: 16px;
    height: 16px;
    background-position: -5px -31px;
}

.sprite-bm_storm2 {
    width: 16px;
    height: 16px;
    background-position: -31px -31px;
}

.sprite-bounty_hunter2 {
    width: 16px;
    height: 16px;
    background-position: -57px -31px;
}

.sprite-brewmaster2 {
    width: 16px;
    height: 16px;
    background-position: -83px -31px;
}

.sprite-bristleback2 {
    width: 16px;
    height: 16px;
    background-position: -109px -31px;
}

.sprite-broodmother2 {
    width: 16px;
    height: 16px;
    background-position: -135px -31px;
}

.sprite-centaur2 {
    width: 16px;
    height: 16px;
    background-position: -161px -31px;
}

.sprite-chaos_knight2 {
    width: 16px;
    height: 16px;
    background-position: -187px -31px;
}

.sprite-chen2 {
    width: 16px;
    height: 16px;
    background-position: -213px -31px;
}

.sprite-clinkz2 {
    width: 16px;
    height: 16px;
    background-position: -239px -31px;
}

.sprite-crystal_maiden2 {
    width: 16px;
    height: 16px;
    background-position: -5px -57px;
}

.sprite-dark_seer2 {
    width: 16px;
    height: 16px;
    background-position: -31px -57px;
}

.sprite-dazzle2 {
    width: 16px;
    height: 16px;
    background-position: -57px -57px;
}

.sprite-death_prophet2 {
    width: 16px;
    height: 16px;
    background-position: -83px -57px;
}

.sprite-disruptor2 {
    width: 16px;
    height: 16px;
    background-position: -109px -57px;
}

.sprite-doom2 {
    width: 16px;
    height: 16px;
    background-position: -135px -57px;
}

.sprite-doom_bringer2 {
    width: 16px;
    height: 16px;
    background-position: -161px -57px;
}

.sprite-dragon_knight2 {
    width: 16px;
    height: 16px;
    background-position: -187px -57px;
}

.sprite-drow2 {
    width: 16px;
    height: 16px;
    background-position: -213px -57px;
}

.sprite-drow_ranger2 {
    width: 16px;
    height: 16px;
    background-position: -239px -57px;
}

.sprite-earthshaker2 {
    width: 16px;
    height: 16px;
    background-position: -5px -83px;
}

.sprite-elder_titan2 {
    width: 16px;
    height: 16px;
    background-position: -31px -83px;
}

.sprite-enchantress2 {
    width: 16px;
    height: 16px;
    background-position: -57px -83px;
}

.sprite-enigma2 {
    width: 16px;
    height: 16px;
    background-position: -83px -83px;
}

.sprite-faceless_void2 {
    width: 16px;
    height: 16px;
    background-position: -109px -83px;
}

.sprite-furion2 {
    width: 16px;
    height: 16px;
    background-position: -135px -83px;
}

.sprite-gyrocopter2 {
    width: 16px;
    height: 16px;
    background-position: -161px -83px;
}

.sprite-huskar2 {
    width: 16px;
    height: 16px;
    background-position: -187px -83px;
}

.sprite-invoker2 {
    width: 16px;
    height: 16px;
    background-position: -213px -83px;
}

.sprite-jakiro2 {
    width: 16px;
    height: 16px;
    background-position: -239px -83px;
}

.sprite-juggernaut2 {
    width: 16px;
    height: 16px;
    background-position: -5px -109px;
}

.sprite-keeper_of_the_light2 {
    width: 16px;
    height: 16px;
    background-position: -31px -109px;
}

.sprite-kunkka2 {
    width: 16px;
    height: 16px;
    background-position: -57px -109px;
}

.sprite-lanaya2 {
    width: 16px;
    height: 16px;
    background-position: -83px -109px;
}

.sprite-legion_commander2 {
    width: 16px;
    height: 16px;
    background-position: -109px -109px;
}

.sprite-leshrac2 {
    width: 16px;
    height: 16px;
    background-position: -135px -109px;
}

.sprite-lich2 {
    width: 16px;
    height: 16px;
    background-position: -161px -109px;
}

.sprite-life_stealer2 {
    width: 16px;
    height: 16px;
    background-position: -187px -109px;
}

.sprite-lina2 {
    width: 16px;
    height: 16px;
    background-position: -213px -109px;
}

.sprite-lina_alt12 {
    width: 16px;
    height: 16px;
    background-position: -239px -109px;
}

.sprite-lion2 {
    width: 16px;
    height: 16px;
    background-position: -5px -135px;
}

.sprite-lone_druid2 {
    width: 16px;
    height: 16px;
    background-position: -31px -135px;
}

.sprite-luna2 {
    width: 16px;
    height: 16px;
    background-position: -57px -135px;
}

.sprite-lycan2 {
    width: 16px;
    height: 16px;
    background-position: -83px -135px;
}

.sprite-magnataur2 {
    width: 16px;
    height: 16px;
    background-position: -109px -135px;
}

.sprite-medusa2 {
    width: 16px;
    height: 16px;
    background-position: -135px -135px;
}

.sprite-meepo2 {
    width: 16px;
    height: 16px;
    background-position: -161px -135px;
}

.sprite-mirana2 {
    width: 16px;
    height: 16px;
    background-position: -187px -135px;
}

.sprite-morphling2 {
    width: 16px;
    height: 16px;
    background-position: -213px -135px;
}

.sprite-naga_siren2 {
    width: 16px;
    height: 16px;
    background-position: -239px -135px;
}

.sprite-necrolyte2 {
    width: 16px;
    height: 16px;
    background-position: -5px -161px;
}

.sprite-nevermore2 {
    width: 16px;
    height: 16px;
    background-position: -31px -161px;
}

.sprite-night_stalker2 {
    width: 16px;
    height: 16px;
    background-position: -57px -161px;
}

.sprite-nyx_assassin2 {
    width: 16px;
    height: 16px;
    background-position: -83px -161px;
}

.sprite-obsidian_destroyer2 {
    width: 16px;
    height: 16px;
    background-position: -109px -161px;
}

.sprite-ogre_magi2 {
    width: 16px;
    height: 16px;
    background-position: -135px -161px;
}

.sprite-omniknight2 {
    width: 16px;
    height: 16px;
    background-position: -161px -161px;
}

.sprite-phantom_assassin2 {
    width: 16px;
    height: 16px;
    background-position: -187px -161px;
}

.sprite-phantom_lancer2 {
    width: 16px;
    height: 16px;
    background-position: -213px -161px;
}

.sprite-puck2 {
    width: 16px;
    height: 16px;
    background-position: -239px -161px;
}

.sprite-pudge2 {
    width: 16px;
    height: 16px;
    background-position: -5px -187px;
}

.sprite-pugna2 {
    width: 16px;
    height: 16px;
    background-position: -31px -187px;
}

.sprite-queenofpain2 {
    width: 16px;
    height: 16px;
    background-position: -57px -187px;
}

.sprite-rattletrap2 {
    width: 16px;
    height: 16px;
    background-position: -83px -187px;
}

.sprite-razor2 {
    width: 16px;
    height: 16px;
    background-position: -109px -187px;
}

.sprite-riki2 {
    width: 16px;
    height: 16px;
    background-position: -135px -187px;
}

.sprite-rikimaru2 {
    width: 16px;
    height: 16px;
    background-position: -161px -187px;
}

.sprite-roshan2 {
    width: 16px;
    height: 16px;
    background-position: -187px -187px;
}

.sprite-rubick2 {
    width: 16px;
    height: 16px;
    background-position: -213px -187px;
}

.sprite-sand_king2 {
    width: 16px;
    height: 16px;
    background-position: -239px -187px;
}

.sprite-sandking2 {
    width: 16px;
    height: 16px;
    background-position: -5px -213px;
}

.sprite-shadow_demon2 {
    width: 16px;
    height: 16px;
    background-position: -31px -213px;
}

.sprite-shadow_shaman2 {
    width: 16px;
    height: 16px;
    background-position: -57px -213px;
}

.sprite-shredder2 {
    width: 16px;
    height: 16px;
    background-position: -83px -213px;
}

.sprite-silencer2 {
    width: 16px;
    height: 16px;
    background-position: -109px -213px;
}

.sprite-skeleton_king2 {
    width: 16px;
    height: 16px;
    background-position: -135px -213px;
}

.sprite-skywrath_mage2 {
    width: 16px;
    height: 16px;
    background-position: -161px -213px;
}

.sprite-slardar2 {
    width: 16px;
    height: 16px;
    background-position: -187px -213px;
}

.sprite-slark2 {
    width: 16px;
    height: 16px;
    background-position: -213px -213px;
}

.sprite-sniper2 {
    width: 16px;
    height: 16px;
    background-position: -239px -213px;
}

.sprite-spectre2 {
    width: 16px;
    height: 16px;
    background-position: -5px -239px;
}

.sprite-spirit_break2 {
    width: 16px;
    height: 16px;
    background-position: -31px -239px;
}

.sprite-spirit_breaker2 {
    width: 16px;
    height: 16px;
    background-position: -57px -239px;
}

.sprite-storm_spirit2 {
    width: 16px;
    height: 16px;
    background-position: -83px -239px;
}

.sprite-sven2 {
    width: 16px;
    height: 16px;
    background-position: -109px -239px;
}

.sprite-templar_assassin2 {
    width: 16px;
    height: 16px;
    background-position: -135px -239px;
}

.sprite-tidehunter2 {
    width: 16px;
    height: 16px;
    background-position: -161px -239px;
}

.sprite-tinker2 {
    width: 16px;
    height: 16px;
    background-position: -187px -239px;
}

.sprite-tiny2 {
    width: 16px;
    height: 16px;
    background-position: -213px -239px;
}

.sprite-treant2 {
    width: 16px;
    height: 16px;
    background-position: -239px -239px;
}

.sprite-troll_warlord2 {
    width: 16px;
    height: 16px;
    background-position: -265px -5px;
}

.sprite-tusk2 {
    width: 16px;
    height: 16px;
    background-position: -265px -31px;
}

.sprite-undying2 {
    width: 16px;
    height: 16px;
    background-position: -265px -57px;
}

.sprite-ursa2 {
    width: 16px;
    height: 16px;
    background-position: -265px -83px;
}

.sprite-vengefulspirit2 {
    width: 16px;
    height: 16px;
    background-position: -265px -109px;
}

.sprite-venomancer2 {
    width: 16px;
    height: 16px;
    background-position: -265px -135px;
}

.sprite-viper2 {
    width: 16px;
    height: 16px;
    background-position: -265px -161px;
}

.sprite-visage2 {
    width: 16px;
    height: 16px;
    background-position: -265px -187px;
}

.sprite-ward_observer2 {
    width: 16px;
    height: 16px;
    background-position: -265px -213px;
}

.sprite-ward_sentry2 {
    width: 16px;
    height: 16px;
    background-position: -265px -239px;
}

.sprite-warlock2 {
    width: 16px;
    height: 16px;
    background-position: -5px -265px;
}

.sprite-weaver2 {
    width: 16px;
    height: 16px;
    background-position: -31px -265px;
}

.sprite-windrunner2 {
    width: 16px;
    height: 16px;
    background-position: -57px -265px;
}

.sprite-wisp2 {
    width: 16px;
    height: 16px;
    background-position: -83px -265px;
}

.sprite-witch_doctor2 {
    width: 16px;
    height: 16px;
    background-position: -109px -265px;
}

.sprite-zuus2 {
    width: 16px;
    height: 16px;
    background-position: -135px -265px;
}
