---
extends: root.j2
title: devilesk.com
description: devilesk's personal website and Dota 2 content.
---

{% block head %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <style type="text/css">
        html, body {
            background-color: #101010;
            color:#121212;
            text-align:center;
            height:100%;
            font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
            margin:0;
            font-size: 24px;
        }
        body {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            align-items: center;
        }
        #container {
            flex: 1;
        }
        .dota {
            font-family: 'Cinzel', serif;
        }
        a:link {
            padding:10px;
            transition: 0.5s ease;
            color:#8a2729;
            text-decoration:none;
            display:inline-block;
            font-weight:bold;
            letter-spacing: 3px;
        }
        a:visited {
            color:#8a2729;
        }
        a:hover {
            transition: 0.5s ease;
            color: #ffe9ea;
        }
        h1 {
            font-size:4em;
            letter-spacing:.2em;
        }
        @media only screen and (max-width : 768px) {
            h1 {
                font-size:2em;
            }
        }
    </style>
{% endblock head %}

{% block body %}
<div id="container">
    <a href="/dota2/" class="dota"><h1>DOTA 2</h1></a>
    <div>
        <a href="http://www.youtube.com/user/devilesk">YOUTUBE</a>
        <a href="http://www.twitch.tv/devilesk">TWITCH</a>
        <a href="http://www.twitter.com/devilesk">TWITTER</a>
        <a href="http://steamcommunity.com/id/devilesk/">STEAM</a>
    </div>
</div>
{% include "includes/analytics.j2" %}
{% endblock body %}
