---
extends: basewide.j2
title: Dota 2 Heroes
description: Listing of all heroes currently in Dota 2.
active_menu: page-heroes
header: Heroes
container_fluid: true
---

{% block page_head %}
<link rel="stylesheet" href="{{ media_url('spritesheets/css/portraits_64x84_sprite_jpg.css') }}">
{% endblock page_head %}

{% block container %}
<div id="main" role="main">
    <header class="banner clearfix">
        {% block header %}
            {% if resource.meta.header %}<h2 class="text-center">{{ resource.meta.header }}</h2>{% endif %}
        {% endblock header %}
    </header>
    <section class="content">
        <div class="col-md-12 attribute-section">
            <div class="hero-block strength">
                {% for hero in herodatalist|selectattr('attributeprimary', 'equalto', 'DOTA_ATTRIBUTE_STRENGTH')|sort(attribute='displayname') -%}
                <a class="hero" href="/dota2/heroes/{{ hero.name|replace('npc_dota_hero_', '') }}">
                    <div class="portraits-sprite-{{ hero.name }} portraits-sprite-64x84" title="{{ hero.displayname }}"></div>
                </a>
                {%- endfor %}
            </div>
        </div>

        <div class="col-md-12 attribute-section">
            <div class="hero-block agility">
                {% for hero in herodatalist|selectattr('attributeprimary', 'equalto', 'DOTA_ATTRIBUTE_AGILITY')|sort(attribute='displayname') -%}
                <a class="hero" href="/dota2/heroes/{{ hero.name|replace('npc_dota_hero_', '') }}">
                    <div class="portraits-sprite-{{ hero.name }} portraits-sprite-64x84" title="{{ hero.displayname }}"></div>
                </a>
                {%- endfor %}
            </div>
        </div>

        <div class="col-md-12 attribute-section">
            <div class="hero-block intelligence">
                {% for hero in herodatalist|selectattr('attributeprimary', 'equalto', 'DOTA_ATTRIBUTE_INTELLECT')|sort(attribute='displayname') -%}
                <a class="hero" href="/dota2/heroes/{{ hero.name|replace('npc_dota_hero_', '') }}">
                    <div class="portraits-sprite-{{ hero.name }} portraits-sprite-64x84" title="{{ hero.displayname }}"></div>
                </a>
                {%- endfor %}
            </div>
        </div>

        <div class="col-md-offset-4 col-md-4">
            <div class="form-group">
                <label>Search:</label>
                <input type="text" id="search" class="form-control"></input>
            </div>
        </div>
    </section>
</div>
{% endblock container %}

{% block scripts %}
<script type="text/javascript">
    $(function () {
        $('#search').keyup(function () {
            var searchVal = $(this).val().toLowerCase();
            $(".hero").removeClass('no-match');
            $(".hero").filter(function( index ) {
                var s = $(this).find('.portraits-sprite-64x84').attr('title').toLowerCase();
                return $(this).attr('href').toLowerCase().indexOf(searchVal) === -1 && s.indexOf(searchVal) === -1 && s.match(/\b(\w)/g).join('').indexOf(searchVal) === -1;
            }).addClass('no-match');
        });
    });
</script>
{% endblock scripts %}