---
extends: base.j2
title: Dota 2 Heroes
description: Listing of all heroes currently in Dota 2.
active_menu: page-heroes
header: Heroes
---

{% block custom_css %}
<link rel="stylesheet" href="{{ media_url('css/heroes.css') }}">
<style type="text/css">
.attribute-section {
	text-align: center;
}
.hero-block {
	margin-top: 5px;
	margin-bottom: 10px;
	display: inline-block;
}
@media (min-width: 1600px) {
	.hero-block {
		width: 504px;
	}
}
.hero {
    width:68px;
    float: left;
	margin: 2px;
	text-decoration: none;
}
.hero-overlay {
	width: 68px;
	height: 67px;
	position:absolute;
}
.hero div {
	box-shadow: inset 0 0 10px #000000;
}
.header-wrapper {
	text-align:center;
}
.header-wrapper > img {
    width: 32px;
}
.header-wrapper > span {
	font-size:16px;
	font-weight:bold;
}
</style>
{% endblock custom_css %}
{% block content2 %}
<div class="col-md-12">
	{% block container %}
	<div id="main" role="main">
		<header class="banner clearfix">
			{% block header %}
				{% if resource.meta.header %}<h2 class="text-center">{{ resource.meta.header }}</h2>{% endif %}
			{% endblock header %}
		</header>
		<section class="content">
			<div class="col-md-4 attribute-section">
				<div class="header-wrapper"><img width="32" height="32" src="/media/images/pip_str.png"><span>Strength</span>
				</div>
				
				<div class="hero-block">
					<a class="hero" href="/dota2/heroes/earthshaker">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-earthshaker" title="Earthshaker"></div>
					</a>
					<a class="hero" href="/dota2/heroes/sven">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-sven" title="Sven"></div>
					</a>
					<a class="hero" href="/dota2/heroes/tiny">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-tiny" title="Tiny"></div>
					</a>
					<a class="hero" href="/dota2/heroes/kunkka">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-kunkka" title="Kunkka"></div>
					</a>
					<a class="hero" href="/dota2/heroes/beastmaster">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-beastmaster" title="Beastmaster"></div>
					</a>
					<a class="hero" href="/dota2/heroes/dragon_knight">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-dragon_knight" title="Dragon Knight"></div>
					</a>
					<a class="hero" href="/dota2/heroes/rattletrap">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-rattletrap" title="Clockwerk"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/omniknight">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-omniknight" title="Omniknight"></div>
					</a>
					<a class="hero" href="/dota2/heroes/huskar">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-huskar" title="Huskar"></div>
					</a>
					<a class="hero" href="/dota2/heroes/alchemist">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-alchemist" title="Alchemist"></div>
					</a>
					<a class="hero" href="/dota2/heroes/brewmaster">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-brewmaster" title="Brewmaster"></div>
					</a>
					<a class="hero" href="/dota2/heroes/treant">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-treant" title="Treant Protector"></div>
					</a>
					<a class="hero" href="/dota2/heroes/wisp">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-wisp" title="Io"></div>
					</a>
					<a class="hero" href="/dota2/heroes/centaur">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-centaur" title="Centaur Warrunner"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/shredder">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-shredder" title="Timbersaw"></div>
					</a>
					<a class="hero" href="/dota2/heroes/bristleback">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-bristleback" title="Bristleback"></div>
					</a>
					<a class="hero" href="/dota2/heroes/tusk">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-tusk" title="Tusk"></div>
					</a>
					<a class="hero" href="/dota2/heroes/elder_titan">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-elder_titan" title="Elder Titan"></div>
					</a>
					<a class="hero" href="/dota2/heroes/legion_commander">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-legion_commander" title="Legion Commander"></div>
					</a>
					<a class="hero" href="/dota2/heroes/earth_spirit">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-earth_spirit" title="Earth Spirit"></div>
					</a>
					<a class="hero" href="/dota2/heroes/phoenix">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-phoenix" title="Phoenix"></div>
					</a>
				</div>
				<div class="hero-block">
					<a class="hero" href="/dota2/heroes/axe">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-axe" title="Axe"></div>
					</a>
					<a class="hero" href="/dota2/heroes/pudge">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-pudge" title="Pudge"></div>
					</a>
					<a class="hero" href="/dota2/heroes/sand_king">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-sand_king" title="Sand King"></div>
					</a>
					<a class="hero" href="/dota2/heroes/slardar">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-slardar" title="Slardar"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/tidehunter">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-tidehunter" title="Tidehunter"></div>
					</a>
					<a class="hero" href="/dota2/heroes/skeleton_king">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-skeleton_king" title="Wraith King"></div>
					</a>
					<a class="hero" href="/dota2/heroes/life_stealer">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-life_stealer" title="Lifestealer"></div>
					</a>
					<a class="hero" href="/dota2/heroes/night_stalker">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-night_stalker" title="Night Stalker"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/doom_bringer">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-doom_bringer" title="Doom"></div>
					</a>
					<a class="hero" href="/dota2/heroes/spirit_breaker">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-spirit_breaker" title="Spirit Breaker"></div>
					</a>
					<a class="hero" href="/dota2/heroes/lycan">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-lycan" title="Lycan"></div>
					</a>
					<a class="hero" href="/dota2/heroes/chaos_knight">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-chaos_knight" title="Chaos Knight"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/undying">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-undying" title="Undying"></div>
					</a>
					<a class="hero" href="/dota2/heroes/magnataur">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-magnataur" title="Magnus"></div>
					</a>
					<a class="hero" href="/dota2/heroes/abaddon">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-abaddon" title="Abaddon"></div>
					</a>

				</div>
			</div>

			<div class="col-md-4 attribute-section">
				<div class="header-wrapper"><img width="32" height="32" src="/media/images/pip_agi.png"><span>Agility</span>
				</div>
					<div class="hero-block">
					<a class="hero" href="/dota2/heroes/antimage">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-antimage" title="Anti-Mage"></div>
					</a>
					<a class="hero" href="/dota2/heroes/drow_ranger">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-drow_ranger" title="Drow Ranger"></div>
					</a>
					<a class="hero" href="/dota2/heroes/juggernaut">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-juggernaut" title="Juggernaut"></div>
					</a>
					<a class="hero" href="/dota2/heroes/mirana">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-mirana" title="Mirana"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/morphling">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-morphling" title="Morphling"></div>
					</a>
					<a class="hero" href="/dota2/heroes/phantom_lancer">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-phantom_lancer" title="Phantom Lancer"></div>
					</a>
					<a class="hero" href="/dota2/heroes/vengefulspirit">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-vengefulspirit" title="Vengeful Spirit"></div>
					</a>
					<a class="hero" href="/dota2/heroes/riki">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-riki" title="Riki"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/sniper">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-sniper" title="Sniper"></div>
					</a>
					<a class="hero" href="/dota2/heroes/templar_assassin">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-templar_assassin" title="Templar Assassin"></div>
					</a>
					<a class="hero" href="/dota2/heroes/luna">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-luna" title="Luna"></div>
					</a>
					<a class="hero" href="/dota2/heroes/bounty_hunter">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-bounty_hunter" title="Bounty Hunter"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/ursa">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-ursa" title="Ursa"></div>
					</a>
					<a class="hero" href="/dota2/heroes/gyrocopter">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-gyrocopter" title="Gyrocopter"></div>
					</a>
					<a class="hero" href="/dota2/heroes/lone_druid">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-lone_druid" title="Lone Druid"></div>
					</a>
					<a class="hero" href="/dota2/heroes/naga_siren">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-naga_siren" title="Naga Siren"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/troll_warlord">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-troll_warlord" title="Troll Warlord"></div>
					</a>
					<a class="hero" href="/dota2/heroes/ember_spirit">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-ember_spirit" title="Ember Spirit"></div>
					</a>
				</div>
				<div class="hero-block">
					<a class="hero" href="/dota2/heroes/bloodseeker">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-bloodseeker" title="Bloodseeker"></div>
					</a>
					<a class="hero" href="/dota2/heroes/nevermore">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-nevermore" title="Shadow Fiend"></div>
					</a>
					<a class="hero" href="/dota2/heroes/razor">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-razor" title="Razor"></div>
					</a>
					<a class="hero" href="/dota2/heroes/venomancer">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-venomancer" title="Venomancer"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/faceless_void">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-faceless_void" title="Faceless Void"></div>
					</a>
					<a class="hero" href="/dota2/heroes/phantom_assassin">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-phantom_assassin" title="Phantom Assassin"></div>
					</a>
					<a class="hero" href="/dota2/heroes/viper">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-viper" title="Viper"></div>
					</a>
					<a class="hero" href="/dota2/heroes/clinkz">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-clinkz" title="Clinkz"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/broodmother">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-broodmother" title="Broodmother"></div>
					</a>
					<a class="hero" href="/dota2/heroes/weaver">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-weaver" title="Weaver"></div>
					</a>
					<a class="hero" href="/dota2/heroes/spectre">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-spectre" title="Spectre"></div>
					</a>
					<a class="hero" href="/dota2/heroes/meepo">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-meepo" title="Meepo"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/nyx_assassin">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-nyx_assassin" title="Nyx Assassin"></div>
					</a>
					<a class="hero" href="/dota2/heroes/slark">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-slark" title="Slark"></div>
					</a>
					<a class="hero" href="/dota2/heroes/medusa">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-medusa" title="Medusa"></div>
					</a>
					<a class="hero" href="/dota2/heroes/terrorblade">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-terrorblade" title="Terrorblade"></div>
					</a>

				</div>
			</div>

			<div class="col-md-4 attribute-section">
				<div class="header-wrapper"><img width="32" height="32" src="/media/images/pip_int.png"><span>Intelligence</span>
				</div>
					<div class="hero-block">
					<a class="hero" href="/dota2/heroes/crystal_maiden">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-crystal_maiden" title="Crystal Maiden"></div>
					</a>
					<a class="hero" href="/dota2/heroes/puck">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-puck" title="Puck"></div>
					</a>
					<a class="hero" href="/dota2/heroes/storm_spirit">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-storm_spirit" title="Storm Spirit"></div>
					</a>
					<a class="hero" href="/dota2/heroes/windrunner">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-windrunner" title="Windranger"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/zuus">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-zuus" title="Zeus"></div>
					</a>
					<a class="hero" href="/dota2/heroes/lina">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-lina" title="Lina"></div>
					</a>
					<a class="hero" href="/dota2/heroes/shadow_shaman">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-shadow_shaman" title="Shadow Shaman"></div>
					</a>
					<a class="hero" href="/dota2/heroes/tinker">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-tinker" title="Tinker"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/furion">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-furion" title="Nature's Prophet"></div>
					</a>
					<a class="hero" href="/dota2/heroes/enchantress">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-enchantress" title="Enchantress"></div>
					</a>
					<a class="hero" href="/dota2/heroes/jakiro">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-jakiro" title="Jakiro"></div>
					</a>
					<a class="hero" href="/dota2/heroes/chen">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-chen" title="Chen"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/silencer">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-silencer" title="Silencer"></div>
					</a>
					<a class="hero" href="/dota2/heroes/ogre_magi">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-ogre_magi" title="Ogre Magi"></div>
					</a>
					<a class="hero" href="/dota2/heroes/rubick">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-rubick" title="Rubick"></div>
					</a>
					<a class="hero" href="/dota2/heroes/disruptor">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-disruptor" title="Disruptor"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/keeper_of_the_light">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-keeper_of_the_light" title="Keeper of the Light"></div>
					</a>
					<a class="hero" href="/dota2/heroes/skywrath_mage">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-skywrath_mage" title="Skywrath Mage"></div>
					</a>
					<a class="hero" href="/dota2/heroes/oracle">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-oracle" title="Oracle"></div>
					</a>
					<a class="hero" href="/dota2/heroes/techies">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-techies" title="Techies"></div>
					</a>
				</div>
					<div class="hero-block">
					<a class="hero" href="/dota2/heroes/bane">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-bane" title="Bane"></div>
					</a>
					<a class="hero" href="/dota2/heroes/lich">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-lich" title="Lich"></div>
					</a>
					<a class="hero" href="/dota2/heroes/lion">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-lion" title="Lion"></div>
					</a>
					<a class="hero" href="/dota2/heroes/witch_doctor">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-witch_doctor" title="Witch Doctor"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/enigma">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-enigma" title="Enigma"></div>
					</a>
					<a class="hero" href="/dota2/heroes/necrolyte">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-necrolyte" title="Necrophos"></div>
					</a>
					<a class="hero" href="/dota2/heroes/warlock">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-warlock" title="Warlock"></div>
					</a>
					<a class="hero" href="/dota2/heroes/queenofpain">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-queenofpain" title="Queen of Pain"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/death_prophet">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-death_prophet" title="Death Prophet"></div>
					</a>
					<a class="hero" href="/dota2/heroes/pugna">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-pugna" title="Pugna"></div>
					</a>
					<a class="hero" href="/dota2/heroes/dazzle">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-dazzle" title="Dazzle"></div>
					</a>
					<a class="hero" href="/dota2/heroes/leshrac">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-leshrac" title="Leshrac"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/batrider">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-batrider" title="Batrider"></div>
					</a>
					<a class="hero" href="/dota2/heroes/dark_seer">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-dark_seer" title="Dark Seer"></div>
					</a>
					<a class="hero" href="/dota2/heroes/ancient_apparition">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-ancient_apparition" title="Ancient Apparition"></div>
					</a>
					<a class="hero" href="/dota2/heroes/invoker">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-invoker" title="Invoker"></div>
					</a>
					
					<a class="hero" href="/dota2/heroes/obsidian_destroyer">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-obsidian_destroyer" title="Outworld Devourer"></div>
					</a>
					<a class="hero" href="/dota2/heroes/shadow_demon">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-shadow_demon" title="Shadow Demon"></div>
					</a>
					<a class="hero" href="/dota2/heroes/visage">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-visage" title="Visage"></div>
					</a>
					<a class="hero" href="/dota2/heroes/winter_wyvern">
						<div class="hero-overlay overlay-hover"></div>
						<div class="cropped-vert-portrait cropped-vert-portrait-winter_wyvern" title="Winter Wyvern"></div>
					</a>
				</div>
			</div>

		</section>
	</div>
	{% endblock container %}
</div> <!--! end of #container -->
{% block push %}
<div class="push"></div>
{% endblock push %}
{% endblock content2 %}