---
extends: base.j2
title: Dota 2 Heroes
description: Listing of all heroes currently in Dota 2.
active_menu: page-heroes
header: Heroes
---

  {% block custom_css %}
  <link rel="stylesheet" href="{{ media_url('css/heroes.css') }}">
  <style type="text/css">
.hero {
margin:1px;
width:73px;
display:inline-block;
opacity:0.75;
filter:alpha(opacity=75); /* For IE8 and earlier */
box-shadow:3px 3px #000000;
}
.hero:hover {
opacity:1;
filter:alpha(opacity=100); /* For IE8 and earlier */
}
.hero:active {
opacity:0.75;
filter:alpha(opacity=75); /* For IE8 and earlier */
}

#header-str {
	background-image:url("{{ media_url('images/overviewicon_str.png') }}");
	background-repeat:no-repeat;
	padding:6px 10px 15px 40px;
	font-size:16px;
	/*font-family:Georgia;*/
	font-weight:bold;
}
#header-agi {
	background-image:url("{{ media_url('images/overviewicon_agi.png') }}");
	background-repeat:no-repeat;
	padding:6px 10px 15px 40px;
	font-size:16px;
	/*font-family:Georgia;*/
	font-weight:bold;
}
#header-int {
	background-image:url("{{ media_url('images/overviewicon_int.png') }}");
	background-repeat:no-repeat;
	padding:6px 10px 15px 40px;
	font-size:16px;
	/*font-family:Georgia;*/
	font-weight:bold;
}
.header-wrapper {
	padding-top:10px;
	text-align:center;
}
  </style>
  {% endblock custom_css %}
{% block main %}
  <div class="col-md-4">
<div class="header-wrapper"><span id="header-str">Strength</span></div>
<br>
<a href="/dota2/heroes/earthshaker/"><div class="hero herosprite herosprite-earthshaker" title="Earthshaker"></div></a>
<a href="/dota2/heroes/sven/"><div class="hero herosprite herosprite-sven" title="Sven"></div></a>
<a href="/dota2/heroes/tiny/"><div class="hero herosprite herosprite-tiny" title="Tiny"></div></a>
<a href="/dota2/heroes/kunkka/"><div class="hero herosprite herosprite-kunkka" title="Kunkka"></div></a>
<br>
<a href="/dota2/heroes/beastmaster/"><div class="hero herosprite herosprite-beastmaster" title="Beastmaster"></div></a>
<a href="/dota2/heroes/dragon_knight/"><div class="hero herosprite herosprite-dragon_knight" title="Dragon Knight"></div></a>
<a href="/dota2/heroes/rattletrap/"><div class="hero herosprite herosprite-rattletrap" title="Clockwerk"></div></a>
<a href="/dota2/heroes/omniknight/"><div class="hero herosprite herosprite-omniknight" title="Omniknight"></div></a>
<br>
<a href="/dota2/heroes/huskar/"><div class="hero herosprite herosprite-huskar" title="Huskar"></div></a>
<a href="/dota2/heroes/alchemist/"><div class="hero herosprite herosprite-alchemist" title="Alchemist"></div></a>
<a href="/dota2/heroes/brewmaster/"><div class="hero herosprite herosprite-brewmaster" title="Brewmaster"></div></a>
<a href="/dota2/heroes/treant/"><div class="hero herosprite herosprite-treant" title="Treant Protector"></div></a>
<br>
<a href="/dota2/heroes/wisp/"><div class="hero herosprite herosprite-wisp" title="Io"></div></a>
<a href="/dota2/heroes/centaur/"><div class="hero herosprite herosprite-centaur" title="Centaur Warrunner"></div></a>
<a href="/dota2/heroes/shredder/"><div class="hero herosprite herosprite-shredder" title="Timbersaw"></div></a>
<a href="/dota2/heroes/bristleback/"><div class="hero herosprite herosprite-bristleback" title="Bristleback"></div></a>
<br>
<a href="/dota2/heroes/tusk/"><div class="hero herosprite herosprite-tusk" title="Tusk"></div></a>
<a href="/dota2/heroes/elder_titan/"><div class="hero herosprite herosprite-elder_titan" title="Elder Titan"></div></a>
<a href="/dota2/heroes/legion_commander/"><div class="hero herosprite herosprite-legion_commander" title="Legion Commander"></div></a>
<a href="/dota2/heroes/earth_spirit/"><div class="hero herosprite herosprite-earth_spirit" title="Earth Spirit"></div></a>
<br>
<a href="/dota2/heroes/phoenix/"><div class="hero herosprite herosprite-phoenix" title="Phoenix"></div></a>
<br>
<a href="/dota2/heroes/axe/"><div class="hero herosprite herosprite-axe" title="Axe"></div></a>
<a href="/dota2/heroes/pudge/"><div class="hero herosprite herosprite-pudge" title="Pudge"></div></a>
<a href="/dota2/heroes/sand_king/"><div class="hero herosprite herosprite-sand_king" title="Sand King"></div></a>
<a href="/dota2/heroes/slardar/"><div class="hero herosprite herosprite-slardar" title="Slardar"></div></a>
<br>
<a href="/dota2/heroes/tidehunter/"><div class="hero herosprite herosprite-tidehunter" title="Tidehunter"></div></a>
<a href="/dota2/heroes/skeleton_king/"><div class="hero herosprite herosprite-skeleton_king" title="Wraith King"></div></a>
<a href="/dota2/heroes/life_stealer/"><div class="hero herosprite herosprite-life_stealer" title="Lifestealer"></div></a>
<a href="/dota2/heroes/night_stalker/"><div class="hero herosprite herosprite-night_stalker" title="Night Stalker"></div></a>
<br>
<a href="/dota2/heroes/doom_bringer/"><div class="hero herosprite herosprite-doom_bringer" title="Doom"></div></a>
<a href="/dota2/heroes/spirit_breaker/"><div class="hero herosprite herosprite-spirit_breaker" title="Spirit Breaker"></div></a>
<a href="/dota2/heroes/lycan/"><div class="hero herosprite herosprite-lycan" title="Lycan"></div></a>
<a href="/dota2/heroes/chaos_knight/"><div class="hero herosprite herosprite-chaos_knight" title="Chaos Knight"></div></a>
<br>
<a href="/dota2/heroes/undying/"><div class="hero herosprite herosprite-undying" title="Undying"></div></a>
<a href="/dota2/heroes/magnataur/"><div class="hero herosprite herosprite-magnataur" title="Magnus"></div></a>
<a href="/dota2/heroes/abaddon/"><div class="hero herosprite herosprite-abaddon" title="Abaddon"></div></a>

  </div>

  <div class="col-md-4">
<div class="header-wrapper"><span id="header-agi">Agility</span></div>
<br>
<a href="/dota2/heroes/antimage/"><div class="hero herosprite herosprite-antimage" title="Anti-Mage"></div></a>
<a href="/dota2/heroes/drow_ranger/"><div class="hero herosprite herosprite-drow_ranger" title="Drow Ranger"></div></a>
<a href="/dota2/heroes/juggernaut/"><div class="hero herosprite herosprite-juggernaut" title="Juggernaut"></div></a>
<a href="/dota2/heroes/mirana/"><div class="hero herosprite herosprite-mirana" title="Mirana"></div></a>
<br>
<a href="/dota2/heroes/morphling/"><div class="hero herosprite herosprite-morphling" title="Morphling"></div></a>
<a href="/dota2/heroes/phantom_lancer/"><div class="hero herosprite herosprite-phantom_lancer" title="Phantom Lancer"></div></a>
<a href="/dota2/heroes/vengefulspirit/"><div class="hero herosprite herosprite-vengefulspirit" title="Vengeful Spirit"></div></a>
<a href="/dota2/heroes/riki/"><div class="hero herosprite herosprite-riki" title="Riki"></div></a>
<br>
<a href="/dota2/heroes/sniper/"><div class="hero herosprite herosprite-sniper" title="Sniper"></div></a>
<a href="/dota2/heroes/templar_assassin/"><div class="hero herosprite herosprite-templar_assassin" title="Templar Assassin"></div></a>
<a href="/dota2/heroes/luna/"><div class="hero herosprite herosprite-luna" title="Luna"></div></a>
<a href="/dota2/heroes/bounty_hunter/"><div class="hero herosprite herosprite-bounty_hunter" title="Bounty Hunter"></div></a>
<br>
<a href="/dota2/heroes/ursa/"><div class="hero herosprite herosprite-ursa" title="Ursa"></div></a>
<a href="/dota2/heroes/gyrocopter/"><div class="hero herosprite herosprite-gyrocopter" title="Gyrocopter"></div></a>
<a href="/dota2/heroes/lone_druid/"><div class="hero herosprite herosprite-lone_druid" title="Lone Druid"></div></a>
<a href="/dota2/heroes/naga_siren/"><div class="hero herosprite herosprite-naga_siren" title="Naga Siren"></div></a>
<br>
<a href="/dota2/heroes/troll_warlord/"><div class="hero herosprite herosprite-troll_warlord" title="Troll Warlord"></div></a>
<a href="/dota2/heroes/ember_spirit/"><div class="hero herosprite herosprite-ember_spirit" title="Ember Spirit"></div></a>
<br>
<a href="/dota2/heroes/bloodseeker/"><div class="hero herosprite herosprite-bloodseeker" title="Bloodseeker"></div></a>
<a href="/dota2/heroes/nevermore/"><div class="hero herosprite herosprite-nevermore" title="Shadow Fiend"></div></a>
<a href="/dota2/heroes/razor/"><div class="hero herosprite herosprite-razor" title="Razor"></div></a>
<a href="/dota2/heroes/venomancer/"><div class="hero herosprite herosprite-venomancer" title="Venomancer"></div></a>
<br>
<a href="/dota2/heroes/faceless_void/"><div class="hero herosprite herosprite-faceless_void" title="Faceless Void"></div></a>
<a href="/dota2/heroes/phantom_assassin/"><div class="hero herosprite herosprite-phantom_assassin" title="Phantom Assassin"></div></a>
<a href="/dota2/heroes/viper/"><div class="hero herosprite herosprite-viper" title="Viper"></div></a>
<a href="/dota2/heroes/clinkz/"><div class="hero herosprite herosprite-clinkz" title="Clinkz"></div></a>
<br>
<a href="/dota2/heroes/broodmother/"><div class="hero herosprite herosprite-broodmother" title="Broodmother"></div></a>
<a href="/dota2/heroes/weaver/"><div class="hero herosprite herosprite-weaver" title="Weaver"></div></a>
<a href="/dota2/heroes/spectre/"><div class="hero herosprite herosprite-spectre" title="Spectre"></div></a>
<a href="/dota2/heroes/meepo/"><div class="hero herosprite herosprite-meepo" title="Meepo"></div></a>
<br>
<a href="/dota2/heroes/nyx_assassin/"><div class="hero herosprite herosprite-nyx_assassin" title="Nyx Assassin"></div></a>
<a href="/dota2/heroes/slark/"><div class="hero herosprite herosprite-slark" title="Slark"></div></a>
<a href="/dota2/heroes/medusa/"><div class="hero herosprite herosprite-medusa" title="Medusa"></div></a>
<a href="/dota2/heroes/terrorblade/"><div class="hero herosprite herosprite-terrorblade" title="Terrorblade"></div></a>

  </div>

  <div class="col-md-4">
<div class="header-wrapper"><span id="header-int">Intelligence</span></div>
<br>
<a href="/dota2/heroes/crystal_maiden/"><div class="hero herosprite herosprite-crystal_maiden" title="Crystal Maiden"></div></a>
<a href="/dota2/heroes/puck/"><div class="hero herosprite herosprite-puck" title="Puck"></div></a>
<a href="/dota2/heroes/storm_spirit/"><div class="hero herosprite herosprite-storm_spirit" title="Storm Spirit"></div></a>
<a href="/dota2/heroes/windrunner/"><div class="hero herosprite herosprite-windrunner" title="Windranger"></div></a>
<br>
<a href="/dota2/heroes/zuus/"><div class="hero herosprite herosprite-zuus" title="Zeus"></div></a>
<a href="/dota2/heroes/lina/"><div class="hero herosprite herosprite-lina" title="Lina"></div></a>
<a href="/dota2/heroes/shadow_shaman/"><div class="hero herosprite herosprite-shadow_shaman" title="Shadow Shaman"></div></a>
<a href="/dota2/heroes/tinker/"><div class="hero herosprite herosprite-tinker" title="Tinker"></div></a>
<br>
<a href="/dota2/heroes/furion/"><div class="hero herosprite herosprite-furion" title="Nature's Prophet"></div></a>
<a href="/dota2/heroes/enchantress/"><div class="hero herosprite herosprite-enchantress" title="Enchantress"></div></a>
<a href="/dota2/heroes/jakiro/"><div class="hero herosprite herosprite-jakiro" title="Jakiro"></div></a>
<a href="/dota2/heroes/chen/"><div class="hero herosprite herosprite-chen" title="Chen"></div></a>
<br>
<a href="/dota2/heroes/silencer/"><div class="hero herosprite herosprite-silencer" title="Silencer"></div></a>
<a href="/dota2/heroes/ogre_magi/"><div class="hero herosprite herosprite-ogre_magi" title="Ogre Magi"></div></a>
<a href="/dota2/heroes/rubick/"><div class="hero herosprite herosprite-rubick" title="Rubick"></div></a>
<a href="/dota2/heroes/disruptor/"><div class="hero herosprite herosprite-disruptor" title="Disruptor"></div></a>
<br>
<a href="/dota2/heroes/keeper_of_the_light/"><div class="hero herosprite herosprite-keeper_of_the_light" title="Keeper of the Light"></div></a>
<a href="/dota2/heroes/skywrath_mage/"><div class="hero herosprite herosprite-skywrath_mage" title="Skywrath Mage"></div></a>
<br>
<a href="/dota2/heroes/bane/"><div class="hero herosprite herosprite-bane" title="Bane"></div></a>
<a href="/dota2/heroes/lich/"><div class="hero herosprite herosprite-lich" title="Lich"></div></a>
<a href="/dota2/heroes/lion/"><div class="hero herosprite herosprite-lion" title="Lion"></div></a>
<a href="/dota2/heroes/witch_doctor/"><div class="hero herosprite herosprite-witch_doctor" title="Witch Doctor"></div></a>
<br>
<a href="/dota2/heroes/enigma/"><div class="hero herosprite herosprite-enigma" title="Enigma"></div></a>
<a href="/dota2/heroes/necrolyte/"><div class="hero herosprite herosprite-necrolyte" title="Necrophos"></div></a>
<a href="/dota2/heroes/warlock/"><div class="hero herosprite herosprite-warlock" title="Warlock"></div></a>
<a href="/dota2/heroes/queenofpain/"><div class="hero herosprite herosprite-queenofpain" title="Queen of Pain"></div></a>
<br>
<a href="/dota2/heroes/death_prophet/"><div class="hero herosprite herosprite-death_prophet" title="Death Prophet"></div></a>
<a href="/dota2/heroes/pugna/"><div class="hero herosprite herosprite-pugna" title="Pugna"></div></a>
<a href="/dota2/heroes/dazzle/"><div class="hero herosprite herosprite-dazzle" title="Dazzle"></div></a>
<a href="/dota2/heroes/leshrac/"><div class="hero herosprite herosprite-leshrac" title="Leshrac"></div></a>
<br>
<a href="/dota2/heroes/batrider/"><div class="hero herosprite herosprite-batrider" title="Batrider"></div></a>
<a href="/dota2/heroes/dark_seer/"><div class="hero herosprite herosprite-dark_seer" title="Dark Seer"></div></a>
<a href="/dota2/heroes/ancient_apparition/"><div class="hero herosprite herosprite-ancient_apparition" title="Ancient Apparition"></div></a>
<a href="/dota2/heroes/invoker/"><div class="hero herosprite herosprite-invoker" title="Invoker"></div></a>
<br>
<a href="/dota2/heroes/obsidian_destroyer/"><div class="hero herosprite herosprite-obsidian_destroyer" title="Outworld Devourer"></div></a>
<a href="/dota2/heroes/shadow_demon/"><div class="hero herosprite herosprite-shadow_demon" title="Shadow Demon"></div></a>
<a href="/dota2/heroes/visage/"><div class="hero herosprite herosprite-visage" title="Visage"></div></a>
{% endblock main %}
