---
extends: base.j2
title: Dota 2 Hero Lore
description: Full list of all Dota 2 hero lore bios.
active_menu: page-heroes
header: Lore
---

{% block custom_css %}
<style type="text/css">
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #979aa2;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    /*add trasnparent border */
    border-left: 1px solid transparent;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #2C8CE0;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left: 1px solid #2C8CE0;
}

/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
    border-left: 2px solid #2C8CE0;
    padding-left: 19px;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
    padding-left: 29px;
}

/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

.back-to-top {
    border-left: 1px solid transparent;
    display: block;
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #979aa2;
}
.back-to-top:hover {
    color: #2C8CE0;
    text-decoration: none;
}

@media screen and (max-width: 500px){
    .bs-docs-sidebar {
        display:none
    }
}
</style>
{% endblock custom_css %}

{% block container %}
<div class="col-md-9">
{% for hero in herolore -%}
  <div class="hero_section">
    <h2 id="{{ hero.id }}">{{ hero.displayname }}</h2>
    {% for paragraph in hero.bio -%}
      <p>{{ paragraph }}</p>
    {%- endfor %}
  </div>
{%- endfor %}
</div>

<div class="col-md-3">
  <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
    <ul class="nav bs-docs-sidenav">
    {% for menu in heroloremenu -%}
      <li class="active">
        <a href="#{{ menu.data[0].id }}">{{ menu.name }}</a>
        <ul class="nav" data-bind="foreach: data">
        {% for item in menu.data -%}
          <li><a href="#{{ item.id }}">{{ item.displayname }}</a></li>
        {%- endfor %}
        </ul>
      </li>
    {%- endfor %}
    </ul>
    <a class="back-to-top" href="#top">Back to top</a>
  </div>
</div>
{% endblock container %}

{% block scripts %}
<script type="text/javascript">
    $('body').scrollspy({
        target: '.bs-docs-sidebar',
        offset: 40
    });
</script>
{% endblock scripts %}