---
extends: base.j2
title: Dota 2 Items
description: List of all Dota 2 items.
active_menu: page-items
---

{% block page_head %}
<link rel="stylesheet" href="{{ media_url('css/heroes.css') }}">
<link rel="stylesheet" href="{{ media_url('css/items.css') }}">
{% endblock page_head %}

{% block container %}
<div class="col-md-9">
{% for item in itemtooltip -%}
  <div class="form-group">
    <h2 id="{{ item.id }}" class="item_field item_name">{{ item.displayname }}</h2>
    <img src="/media/images/gold.png" class="item_cost item_field">
    <span class="item_field item_cost">{{ item.itemcost }}</span>
    <div class="item item-{{ item.id }}"></div>
    {% if item.description %}
    <div class="item_field item_description">
      {{ item.description }}
    </div>
    {%- endif %}
    {% if item.attributes %}
    <div class="item_field item_attributes">
      {{ item.attributes }}
    </div>
    {%- endif %}
    {% if item.cd or item.mana %}
    <div class="item_cdmana">
      {% if item.cd %}
      <img src="/media/images/cooldown.png" class="item_cooldown item_field">
      <div class="item_field item_cooldown">
        {{ item.cd }}
      </div>
      {%- endif %}
      {% if item.mana %}
      <img src="/media/images/manacost.png" class="item_manacost item_field">
      <div class="item_field item_manacost">
        {{ item.mana }}
      </div>
      {%- endif %}
    </div>
    {%- endif %}
    {% if item.lore %}
    <div class="item_field item_lore">
      {{ item.lore }}
    </div>
    {%- endif %}
  </div>
{%- endfor %}
</div>

<div class="col-md-3">
  <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
    <ul class="nav bs-docs-sidenav">
    {% for menu in itemtooltipmenu -%}
      <li class="active">
        <a href="#{{ menu.data[0].id }}">{{ menu.name }}</a>
        <ul class="nav" data-bind="foreach: data">
        {% for item in menu.data -%}
          <li><a href="#{{ item.id }}">{{ item.displayname }}</a></li>
        {%- endfor %}
        </ul>
      </li>
    {%- endfor %}
    </ul>
    <a class="back-to-top" href="#top">Back to top</a>
  </div>
</div>
{% endblock container %}

{% block scripts %}
<script type="text/javascript">
    $(function () {
        $('body').scrollspy({
            target: '.bs-docs-sidebar',
            offset: 40
        });
        $('.bs-docs-sidebar').affix({
              offset: {
                top: 124
              }
        });
    });
</script>
{% endblock scripts %}