---
extends: base.j2
title: Dota 2 Items
description: Listing of all items in Dota 2.
active_menu: page-items
header: Items
page_script: items
id: page-items
---

{% block page_head %}
<link rel="stylesheet" href="{{ media_url_rev('spritesheets/css/items_70x50_sprite_jpg.css') }}">
{% endblock page_head %}

{% block main %}
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="form-group">
            <label>Search:</label>
            <input type="text" id="search-items" class="form-control"></input>
        </div>
    </div>
</div>
<div class="row">
    {% for section in shoplayout -%}
    <div class="shop-section">
        <div class="header-wrapper"><h3>{{ section.name }}</h3></div>
        {% for column in section.columns -%}
        <div class="shop-column">
        <div class="shop shop-{{ column.id }}" id="{{ column.id }}"></div><br>
            {% for item in column.items -%}
            <a class="shop-item" href="/dota2/items/all.html#{{ item }}">
                <div class="item-overlay overlay-hover"></div>
                <div class="items-sprite-70x50 items-sprite-{{ item }}" id="{{ item }}"></div>
            </a>
            {%- endfor %}
        </div>
        {%- endfor %}
    </div>
    {%- endfor %}
</div>
{% endblock main %}