{% extends "root.j2" %}

{% from "macros/breadcrumb.j2" import breadcrumb with context  %}

{% block head %}
    {{ super() }}
    {% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {% endblock fonts %}
    
    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
    {% if site.config.mode == "production" %}
    <link rel="stylesheet" href="{{ media_url_rev('css/site.min.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ media_url_rev('css/site.css') }}">
    {% endif %}
    {% endblock css %}
    {% block page_head %}{% endblock page_head %}
{% endblock head %}

{% block content %}
{% block breadcrumbs %}
<div class="container">
{{ breadcrumb(resource) }}
</div>
{% endblock breadcrumbs %}
<div class="{{ 'container' if not resource.meta.container_fluid }}{{ 'container-fluid' if resource.meta.container_fluid }}">
    {% block container %}
    <div id="main" role="main">
        <header class="banner clearfix">
            {% block header %}
                {% if resource.meta.header %}<h2>{{ resource.meta.header }}</h2>{% endif %}
            {% endblock header %}
        </header>
        <section class="content">
            {% block main %}
            {% endblock main %}
        </section>
    </div>
    {% endblock container %}
</div>
{% endblock content %}

{% block js %}
    {% block scripts %}
    {% if site.config.mode == "production" %}
    <script src="{{ media_url_rev('js/index.min.js') }}"></script>
    {% else %}
    <script src="{{ media_url_rev('js/index.js') }}"></script>
    {% endif %}
    {% endblock scripts %}
    {% block analytics %}
    {% include "includes/analytics.j2" %}
    {% endblock analytics %}
{% endblock js %}