{% extends "base.j2" %}

{% block content %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
<div class="container-fluid">
    {% block container %}{{ super() }}{% endblock container %}
</div>
{% endblock content %}