{% extends "root.j2" %}

{% from "macros/breadcrumb.j2" import breadcrumb with context  %}
{% from "macros/render_heroes.j2" import render_heroes with context  %}

{% if resource.meta.page_script %}
{% set page_script = resource.meta.page_script %}
{% else %}
{% set page_script = 'index' %}
{% endif %}

{% if site.config.mode == "production" %}
{% set page_script = 'js/' ~ page_script ~ '.min.js' %}
{% else %}
{% set page_script = 'js/' ~ page_script ~ '.js' %}
{% endif %}

{% block head %}
    {{ super() }}
    {% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    {% endblock fonts %}
    
    {% block css %}
    {% if site.config.mode == "production" %}
    <link rel="stylesheet" href="{{ media_url_rev('css/site.min.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ media_url_rev('css/site.css') }}">
    {% endif %}
    {% endblock css %}
    {% block page_head %}{% endblock page_head %}
{% endblock head %}

{% block content %}
{% block breadcrumbs %}
<div class="container">
{{ breadcrumb(resource) }}
</div>
{% endblock breadcrumbs %}
<div class="{{ 'container' if not resource.meta.container_fluid }}{{ 'container-fluid' if resource.meta.container_fluid }}">
    {% block container %}
    <div id="main" role="main">
        <header class="banner clearfix">
            {% block header %}
                {% if resource.meta.header %}<h2>{{ resource.meta.header }}</h2>{% endif %}
            {% endblock header %}
        </header>
        <section class="content">
            {% block main %}
            {% endblock main %}
        </section>
    </div>
    {% endblock container %}
</div>
{% endblock content %}

{% block js %}
    {% block scripts %}
    {% if site.config.mode == "production" %}
    <script src="{{ media_url_rev('js/common.min.js') }}"></script>
    {% else %}
    <script src="{{ media_url_rev('js/common.js') }}"></script>
    {% endif %}
    <script src="{{ media_url_rev(page_script) }}"></script>
    {% endblock scripts %}
    {% block analytics %}
    {% include "includes/analytics.j2" %}
    {% endblock analytics %}
{% endblock js %}