<!doctype html>
<html>
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">
  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/favicon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link href="http://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ media_url('bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}">
  {% endblock css %}
  {% block custom_css %}
  {% endblock custom_css %}

  {% block headjs %}
    <!--<script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>!-->
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}" class="{{ resource.meta.active_menu }}">
<div class="wrapper">
  {% block nav %}
  {% from "macros.j2" import render_nav with context %}
  {{ render_nav(menu, 'main_nav') }}
  {% endblock %}
  {% block content %}
  <div class="container">
      {% block container %}
      <div id="main" role="main">
          <header class="banner clearfix">
          {% block header %}
          {% if resource.meta.header %}<h2>{{ resource.meta.header }}</h2>{% endif %}
          {% endblock header %}
          </header>
          <section class="content">
          {% block main %}
          {% endblock main %}
          </section>
      </div>
    {% endblock container %}
	<div class="push"></div>
  </div> <!--! end of #container -->
</div>

  {% block footer %}
  <footer>
	  <img src="{{ media_url('images/footer.png') }}">
	<div>
		<a href="http://www.youtube.com/user/devilesk">Youtube</a>
		<a href="http://www.twitch.tv/devilesk">Twitch</a>
		<a href="http://www.twitter.com/devilesk">Twitter</a>
		<a href="http://steamcommunity.com/id/devilesk/">Steam</a>
	</div>
      <p><a href="mailto:admin@devilesk.com">admin@devilesk.com</a></p>
      <p>Copyright &copy; 2014 <a href="http://devilesk.com">devilesk.com</a><p>
  </footer>
    {% endblock footer%}
  {% endblock content%}

  {% block js %}

  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.11.0.min.js"><script>')</script>
  {% endblock jquery %}

  <script src="{{ media_url('bootstrap/js/bootstrap.min.js') }}"></script>

  {% block scripts %}
  {% endblock scripts %}


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
