{% extends "base.j2" %}

{% block main -%}
<article class="post blog">
<nav class="post_nav">
{# <a class="btn btn-default btn-sm backlink" href="{{ content_url(resource.node.url) }}">Back to list</a> #}
<a class="btn btn-default btn-sm next{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
    Previous
</a>
<a class="btn btn-default btn-sm pull-right prev{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
    Next
</a>
</nav>
<h1 class="title">
    <a href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
    </a>
</h1>
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>

{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
<hr>
{% if resource.meta.tags %}
<ul class="tags clear">
Tagged with:
{% for tag in resource.meta.tags %}
<li>
    <a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">{{ tag }}</a>
</li>
{% endfor %}
</ul>
{% endif %}
<nav class="post_nav">
<a class="btn btn-default btn-xs backlink" href="{{ content_url(resource.node.url) }}">Back to list</a>
<a class="btn btn-default btn-xs prev{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
    Previous
</a>

<a class="btn btn-default btn-xs next{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
    Next
</a>
<a class="btn btn-default btn-xs backlink" href="#">Back to top</a>
</nav>
</article>
<hr>
{% include 'includes/disqus.j2' %}
{%- endblock main %}