{% extends "base.j2" %}
{% from "macros.j2" import getValueString %}

{% block custom_css %}
<style type="text/css">
.hero-bio p{
    text-indent: 15px;
}
</style>
{% endblock custom_css %}
    
{% block header %}
    {% if resource.meta.header %}
    <h2>{{ resource.meta.header }}<small style="margin-left:20px">{% if herodata[resource.meta.hero].attacktype == 'DOTA_UNIT_CAP_MELEE_ATTACK' %}Melee{%- endif %}{% if herodata[resource.meta.hero].attacktype == 'DOTA_UNIT_CAP_RANGED_ATTACK' %}Ranged{%- endif %}{% if herodata[resource.meta.hero].role and herodata[resource.meta.hero].role != '' %}, {{ herodata[resource.meta.hero].role.replace(',', ', ') }}{%- endif %}</small></h2>
    {% endif %}
{% endblock header %}
                
{% block main %}
<div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-8">
                <img class="img-rounded" src="http://media.steampowered.com/apps/dota2/images/heroes/{{ resource.meta.hero.replace('npc_dota_hero_', '') }}_lg.png">
            </div>
            <div class="col-lg-4 text-center">
                {% if herodata[resource.meta.hero].team.lower() == 'good' %}
                <img src="{{ media_url('/images/pip_radiant.png') }}">
                <span>Radiant</span>
                {%- endif %}
                {% if herodata[resource.meta.hero].team.lower() == 'bad' %}
                <img src="{{ media_url('/images/pip_dire.png') }}">
                <span>Dire</span>
                {%- endif %}
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <div class="col-xs-4">
            <img style="display:block;margin:auto;{% if herodata[resource.meta.hero].attributeprimary != 'DOTA_ATTRIBUTE_STRENGTH' %}opacity:.33;{%- endif %}" src="{{ media_url('/images/pip_str.png') }}">
            <div class="text-center">
                <span>{{ herodata[resource.meta.hero].attributebasestrength }}</span> + <span>{{ herodata[resource.meta.hero].attributestrengthgain }}</span>
            </div>
        </div>
        <div class="col-xs-4">
            <img style="display:block;margin:auto;{% if herodata[resource.meta.hero].attributeprimary != 'DOTA_ATTRIBUTE_AGILITY' %}opacity:.33;{%- endif %}" src="{{ media_url('/images/pip_agi.png') }}">
            <div class="text-center">
                <span>{{ herodata[resource.meta.hero].attributebaseagility }}</span> + <span>{{ herodata[resource.meta.hero].attributeagilitygain }}</span>
            </div>
        </div>
        <div class="col-xs-4">
            <img style="display:block;margin:auto;{% if herodata[resource.meta.hero].attributeprimary != 'DOTA_ATTRIBUTE_INTELLECT' %}opacity:.33;{%- endif %}" src="{{ media_url('/images/pip_int.png') }}">
            <div class="text-center">
                <span>{{ herodata[resource.meta.hero].attributebaseintelligence }}</span> + <span>{{ herodata[resource.meta.hero].attributeintelligencegain }}</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td>Movement Speed</td>
                    <td class="text-right">{{ herodata[resource.meta.hero].movementspeed }}</td>
                </tr>
                <tr>
                    <td>Turn Rate</td>
                    <td class="text-right">{{ herodata[resource.meta.hero].movementturnrate }}</td>
                </tr>
                <tr>
                    <td>Day/Night Sight Range</td>
                    <td class="text-right">{{ herodata[resource.meta.hero].visiondaytimerange }}/{{ herodata[resource.meta.hero].visionnighttimerange }}</td>
                </tr>
                <tr>
                    <td>Attack Range</td>
                    <td class="text-right">{{ herodata[resource.meta.hero].attackrange }}</td>
                </tr>
                <tr>
                    <td>Missile Speed</td>
                    {% if herodata[resource.meta.hero].attacktype == 'DOTA_UNIT_CAP_MELEE_ATTACK' %}
                    <td class="text-right">&mdash;</td>
                    {%- endif %}
                    {% if herodata[resource.meta.hero].attacktype == 'DOTA_UNIT_CAP_RANGED_ATTACK' %}
                    <td class="text-right">{{ herodata[resource.meta.hero].projectilespeed }}</td>
                    {%- endif %}
                </tr>
                <tr>
                    <td>Attack Point</td>
                    <td class="text-right">{{ herodata[resource.meta.hero].attackpoint }}</td>
                </tr>
                <tr>
                    <td>Base Attack Time</td>
                    <td class="text-right">{{ herodata[resource.meta.hero].attackrate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Level</th>
                    <th class="text-right">1</th>
                    <th class="text-right">16</th>
                    <th class="text-right">25</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Health</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['1']['health'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['16']['health'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['25']['health'] }}</td>
                </tr>
                <tr>
                    <td>Mana</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['1']['mana'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['16']['mana'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['25']['mana'] }}</td>
                </tr>
                <tr>
                    <td>Min Damage</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['1']['damagemin'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['16']['damagemin'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['25']['damagemin'] }}</td>
                </tr>
                <tr>
                    <td>Max Damage</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['1']['damagemax'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['16']['damagemax'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['25']['damagemax'] }}</td>
                </tr>
                <tr>
                    <td>Armor</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['1']['armor'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['16']['armor'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['25']['armor'] }}</td>
                </tr>
                <tr>
                    <td><small>Attacks / Second</small></td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['1']['attackspersecond'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['16']['attackspersecond'] }}</td>
                    <td class="text-right">{{ herostat[resource.meta.hero]['25']['attackspersecond'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="hero-bio col-md-12">
        {% if herodata[resource.meta.hero].bio and herodata[resource.meta.hero].bio != '' %}
            <div class="text-center"><strong>Bio</strong></div>
            <small>{{ paragraphs(herodata[resource.meta.hero].bio.replace('--', '&mdash;')) }}</small>
        {% endif %}
    </div>
</div>
<div class="col-md-8">
    {% for ability in herodata[resource.meta.hero].abilities -%}
    {% if ability.name != 'attribute_bonus' %}
    <div class="ability panel panel-default">
      <div class="abilityname panel-heading">{{ ability.displayname }}</div>
      <div class="panel-body">
        {% if ability.behavior %}<span class="col-md-6"><strong>Ability: </strong>{{ get_ability_behavior(ability.behavior) }}</span>{% endif %}
        {% if ability.abilityunitdamagetype %}<span class="col-md-6"><strong>Damage: </strong>{{ get_damage_type(ability.name, ability.abilityunitdamagetype) }}</span>{% endif %}
      </div>
      <div class="panel-body">
        <div class="col-md-2"><img class="abilityportrait img-rounded" src="http://media.steampowered.com/apps/dota2/images/abilities/{{ ability.name }}_hp2.png"></div>
        <div class="col-md-10">{{ format_tooltip(ability.description.replace('\\n', '<br>'), ability.attributes) }}</div>
      </div>
      <table class="abilitydata table">
        <tbody>
        {% if ability.cooldown and any(ability.cooldown) %}
          <tr>
            <td>COOLDOWN:</td>
            <td>{{ getValueString(ability.cooldown) }}</td>
          </tr>
        {%- endif %}
        {% if ability.manacost and any(ability.manacost) %}
          <tr>
            <td>MANA COST:</td>
            <td>{{ getValueString(ability.manacost) }}</td>
          </tr>
        {%- endif %}
        {% for attribute in ability.attributes -%}
        {% if attribute.tooltip %}
          <tr>
            <td>{{ attribute.tooltip.replace('\\n', '<br>') }}</td>
            <td>{{ getValueString(attribute.value) }}</td>
          </tr>
        {%- endif %}
        {%- endfor %}
        </tbody>
      </table>
    </div>
    {%- endif %}
    {%- endfor %}
</div>
{%- endblock %}