{% macro render_excerpt(res, class=None) %}
{% refer to res.relative_path as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url.rstrip('.html')) }}">{{ res.meta.title }}</a></h3>
{{ post.excerpt|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
<a href="{{ content_url(res.url.rstrip('.html')) }}#disqus_thread"></a>
</article>
{% endmacro %}

{% macro breadcrumb(res) %}
{% if res.url != '/dota2/index.html' -%}
<ol class="breadcrumb">
    {% set stop = False %}
    {% set crumbs = [] %}
    {% for node in res.node.rwalk() %}
        {% set p = node.get_resource('index.html') %}
        {% if p and not stop -%}
            {% if p.url == '/dota2/index.html' -%}
                {% set stop = True %}
            {% endif %}
            {% do crumbs.insert(0, p) %}
        {% endif %}
    {% endfor %}
    {% if res.name != 'index.html' -%}
        {% do crumbs.append(res) %}
    {% endif %}
    {% for p in crumbs %}
        {% if p.url == res.url -%}
            <li class="breadcrumb-item active">{{ p.meta.header }}</li>
        {% else %}
            {% if p.url == '/dota2/index.html' -%}
                <li class="breadcrumb-item"><a href="{{ p.url.rstrip('index.html') }}">Home</a></li>
            {% else %}
                <li class="breadcrumb-item"><a href="{{ p.url.rstrip('index.html') }}">{{ p.meta.header }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ol>
{% endif %}
{% endmacro %}

{% macro getValueString(values) -%}
{% for item in values[:-1] -%}
{{ item }} / 
{% endfor %}
{{ values[-1] }}
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<div class="navbar navbar-default {{cls if cls }}">
	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ content_url('/dota2') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="top-nav-menu nav navbar-nav">
			{% for item in menu -%}
                {% if item.submenu -%}
                <li class="dropdown {{ 'active' if item.css_class == resource.meta.active_menu }}">
                  <a href="{{ content_url(item.url) }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="mobile-only"><a href="{{ content_url(item.url) }}">{{ item.description }}</a></li>
                    <li class="divider mobile-only"></li>
                    {% for subitem in item.submenu -%}
                    {% if subitem.type == 'page' -%}
                        {% if subitem.url -%}
                            <li><a href="{{ content_url(subitem.url) }}">{{ subitem.name }}</a></li>
                        {% elif subitem.ext_url -%}
                            <li><a href="{{ subitem.ext_url }}">{{ subitem.name }}</a></li>
                        {% endif %}
                    {% elif subitem.type == 'header' -%}
                    <li class="dropdown-header">{{ subitem.name }}</li>
                    {% elif subitem.type == 'divider' -%}
                    <li class="divider"></li>
                    {%- endif %}
                    {%- endfor %}
                  </ul>
                </li>
                {% else %}
                <li class="{{ 'active' if item.css_class == resource.meta.active_menu }}"><a href="{{ content_url(item.url) }}">{{ item.name }}</a></li>
                {%- endif %}
			{%- endfor %}
                <li class="li-forums"><a href="/dota2/forums/index.php">FORUMS</a></li>
		  </ul>
		</div>
	</div>
</div>
{%- endif %}
{%- endmacro %}
