{% extends "base.j2" %}

{% block page_head %}
<style type="text/css">

</style>
{% endblock page_head %}
                
{% block main %}

<div class="col-md-12">
    {% for group in resource.meta.data -%}
        <h4>{{ group.header }}</h4>
        {% for item in group.items -%}
        <div class="media">
            <a href="{{ content_url(item.url) }}">
                <div class="media-left">
                    <img class="media-object" src="{{ item.image }}" alt="{{ item.name }}">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ item.name }}</h4>
                    {{ item.description }}
                </div>
            </a>
        </div>
        {%- endfor %}
    {%- endfor %}
</div>

{%- endblock %}