{% from "macros/render_nav.j2" import render_nav with context %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="{{ resource.meta.charset }}">
    <title>{% block title %}{{ resource.meta.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ resource.meta.description }}{% endblock description %}">
    <meta name="author" content="{{ resource.meta.author }}">
    <meta name="viewport" content="{{ resource.meta.viewport }}">
{% endblock head %}
</head>
<body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">
{% block body %}
    <div class="wrapper">
        {% block nav %}
            {{ render_nav(menu, 'main_nav') }}
        {% endblock nav %}
        
        {% block content %}
        {% endblock content %}
        
        {% block push %}
            <div class="push"></div>
        {% endblock push %}
    </div>

    {% block footer %}
    {% include "includes/footer.j2" %}
    {% endblock footer%}
    
    {% block analytics %}
    {% include "includes/analytics.j2" %}
    {% endblock analytics %}
    {% block js %}
    {% endblock js %}
{% endblock body %}
</body>
</html>
