{% from "macros/render_nav.j2" import render_nav with context %}
<!DOCTYPE html>
<html>
<head>
{% block head %}
    <meta charset="{{ resource.meta.charset }}">
    <title>{% block title %}{{ resource.meta.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ resource.meta.description }}{% endblock description %}">
    <meta name="author" content="{{ resource.meta.author }}">
    <meta name="viewport" content="{{ resource.meta.viewport }}">
{% endblock head %}
</head>
<body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">
{% block body %}
    <div class="wrapper">
        {% block nav %}
            {{ render_nav(menu, 'main_nav') }}
        {% endblock nav %}
        
        {% block content %}
        {% endblock content %}
        
        {% block push %}
            <div class="push"></div>
        {% endblock push %}
    </div>

    {% block footer %}
    <footer>
        <img width="80" height="80" src="{{ media_url_rev('images/footer.png') }}">
        <p><a href="mailto:admin@devilesk.com">admin@devilesk.com</a></p>
        <p>Copyright &copy; 2016 <a href="http://devilesk.com">devilesk.com</a></p>
    </footer>
    {% endblock footer%}

    {% block js %}
    {% endblock js %}
{% endblock body %}
</body>
</html>
