{% extends "base.j2" %}

{% block page_head %}
<style type="text/css">

</style>
{% endblock page_head %}
                
{% block main %}
<div class="col-md-6">
	{% for item in resource.meta.column1 -%}
	<a class="column-item" href="{{ content_url(item.url) }}">
		<div class="pull-left">
			<img class="img-rounded" src="{{ item.image }}" alt="{{ item.name }}">
		</div>
		<div class="column-item-info">
			<h4 class="media-heading">{{ item.name }}</h4>
			{{ item.description }}
		</div>
	</a>
	{%- endfor %}
</div>
<div class="col-md-6">
	{% for item in resource.meta.column2 -%}
	<a class="column-item" href="{{ content_url(item.url) }}">
		<div class="pull-left">
			<img class="img-rounded" src="{{ item.image }}" alt="{{ item.name }}">
		</div>
		<div class="column-item-info">
			<h4 class="media-heading">{{ item.name }}</h4>
			{{ item.description }}
		</div>
	</a>
	{%- endfor %}
</div>
{%- endblock %}