---
extends: base.j2
title: Dota 2 Heroes
description: Dota 2 Hero Patch History. Changelog notes for every hero starting from patch 6.48 to 6.81
active_menu: page-heroes
header: Patch History
container_fluid: true
page_script: heroes/patchhistory
---

{% block page_head %}
<link rel="stylesheet" href="{{ media_url_rev('spritesheets/css/portraits_64x84_sprite_jpg.css') }}">
{% endblock page_head %}

{% block main %}
{{ render_heroes(herodatalist) }}
<div class="col-md-12">
    <div class="col-md-4 col-md-offset-4" id="patch-notes-container">
        <h2 id="hero-name"></h2>
        <ul id="patch-notes">
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-4">
    Source: <a href="http://www.playdota.com/forums/showthread.php?t=1349921">PlayDotA.com thread</a>
    </div>
</div>
{% endblock main %}