---
extends: base.j2
title: Dota 2 Ability Matching
description: Dota 2 Hero Ability Matching.
active_menu: page-webapps
header: Ability Matching
---

{% block main %}
<div id='contentcontainer' class='text-center' style="display: none">
	<h3 id='heroname'></h3>
	<div id="portrait-wrapper">
		<div id="portrait-overlay"></div>
		<img id='heroportrait' src="">
	</div>
	<div id='abilitybox_end'></div>
	<div id='abilitybox_start'></div>
</div>
{% endblock main %}
  {% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script src="{{ media_url('js/libs/jquery-ui-1.10.2.custom.js') }}"></script>
	<script src="{{ media_url('js/libs/jquery.ui.touch-punch.min.js') }}"></script>
	<script src="{{ media_url('js/abilitymatching/abilitymatching.js') }}"></script>
  {% endblock scripts %}