---
extends: base.j2
title: Dota 2 Hero Selection Trainer
description: Dota 2 Hero Selection Trainer. How fast can you select a hero in the hero selection screen? Practice selecting a given hero in a timed game.
active_menu: page-webapps
header: Hero Selection Trainer
---

  {% block custom_css %}
  <link rel="stylesheet" href="{{ media_url('css/heroes.css') }}">
<style type="text/css">
.hero {
margin:1px;
width:73px;
display:inline-block;
}
.hero:hover {
cursor:hand;
cursor:pointer;
}
#info {
	padding-top:10px;
    text-align:center;
    display:inline-block;
}
#hero_name {
    min-height:1.1em;
}
#start, #stop {
    margin-top:20px;
}
#start, #stop, #layout {
    width:250px;
    margin-left:auto;
    margin-right:auto;
}
</style>
  {% endblock custom_css %}
  {% block main %}
                            <div class="hero_wrapper col-md-12">
              <div class="hero_page col-md-4">
<div class="hero_section">
<div class="hero herosprite herosprite-earthshaker" title="Earthshaker" id="h_earthshaker"></div>
<div class="hero herosprite herosprite-sven" title="Sven" id="h_sven"></div>
<div class="hero herosprite herosprite-tiny" title="Tiny" id="h_tiny"></div>
<div class="hero herosprite herosprite-kunkka" title="Kunkka" id="h_kunkka"></div>
<br>
<div class="hero herosprite herosprite-beastmaster" title="Beastmaster" id="h_beastmaster"></div>
<div class="hero herosprite herosprite-dragon_knight" title="Dragon Knight" id="h_dragon_knight"></div>
<div class="hero herosprite herosprite-rattletrap" title="Clockwerk" id="h_rattletrap"></div>
<div class="hero herosprite herosprite-omniknight" title="Omniknight" id="h_omniknight"></div>
<br>
<div class="hero herosprite herosprite-huskar" title="Huskar" id="h_huskar"></div>
<div class="hero herosprite herosprite-alchemist" title="Alchemist" id="h_alchemist"></div>
<div class="hero herosprite herosprite-brewmaster" title="Brewmaster" id="h_brewmaster"></div>
<div class="hero herosprite herosprite-treant" title="Treant Protector" id="h_treant"></div>
<br>
<div class="hero herosprite herosprite-wisp" title="Io" id="h_wisp"></div>
<div class="hero herosprite herosprite-centaur" title="Centaur Warrunner" id="h_centaur"></div>
<div class="hero herosprite herosprite-shredder" title="Timbersaw" id="h_shredder"></div>
<div class="hero herosprite herosprite-bristleback" title="Bristleback" id="h_bristleback"></div>
<br>
<div class="hero herosprite herosprite-tusk" title="Tusk" id="h_tusk"></div>
<div class="hero herosprite herosprite-elder_titan" title="Elder Titan" id="h_elder_titan"></div>
<div class="hero herosprite herosprite-legion_commander" title="Legion Commander" id="h_legion_commander"></div>
<div class="hero herosprite herosprite-earth_spirit" title="Earth Spirit" id="h_earth_spirit"></div>
<br>
<div class="hero herosprite herosprite-phoenix" title="Phoenix" id="h_phoenix"></div>
<br>
</div>
<div class="hero_section">
<div class="hero herosprite herosprite-axe" title="Axe" id="h_axe"></div>
<div class="hero herosprite herosprite-pudge" title="Pudge" id="h_pudge"></div>
<div class="hero herosprite herosprite-sand_king" title="Sand King" id="h_sand_king"></div>
<div class="hero herosprite herosprite-slardar" title="Slardar" id="h_slardar"></div>
<br>
<div class="hero herosprite herosprite-tidehunter" title="Tidehunter" id="h_tidehunter"></div>
<div class="hero herosprite herosprite-skeleton_king" title="Wraith King" id="h_skeleton_king"></div>
<div class="hero herosprite herosprite-life_stealer" title="Lifestealer" id="h_life_stealer"></div>
<div class="hero herosprite herosprite-night_stalker" title="Night Stalker" id="h_night_stalker"></div>
<br>
<div class="hero herosprite herosprite-doom_bringer" title="Doom" id="h_doom_bringer"></div>
<div class="hero herosprite herosprite-spirit_breaker" title="Spirit Breaker" id="h_spirit_breaker"></div>
<div class="hero herosprite herosprite-lycan" title="Lycan" id="h_lycan"></div>
<div class="hero herosprite herosprite-chaos_knight" title="Chaos Knight" id="h_chaos_knight"></div>
<br>
<div class="hero herosprite herosprite-undying" title="Undying" id="h_undying"></div>
<div class="hero herosprite herosprite-magnataur" title="Magnus" id="h_magnataur"></div>
<div class="hero herosprite herosprite-abaddon" title="Abaddon" id="h_abaddon"></div>
</div>
</div>

  <div class="hero_page col-md-4">
<div class="hero_section">
<div class="hero herosprite herosprite-antimage" title="Anti-Mage" id="h_antimage"></div>
<div class="hero herosprite herosprite-drow_ranger" title="Drow Ranger" id="h_drow_ranger"></div>
<div class="hero herosprite herosprite-juggernaut" title="Juggernaut" id="h_juggernaut"></div>
<div class="hero herosprite herosprite-mirana" title="Mirana" id="h_mirana"></div>
<br>
<div class="hero herosprite herosprite-morphling" title="Morphling" id="h_morphling"></div>
<div class="hero herosprite herosprite-phantom_lancer" title="Phantom Lancer" id="h_phantom_lancer"></div>
<div class="hero herosprite herosprite-vengefulspirit" title="Vengeful Spirit" id="h_vengefulspirit"></div>
<div class="hero herosprite herosprite-riki" title="Riki" id="h_riki"></div>
<br>
<div class="hero herosprite herosprite-sniper" title="Sniper" id="h_sniper"></div>
<div class="hero herosprite herosprite-templar_assassin" title="Templar Assassin" id="h_templar_assassin"></div>
<div class="hero herosprite herosprite-luna" title="Luna" id="h_luna"></div>
<div class="hero herosprite herosprite-bounty_hunter" title="Bounty Hunter" id="h_bounty_hunter"></div>
<br>
<div class="hero herosprite herosprite-ursa" title="Ursa" id="h_ursa"></div>
<div class="hero herosprite herosprite-gyrocopter" title="Gyrocopter" id="h_gyrocopter"></div>
<div class="hero herosprite herosprite-lone_druid" title="Lone Druid" id="h_lone_druid"></div>
<div class="hero herosprite herosprite-naga_siren" title="Naga Siren" id="h_naga_siren"></div>
<br>
<div class="hero herosprite herosprite-troll_warlord" title="Troll Warlord" id="h_troll_warlord"></div>
<div class="hero herosprite herosprite-ember_spirit" title="Ember Spirit" id="h_ember_spirit"></div>
<br>
</div>
<div class="hero_section">
<div class="hero herosprite herosprite-bloodseeker" title="Bloodseeker" id="h_bloodseeker"></div>
<div class="hero herosprite herosprite-nevermore" title="Shadow Fiend" id="h_nevermore"></div>
<div class="hero herosprite herosprite-razor" title="Razor" id="h_razor"></div>
<div class="hero herosprite herosprite-venomancer" title="Venomancer" id="h_venomancer"></div>
<br>
<div class="hero herosprite herosprite-faceless_void" title="Faceless Void" id="h_faceless_void"></div>
<div class="hero herosprite herosprite-phantom_assassin" title="Phantom Assassin" id="h_phantom_assassin"></div>
<div class="hero herosprite herosprite-viper" title="Viper" id="h_viper"></div>
<div class="hero herosprite herosprite-clinkz" title="Clinkz" id="h_clinkz"></div>
<br>
<div class="hero herosprite herosprite-broodmother" title="Broodmother" id="h_broodmother"></div>
<div class="hero herosprite herosprite-weaver" title="Weaver" id="h_weaver"></div>
<div class="hero herosprite herosprite-spectre" title="Spectre" id="h_spectre"></div>
<div class="hero herosprite herosprite-meepo" title="Meepo" id="h_meepo"></div>
<br>
<div class="hero herosprite herosprite-nyx_assassin" title="Nyx Assassin" id="h_nyx_assassin"></div>
<div class="hero herosprite herosprite-slark" title="Slark" id="h_slark"></div>
<div class="hero herosprite herosprite-medusa" title="Medusa" id="h_medusa"></div>
<div class="hero herosprite herosprite-terrorblade" title="Terrorblade" id="h_terrorblade"></div>
</div>
  </div>

  <div class="hero_page col-md-4">
<div class="hero_section">
<div class="hero herosprite herosprite-crystal_maiden" title="Crystal Maiden" id="h_crystal_maiden"></div>
<div class="hero herosprite herosprite-puck" title="Puck" id="h_puck"></div>
<div class="hero herosprite herosprite-storm_spirit" title="Storm Spirit" id="h_storm_spirit"></div>
<div class="hero herosprite herosprite-windrunner" title="Windranger" id="h_windrunner"></div>
<br>
<div class="hero herosprite herosprite-zuus" title="Zeus" id="h_zuus"></div>
<div class="hero herosprite herosprite-lina" title="Lina" id="h_lina"></div>
<div class="hero herosprite herosprite-shadow_shaman" title="Shadow Shaman" id="h_shadow_shaman"></div>
<div class="hero herosprite herosprite-tinker" title="Tinker" id="h_tinker"></div>
<br>
<div class="hero herosprite herosprite-furion" title="Nature's Prophet" id="h_furion"></div>
<div class="hero herosprite herosprite-enchantress" title="Enchantress" id="h_enchantress"></div>
<div class="hero herosprite herosprite-jakiro" title="Jakiro" id="h_jakiro"></div>
<div class="hero herosprite herosprite-chen" title="Chen" id="h_chen"></div>
<br>
<div class="hero herosprite herosprite-silencer" title="Silencer" id="h_silencer"></div>
<div class="hero herosprite herosprite-ogre_magi" title="Ogre Magi" id="h_ogre_magi"></div>
<div class="hero herosprite herosprite-rubick" title="Rubick" id="h_rubick"></div>
<div class="hero herosprite herosprite-disruptor" title="Disruptor" id="h_disruptor"></div>
<br>
<div class="hero herosprite herosprite-keeper_of_the_light" title="Keeper of the Light" id="h_keeper_of_the_light"></div>
<div class="hero herosprite herosprite-skywrath_mage" title="Skywrath Mage" id="h_skywrath_mage"></div>
<br>
</div>
<div class="hero_section">
<div class="hero herosprite herosprite-bane" title="Bane" id="h_bane"></div>
<div class="hero herosprite herosprite-lich" title="Lich" id="h_lich"></div>
<div class="hero herosprite herosprite-lion" title="Lion" id="h_lion"></div>
<div class="hero herosprite herosprite-witch_doctor" title="Witch Doctor" id="h_witch_doctor"></div>
<br>
<div class="hero herosprite herosprite-enigma" title="Enigma" id="h_enigma"></div>
<div class="hero herosprite herosprite-necrolyte" title="Necrophos" id="h_necrolyte"></div>
<div class="hero herosprite herosprite-warlock" title="Warlock" id="h_warlock"></div>
<div class="hero herosprite herosprite-queenofpain" title="Queen of Pain" id="h_queenofpain"></div>
<br>
<div class="hero herosprite herosprite-death_prophet" title="Death Prophet" id="h_death_prophet"></div>
<div class="hero herosprite herosprite-pugna" title="Pugna" id="h_pugna"></div>
<div class="hero herosprite herosprite-dazzle" title="Dazzle" id="h_dazzle"></div>
<div class="hero herosprite herosprite-leshrac" title="Leshrac" id="h_leshrac"></div>
<br>
<div class="hero herosprite herosprite-batrider" title="Batrider" id="h_batrider"></div>
<div class="hero herosprite herosprite-dark_seer" title="Dark Seer" id="h_dark_seer"></div>
<div class="hero herosprite herosprite-ancient_apparition" title="Ancient Apparition" id="h_ancient_apparition"></div>
<div class="hero herosprite herosprite-invoker" title="Invoker" id="h_invoker"></div>
<br>
<div class="hero herosprite herosprite-obsidian_destroyer" title="Outworld Devourer" id="h_obsidian_destroyer"></div>
<div class="hero herosprite herosprite-shadow_demon" title="Shadow Demon" id="h_shadow_demon"></div>
<div class="hero herosprite herosprite-visage" title="Visage" id="h_visage"></div>
</div>
</div>
</div>

<div id="info" class="col-md-12">
    <h2 id="hero_name"></h2>
    <span id="minutes">00</span>:<span id="seconds">00</span>.<span id="hundredthseconds">0</span>
    <div style="margin-top:20px"><h4 id='progress'>Progress: </h4></div>
    <div><h4 id='streak'>Current Streak: 0</h4></div>
    <div><h4 id='longeststreak'>Longest Streak: 0</h4></div>
    <div><h4 id='incorrect'>Incorrect: 0</h4></div>
        <label for="layout" style="margin-top:20px">Layout</label> <select id="layout" class="form-control">
          <option value="normal">All Pick</option>
          <option value="captain">Captain's Mode</option>
        </select>
        <button id="start" class="btn btn-default btn-block">Start</button>
        <button id="stop" class="btn btn-default btn-block" style="display:none">Quit</button>
</div>
  {% endblock main %}
  
    {% block scripts %}
	<script src="{{ media_url('js/hero-selection-trainer/hero-selection-trainer.js') }}"></script>
  {% endblock scripts %}