---
extends: base.j2
title: Dota 2 Item Name Trivia
description: Dota 2 Item Name Trivia. Given a random item portrait, choose the right item name.
active_menu: page-webapps
header: Item Name Trivia
---

  {% block custom_css %}
<style type="text/css">
.btn {
	line-height:3em;
	font-weight:bold;
}
@media (max-width: 767px) {
.btn {
	line-height:1em;
}
h4 {
	font-size:14px;
}
header {
	display:none;
}
}
</style>
  {% endblock custom_css %}
  {% block main %}
			<p class="text-center"><img id="item" class="img-rounded" /></p>
			<div class="row text-center">
				<div id='buttons' class="col-md-offset-3 col-md-6 text-center">
				<button class="btn btn-default btn-block" id="answer_0"></button>
				<button class="btn btn-default btn-block" id="answer_1"></button>
				<button class="btn btn-default btn-block" id="answer_2"></button>
				<button class="btn btn-default btn-block" id="answer_3"></button>
				<button class="btn btn-default btn-block" id="answer_4"></button>
				</div>
			</div>
			<div class="row text-center">
			<div><h4 id='streak'>Current Streak: 0</h4></div>
			<div><h4 id='longeststreak'>Longest Streak: 0</h4></div>
			<div id="ans_msg_container"><div id='ans_msg'></div></div>
			</div>
  {% endblock main %}
  
    {% block scripts %}
	<script src="{{ media_url('js/item-name-trivia/item-name-trivia.js') }}"></script>
  {% endblock scripts %}