---
extends: base.j2
title: Dota 2 Drawable Map
description: Drawable Dota 2 Map. Create, save, and share drawings on a picture of the Dota 2 map.
active_menu: page-webapps
---

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ media_url('css/jquery-ui-1.10.2.custom.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ media_url('css/heroes.css') }}" />
	        <style type="text/css">
.form-control {
color: white;
}
.miniherosprite {
	display:inline-block;
	cursor:hand;
	cursor:pointer;
}
.unselectable {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;			
}
.cursor_crosshair {
	cursor: crosshair;
}
.cursor_hand {
	cursor:hand;
	cursor:pointer;
}
.icon_wrapper {
	float:left;
	display:inline;
}
#picker {
	height:160px;
}
            #picker-wrapper {
                width: 160px;
                height: 160px;
				float:left;
				margin:5px;
                position: relative;

            }
            #slider-wrapper {
                width: 40px;
                height: 160px;
				float:right;
				margin:5px;
                position: relative;
            }
            #picker-indicator {
                width: 6px;
                height: 6px;
                position: absolute;
                border: 1px solid black;
				border-radius:5px;
				background-color:white;
            }
            #slider-indicator {
                width: 100%;
                height: 10px;
                position: absolute;
				border:1px solid black;
            }
.dropdown-menu {
	min-width:250px;
}
#content {
	text-align:center;
}
#canvasContainers {
	margin:0 auto;
}
.ui-widget-header {
background:#979aa1;
}
.ui-widget-content {
background:black;
}
.icons {
	float:left;
}
#iconSavedContainer {
	border-radius:5px;
	margin-top:8px;
	background-color:#131415;
	/*box-shadow:0px 0px 4px 4px #0A0A0A;*/
	width:320px;
	height:32px;
}
#iconContainer {
	width:256px;
	background-color:#1c1d1f;
	/*box-shadow:0px 0px 4px 4px #0A0A0A;*/
}
#slider .ui-state-default {
	background-color:#979aa1;
}
#slider:hover, #slider .ui-state-default:hover {
	cursor:hand;
	cursor:pointer;
}
select {
	width:100%;
	height:28px;
	padding:4px 6px;
	border-radius:4px;
	background:#1c1d1f;
	color:#979aa1;
	border:0px;
	
}
.select-wrapper {
	box-shadow:2px 2px 2px 2px #000;
	margin-left:10px;
	margin-right:5px;
	display:inline-block
}
#savebutton, #sharebutton {
	margin-right:5px;
}
	</style>
{% endblock custom_css %}
  {% block nav %}
<div class="navbar navbar-default {{cls if cls }}">
	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ content_url('/dota2') }}" style="width:220px;"><div></div></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Brush <b class="caret"></b></a>
              <ul class="dropdown-menu" style="padding:10px">
			  
<form class="form-horizontal unselectable" role="form">
  <div class="form-group">
    <label for="brushcolor" class="col-sm-6 control-label">Brush Color</label>
    <div class="col-sm-6">
      <input id="brushcolor" class="form-control" value="FFFFFF">
	</div>
    <div class="col-sm-12">
          <div id="picker-wrapper">
              <div class="cursor_crosshair" id="picker"></div>
              <div id="picker-indicator"></div>
          </div>
          <div id="slider-wrapper">
              <div class="cursor_crosshair" id="slider"></div>
              <div id="slider-indicator"></div>
          </div>
    </div>
  </div>
  <div class="form-group">
    <label for="amount" class="col-sm-6 control-label">Brush Size</label>
    <div class="col-sm-6">
      <input type="text" id="amount" class="form-control" value="1"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
		<div id="size_slider"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input name="herobrush" id="herobrush" type="checkbox"> Hero Brush
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
	<div class="col-sm-12">
					<div id="radiogroup" class="btn-block btn-group-vertical" data-toggle="buttons">
					  <label class="btn btn-default active">
						<input type="radio" name="radio" id="radio1">Marker
					  </label>
					  <label class="btn btn-default">
						<input type="radio" name="radio" id="radio2">Eraser
					  </label>
					  <label class="btn btn-default">
						<input type="radio" name="radio" id="radio3">Hero Icon
					  </label>
					</div>
	</div>
  </div>
</form>
			  

              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><button class="btn btn-default btn-block" id="zoominbutton" type="button">Zoom In</button> </li>
				<li><button class="btn btn-default btn-block" id="zoomoutbutton" type="button">Zoom Out</button> </li>
				<li><button class="btn btn-default btn-block" id="recenterbutton" type="button">Recenter</button></li>
				<li class="divider"></li>
				<li><button class="btn btn-default btn-block" id="undobutton" type="button">Undo</button></li>
				<li><button class="btn btn-default btn-block" id="redobutton" type="button">Redo</button></li>
				<li><button class="btn btn-default btn-block" id="clearbutton" type="button">Clear</button></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><button class="btn btn-default btn-block" id="viewbutton" type="button">View</button></li>
				<li><button class="btn btn-default btn-block" id="sharebutton" type="button">Share (Upload to imgur)</button></li>
				<li><button class="btn btn-default btn-block" id="savebutton" type="button" onclick="save()">Save</button></li>
				<li><div id="savelink" style="display:inline;margin:0px 0px 0px px"></div></li>
              </ul>
	    </li>
            <li class="dropdown unselectable">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Icons <b class="caret"></b></a>
              <ul class="dropdown-menu" style="min-width:256px">
            <li>
							<select id="hero" class="fileinfo" name="hero">
								<option value="ward_observer">Observer Ward</option>
								<option value="ward_sentry">Sentry Ward</option>
								<option value="roshan">Roshan</option>
								<option value="abaddon">Abaddon</option>
								<option value="alchemist">Alchemist</option>
								<option value="ancient_apparition">Ancient Apparition</option>
								<option value="antimage">Anti-Mage</option>
								<option value="axe">Axe</option>
								<option value="bane">Bane</option>
								<option value="batrider">Batrider</option>
								<option value="beastmaster">Beastmaster</option>
								<option value="bloodseeker">Bloodseeker</option>
								<option value="bounty_hunter">Bounty Hunter</option>
								<option value="brewmaster">Brewmaster</option>
								<option value="bristleback">Bristleback</option>
								<option value="broodmother">Broodmother</option>
								<option value="centaur">Centaur Warrunner</option>
								<option value="chaos_knight">Chaos Knight</option>
								<option value="chen">Chen</option>
								<option value="clinkz">Clinkz</option>
								<option value="rattletrap">Clockwerk</option>
								<option value="crystal_maiden">Crystal Maiden</option>
								<option value="dark_seer">Dark Seer</option>
								<option value="dazzle">Dazzle</option>
								<option value="death_prophet">Death Prophet</option>
								<option value="disruptor">Disruptor</option>
								<option value="doom_bringer">Doom Bringer</option>
								<option value="dragon_knight">Dragon Knight</option>
								<option value="drow_ranger">Drow Ranger</option>
								<option value="earthshaker">Earthshaker</option>
								<option value="earth_spirit">Earth Spirit</option>
								<option value="elder_titan">Elder Titan</option>
								<option value="ember_spirit">Ember Spirit</option>
								<option value="enchantress">Enchantress</option>
								<option value="enigma">Enigma</option>
								<option value="faceless_void">Faceless Void</option>
								<option value="gyrocopter">Gyrocopter</option>
								<option value="huskar">Huskar</option>
								<option value="invoker">Invoker</option>
								<option value="wisp">Io</option>
								<option value="jakiro">Jakiro</option>
								<option value="juggernaut">Juggernaut</option>
								<option value="keeper_of_the_light">Keeper of the Light</option>
								<option value="kunkka">Kunkka</option>
								<option value="legion_commander">Legion Commander</option>
								<option value="leshrac">Leshrac</option>
								<option value="lich">Lich</option>
								<option value="life_stealer">Lifestealer</option>
								<option value="lina">Lina</option>
								<option value="lion">Lion</option>
								<option value="lone_druid">Lone Druid</option>
								<option value="luna">Luna</option>
								<option value="lycan">Lycan</option>
								<option value="magnataur">Magnus</option>
								<option value="medusa">Medusa</option>
								<option value="meepo">Meepo</option>
								<option value="mirana">Mirana</option>
								<option value="morphling">Morphling</option>
								<option value="naga_siren">Naga Siren</option>
								<option value="furion">Nature's Prophet</option>
								<option value="necrolyte">Necrophos</option>
								<option value="night_stalker">Night Stalker</option>
								<option value="nyx_assassin">Nyx Assassin</option>
								<option value="obsidian_destroyer">Outworld Devourer</option>
								<option value="ogre_magi">Ogre Magi</option>
								<option value="omniknight">Omniknight</option>
								<option value="phantom_assassin">Phantom Assassin</option>
								<option value="phantom_lancer">Phantom Lancer</option>
								<option value="phoenix">Phoenix</option>
								<option value="puck">Puck</option>
								<option value="pudge">Pudge</option>
								<option value="pugna">Pugna</option>
								<option value="queenofpain">Queen of Pain</option>
								<option value="razor">Razor</option>
								<option value="riki">Riki</option>
								<option value="rubick">Rubick</option>
								<option value="sand_king">Sand King</option>
								<option value="shadow_demon">Shadow Demon</option>
								<option value="nevermore">Shadow Fiend</option>
								<option value="shadow_shaman">Shadow Shaman</option>
								<option value="silencer">Silencer</option>
								<option value="skywrath_mage">Skywrath Mage</option>
								<option value="slardar">Slardar</option>
								<option value="slark">Slark</option>
								<option value="sniper">Sniper</option>
								<option value="spectre">Spectre</option>
								<option value="spirit_breaker">Spirit Breaker</option>
								<option value="storm_spirit">Storm Spirit</option>
								<option value="sven">Sven</option>
								<option value="templar_assassin">Templar Assassin</option>
								<option value="terrorblade">Terrorblade</option>
								<option value="tidehunter">Tidehunter</option>
								<option value="shredder">Timbersaw</option>
								<option value="tinker">Tinker</option>
								<option value="tiny">Tiny</option>
								<option value="treant">Treant Protector</option>
								<option value="troll_warlord">Troll Warlord</option>
								<option value="tusk">Tusk</option>
								<option value="undying">Undying</option>
								<option value="ursa">Ursa</option>
								<option value="vengefulspirit">Vengeful Spirit</option>
								<option value="venomancer">Venomancer</option>
								<option value="viper">Viper</option>
								<option value="visage">Visage</option>
								<option value="warlock">Warlock</option>
								<option value="weaver">Weaver</option>
								<option value="windrunner">Windranger</option>
								<option value="witch_doctor">Witch Doctor</option>
								<option value="skeleton_king">Wraith King</option>
								<option value="zuus">Zeus</option>
							</select>
            </li>
<li class="divider"></li>
<li id="iconContainer">
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-ward_observer" id="icons_ward_observer" title="Observer Ward"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-ward_sentry" id="icons_ward_sentry" title="Sentry Ward"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-roshan" id="icons_roshan" title="Roshan"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-abaddon" id="icons_abaddon" title="Abaddon"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-alchemist" id="icons_alchemist" title="Alchemist"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-ancient_apparition" id="icons_ancient_apparition" title="Ancient Apparition"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-antimage" id="icons_antimage" title="Anti-Mage"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-axe" id="icons_axe" title="Axe"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-bane" id="icons_bane" title="Bane"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-batrider" id="icons_batrider" title="Batrider"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-beastmaster" id="icons_beastmaster" title="Beastmaster"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-bloodseeker" id="icons_bloodseeker" title="Bloodseeker"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-bounty_hunter" id="icons_bounty_hunter" title="Bounty Hunter"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-brewmaster" id="icons_brewmaster" title="Brewmaster"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-bristleback" id="icons_bristleback" title="Bristleback"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-broodmother" id="icons_broodmother" title="Broodmother"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-centaur" id="icons_centaur" title="Centaur Warrunner"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-chaos_knight" id="icons_chaos_knight" title="Chaos Knight"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-chen" id="icons_chen" title="Chen"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-clinkz" id="icons_clinkz" title="Clinkz"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-rattletrap" id="icons_rattletrap" title="Clockwerk"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-crystal_maiden" id="icons_crystal_maiden" title="Crystal Maiden"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-dark_seer" id="icons_dark_seer" title="Dark Seer"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-dazzle" id="icons_dazzle" title="Dazzle"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-death_prophet" id="icons_death_prophet" title="Death Prophet"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-disruptor" id="icons_disruptor" title="Disruptor"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-doom_bringer" id="icons_doom_bringer" title="Doom"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-dragon_knight" id="icons_dragon_knight" title="Dragon Knight"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-drow_ranger" id="icons_drow_ranger" title="Drow Ranger"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-earthshaker" id="icons_earthshaker" title="Earthshaker"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-earth_spirit" id="icons_earth_spirit" title="Earth Spirit"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-elder_titan" id="icons_elder_titan" title="Elder Titan"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-ember_spirit" id="icons_ember_spirit" title="Ember Spirit"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-enchantress" id="icons_enchantress" title="Enchantress"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-enigma" id="icons_enigma" title="Enigma"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-faceless_void" id="icons_faceless_void" title="Faceless Void"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-gyrocopter" id="icons_gyrocopter" title="Gyrocopter"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-huskar" id="icons_huskar" title="Huskar"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-invoker" id="icons_invoker" title="Invoker"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-wisp" id="icons_wisp" title="Io"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-jakiro" id="icons_jakiro" title="Jakiro"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-juggernaut" id="icons_juggernaut" title="Juggernaut"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-keeper_of_the_light" id="icons_keeper_of_the_light" title="Keeper of the Light"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-kunkka" id="icons_kunkka" title="Kunkka"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-legion_commander" id="icons_legion_commander" title="Legion Commander"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-leshrac" id="icons_leshrac" title="Leshrac"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-lich" id="icons_lich" title="Lich"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-life_stealer" id="icons_life_stealer" title="Lifestealer"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-lina" id="icons_lina" title="Lina"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-lion" id="icons_lion" title="Lion"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-lone_druid" id="icons_lone_druid" title="Lone Druid"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-luna" id="icons_luna" title="Luna"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-lycan" id="icons_lycan" title="Lycan"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-magnataur" id="icons_magnataur" title="Magnus"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-medusa" id="icons_medusa" title="Medusa"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-meepo" id="icons_meepo" title="Meepo"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-mirana" id="icons_mirana" title="Mirana"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-morphling" id="icons_morphling" title="Morphling"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-naga_siren" id="icons_naga_siren" title="Naga Siren"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-furion" id="icons_furion" title="Nature's Prophet"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-necrolyte" id="icons_necrolyte" title="Necrophos"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-night_stalker" id="icons_night_stalker" title="Night Stalker"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-nyx_assassin" id="icons_nyx_assassin" title="Nyx Assassin"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-obsidian_destroyer" id="icons_obsidian_destroyer" title="Outworld Devourer"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-ogre_magi" id="icons_ogre_magi" title="Ogre Magi"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-omniknight" id="icons_omniknight" title="Omniknight"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-phantom_assassin" id="icons_phantom_assassin" title="Phantom Assassin"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-phantom_lancer" id="icons_phantom_lancer" title="Phantom Lancer"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-phoenix" id="icons_phoenix" title="Phoenix"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-puck" id="icons_puck" title="Puck"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-pudge" id="icons_pudge" title="Pudge"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-pugna" id="icons_pugna" title="Pugna"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-queenofpain" id="icons_queenofpain" title="Queen of Pain"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-razor" id="icons_razor" title="Razor"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-riki" id="icons_riki" title="Riki"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-rubick" id="icons_rubick" title="Rubick"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-sand_king" id="icons_sand_king" title="Sand King"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-shadow_demon" id="icons_shadow_demon" title="Shadow Demon"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-nevermore" id="icons_nevermore" title="Shadow Fiend"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-shadow_shaman" id="icons_shadow_shaman" title="Shadow Shaman"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-silencer" id="icons_silencer" title="Silencer"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-skywrath_mage" id="icons_skywrath_mage" title="Skywrath Mage"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-slardar" id="icons_slardar" title="Slardar"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-slark" id="icons_slark" title="Slark"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-sniper" id="icons_sniper" title="Sniper"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-spectre" id="icons_spectre" title="Spectre"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-spirit_breaker" id="icons_spirit_breaker" title="Spirit Breaker"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-storm_spirit" id="icons_storm_spirit" title="Storm Spirit"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-sven" id="icons_sven" title="Sven"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-templar_assassin" id="icons_templar_assassin" title="Templar Assassin"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-terrorblade" id="icons_terrorblade" title="Terrorblade"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-tidehunter" id="icons_tidehunter" title="Tidehunter"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-shredder" id="icons_shredder" title="Timbersaw"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-tinker" id="icons_tinker" title="Tinker"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-tiny" id="icons_tiny" title="Tiny"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-treant" id="icons_treant" title="Treant Protector"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-troll_warlord" id="icons_troll_warlord" title="Troll Warlord"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-tusk" id="icons_tusk" title="Tusk"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-undying" id="icons_undying" title="Undying"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-ursa" id="icons_ursa" title="Ursa"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-vengefulspirit" id="icons_vengefulspirit" title="Vengeful Spirit"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-venomancer" id="icons_venomancer" title="Venomancer"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-viper" id="icons_viper" title="Viper"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-visage" id="icons_visage" title="Visage"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-warlock" id="icons_warlock" title="Warlock"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-weaver" id="icons_weaver" title="Weaver"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-windrunner" id="icons_windrunner" title="Windranger"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-witch_doctor" id="icons_witch_doctor" title="Witch Doctor"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-skeleton_king" id="icons_skeleton_king" title="Wraith King"></div></div>
<div class="icon_wrapper"><div class="miniherosprite miniherosprite-zuus" id="icons_zuus" title="Zeus"></div></div>
				
</li>			
</ul>
	    </li>
	    <li>
	<div class="unselectable" id="iconSavedContainer"></div>
	    </li>
		<li class="dropdown"><div id="sharelink" style="padding-top:15px;padding-left:15px;"></div></li>
		  </ul>
		</div>
	</div>
</div>
  {% endblock %}
{% block container %}
				<div class="unselectable cursor_crosshair" id="canvasContainers" style="position:relative">
					<div id="canvasDivBackground" style="position:absolute;background:black;"></div>
					<div id="canvasDiv" style="position:absolute;"></div>
				</div>
{% endblock container %}
{% block push %}
{% endblock push %}
{% block footer %}
{% endblock footer %}
{% block before_scripts %}
	<script type="text/javascript" src="{{ media_url('js/libs/jquery-ui-1.10.2.custom.js') }}"></script>	
{% endblock before_scripts %}
{% block scripts %}
	<script type="text/javascript" src="{{ media_url('js/libs/colorpicker.min.js') }}"></script>
			<script type="text/javascript" src="drawablemap.js"></script>
			<script type="text/javascript">
				getUrlVars();
			</script>		
{% endblock scripts %}
