.hc-item {
    background-image: url('/dota2/apps/hero-calculator/hero-calculator.items.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.hc-shop {
    background-image: url('/dota2/apps/hero-calculator/hero-calculator.items.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.hc-item-abyssal_blade {
    width: 50px;
    height: 36px;
    background-position: -5px -5px;
}

.hc-item-aegis {
    width: 50px;
    height: 36px;
    background-position: -65px -5px;
}

.hc-item-ancient_janggo {
    width: 50px;
    height: 36px;
    background-position: -125px -5px;
}

.hc-item-arcane_boots {
    width: 50px;
    height: 36px;
    background-position: -185px -5px;
}

.hc-item-armlet {
    width: 50px;
    height: 36px;
    background-position: -245px -5px;
}

.hc-item-armlet_active {
    width: 50px;
    height: 36px;
    background-position: -305px -5px;
}

.hc-item-assault {
    width: 50px;
    height: 36px;
    background-position: -365px -5px;
}

.hc-item-basher {
    width: 50px;
    height: 36px;
    background-position: -425px -5px;
}

.hc-item-belt_of_strength {
    width: 50px;
    height: 36px;
    background-position: -485px -5px;
}

.hc-item-bfury {
    width: 50px;
    height: 36px;
    background-position: -545px -5px;
}

.hc-item-black_king_bar {
    width: 50px;
    height: 36px;
    background-position: -605px -5px;
}

.hc-item-blade_mail {
    width: 50px;
    height: 36px;
    background-position: -5px -51px;
}

.hc-item-blade_of_alacrity {
    width: 50px;
    height: 36px;
    background-position: -65px -51px;
}

.hc-item-blades_of_attack {
    width: 50px;
    height: 36px;
    background-position: -125px -51px;
}

.hc-item-blink {
    width: 50px;
    height: 36px;
    background-position: -185px -51px;
}

.hc-item-bloodstone {
    width: 50px;
    height: 36px;
    background-position: -245px -51px;
}

.hc-item-boots {
    width: 50px;
    height: 36px;
    background-position: -305px -51px;
}

.hc-item-boots_of_elves {
    width: 50px;
    height: 36px;
    background-position: -365px -51px;
}

.hc-item-bottle {
    width: 50px;
    height: 36px;
    background-position: -425px -51px;
}

.hc-item-bottle_doubledamage {
    width: 50px;
    height: 36px;
    background-position: -485px -51px;
}

.hc-item-bottle_empty {
    width: 50px;
    height: 36px;
    background-position: -545px -51px;
}

.hc-item-bottle_haste {
    width: 50px;
    height: 36px;
    background-position: -605px -51px;
}

.hc-item-bottle_illusion {
    width: 50px;
    height: 36px;
    background-position: -5px -97px;
}

.hc-item-bottle_invisibility {
    width: 50px;
    height: 36px;
    background-position: -65px -97px;
}

.hc-item-bottle_medium {
    width: 50px;
    height: 36px;
    background-position: -125px -97px;
}

.hc-item-bottle_regeneration {
    width: 50px;
    height: 36px;
    background-position: -185px -97px;
}

.hc-item-bottle_small {
    width: 50px;
    height: 36px;
    background-position: -245px -97px;
}

.hc-item-bracer {
    width: 50px;
    height: 36px;
    background-position: -305px -97px;
}

.hc-item-branches {
    width: 50px;
    height: 36px;
    background-position: -365px -97px;
}

.hc-item-broadsword {
    width: 50px;
    height: 36px;
    background-position: -425px -97px;
}

.hc-item-buckler {
    width: 50px;
    height: 36px;
    background-position: -485px -97px;
}

.hc-item-butterfly {
    width: 50px;
    height: 36px;
    background-position: -545px -97px;
}

.hc-item-chainmail {
    width: 50px;
    height: 36px;
    background-position: -605px -97px;
}

.hc-item-cheese {
    width: 50px;
    height: 36px;
    background-position: -5px -143px;
}

.hc-item-circlet {
    width: 50px;
    height: 36px;
    background-position: -65px -143px;
}

.hc-item-clarity {
    width: 50px;
    height: 36px;
    background-position: -125px -143px;
}

.hc-item-claymore {
    width: 50px;
    height: 36px;
    background-position: -185px -143px;
}

.hc-item-cloak {
    width: 50px;
    height: 36px;
    background-position: -245px -143px;
}

.hc-item-courier {
    width: 50px;
    height: 36px;
    background-position: -305px -143px;
}

.hc-item-courier_dire {
    width: 50px;
    height: 36px;
    background-position: -365px -143px;
}

.hc-item-courier_dire_flying {
    width: 50px;
    height: 36px;
    background-position: -425px -143px;
}

.hc-item-courier_radiant {
    width: 50px;
    height: 36px;
    background-position: -485px -143px;
}

.hc-item-courier_radiant_flying {
    width: 50px;
    height: 36px;
    background-position: -545px -143px;
}

.hc-item-cyclone {
    width: 50px;
    height: 36px;
    background-position: -605px -143px;
}

.hc-item-dagon {
    width: 50px;
    height: 36px;
    background-position: -5px -189px;
}

.hc-item-dagon_2 {
    width: 50px;
    height: 36px;
    background-position: -65px -189px;
}

.hc-item-dagon_3 {
    width: 50px;
    height: 36px;
    background-position: -125px -189px;
}

.hc-item-dagon_4 {
    width: 50px;
    height: 36px;
    background-position: -185px -189px;
}

.hc-item-dagon_5 {
    width: 50px;
    height: 36px;
    background-position: -245px -189px;
}

.hc-item-demon_edge {
    width: 50px;
    height: 36px;
    background-position: -305px -189px;
}

.hc-item-desolator {
    width: 50px;
    height: 36px;
    background-position: -365px -189px;
}

.hc-item-diffusal_blade {
    width: 50px;
    height: 36px;
    background-position: -425px -189px;
}

.hc-item-diffusal_blade_2 {
    width: 50px;
    height: 36px;
    background-position: -485px -189px;
}

.hc-item-dust {
    width: 50px;
    height: 36px;
    background-position: -545px -189px;
}

.hc-item-eagle {
    width: 50px;
    height: 36px;
    background-position: -605px -189px;
}

.hc-item-emptyitembg {
    width: 50px;
    height: 36px;
    background-position: -5px -235px;
}

.hc-item-energy_booster {
    width: 50px;
    height: 36px;
    background-position: -65px -235px;
}

.hc-item-ethereal_blade {
    width: 50px;
    height: 36px;
    background-position: -125px -235px;
}

.hc-item-flask {
    width: 50px;
    height: 36px;
    background-position: -185px -235px;
}

.hc-item-flying_courier {
    width: 50px;
    height: 36px;
    background-position: -245px -235px;
}

.hc-item-force_staff {
    width: 50px;
    height: 36px;
    background-position: -305px -235px;
}

.hc-item-gauntlets {
    width: 50px;
    height: 36px;
    background-position: -365px -235px;
}

.hc-item-gem {
    width: 50px;
    height: 36px;
    background-position: -425px -235px;
}

.hc-item-ghost {
    width: 50px;
    height: 36px;
    background-position: -485px -235px;
}

.hc-item-gloves {
    width: 50px;
    height: 36px;
    background-position: -545px -235px;
}

.hc-item-greater_crit {
    width: 50px;
    height: 36px;
    background-position: -605px -235px;
}

.hc-item-hand_of_midas {
    width: 50px;
    height: 36px;
    background-position: -5px -281px;
}

.hc-item-headdress {
    width: 50px;
    height: 36px;
    background-position: -65px -281px;
}

.hc-item-heart {
    width: 50px;
    height: 36px;
    background-position: -125px -281px;
}

.hc-item-heavens_halberd {
    width: 50px;
    height: 36px;
    background-position: -185px -281px;
}

.hc-item-helm_of_iron_will {
    width: 50px;
    height: 36px;
    background-position: -245px -281px;
}

.hc-item-helm_of_the_dominator {
    width: 50px;
    height: 36px;
    background-position: -305px -281px;
}

.hc-item-hood_of_defiance {
    width: 50px;
    height: 36px;
    background-position: -365px -281px;
}

.hc-item-hyperstone {
    width: 50px;
    height: 36px;
    background-position: -425px -281px;
}

.hc-item-invis_sword {
    width: 50px;
    height: 36px;
    background-position: -485px -281px;
}

.hc-item-javelin {
    width: 50px;
    height: 36px;
    background-position: -545px -281px;
}

.hc-item-lesser_crit {
    width: 50px;
    height: 36px;
    background-position: -605px -281px;
}

.hc-item-lifesteal {
    width: 50px;
    height: 36px;
    background-position: -5px -327px;
}

.hc-item-maelstrom {
    width: 50px;
    height: 36px;
    background-position: -65px -327px;
}

.hc-item-magic_stick {
    width: 50px;
    height: 36px;
    background-position: -125px -327px;
}

.hc-item-magic_wand {
    width: 50px;
    height: 36px;
    background-position: -185px -327px;
}

.hc-item-manta {
    width: 50px;
    height: 36px;
    background-position: -245px -327px;
}

.hc-item-mantle {
    width: 50px;
    height: 36px;
    background-position: -305px -327px;
}

.hc-item-mask_of_madness {
    width: 50px;
    height: 36px;
    background-position: -365px -327px;
}

.hc-item-medallion_of_courage {
    width: 50px;
    height: 36px;
    background-position: -425px -327px;
}

.hc-item-mekansm {
    width: 50px;
    height: 36px;
    background-position: -485px -327px;
}

.hc-item-mithril_hammer {
    width: 50px;
    height: 36px;
    background-position: -545px -327px;
}

.hc-item-mjollnir {
    width: 50px;
    height: 36px;
    background-position: -605px -327px;
}

.hc-item-monkey_king_bar {
    width: 50px;
    height: 36px;
    background-position: -5px -373px;
}

.hc-item-mystic_staff {
    width: 50px;
    height: 36px;
    background-position: -65px -373px;
}

.hc-item-necronomicon {
    width: 50px;
    height: 36px;
    background-position: -125px -373px;
}

.hc-item-necronomicon_2 {
    width: 50px;
    height: 36px;
    background-position: -185px -373px;
}

.hc-item-necronomicon_3 {
    width: 50px;
    height: 36px;
    background-position: -245px -373px;
}

.hc-item-null_talisman {
    width: 50px;
    height: 36px;
    background-position: -305px -373px;
}

.hc-item-oblivion_staff {
    width: 50px;
    height: 36px;
    background-position: -365px -373px;
}

.hc-item-ogre_axe {
    width: 50px;
    height: 36px;
    background-position: -425px -373px;
}

.hc-item-orb_of_venom {
    width: 50px;
    height: 36px;
    background-position: -485px -373px;
}

.hc-item-orchid {
    width: 50px;
    height: 36px;
    background-position: -545px -373px;
}

.hc-item-pers {
    width: 50px;
    height: 36px;
    background-position: -605px -373px;
}

.hc-item-phase_boots {
    width: 50px;
    height: 36px;
    background-position: -5px -419px;
}

.hc-item-pipe {
    width: 50px;
    height: 36px;
    background-position: -65px -419px;
}

.hc-item-platemail {
    width: 50px;
    height: 36px;
    background-position: -125px -419px;
}

.hc-item-point_booster {
    width: 50px;
    height: 36px;
    background-position: -185px -419px;
}

.hc-item-poor_mans_shield {
    width: 50px;
    height: 36px;
    background-position: -245px -419px;
}

.hc-item-power_treads {
    width: 50px;
    height: 36px;
    background-position: -305px -419px;
}

.hc-item-power_treads_agi {
    width: 50px;
    height: 36px;
    background-position: -365px -419px;
}

.hc-item-power_treads_int {
    width: 50px;
    height: 36px;
    background-position: -425px -419px;
}

.hc-item-power_treads_str {
    width: 50px;
    height: 36px;
    background-position: -485px -419px;
}

.hc-item-quarterstaff {
    width: 50px;
    height: 36px;
    background-position: -545px -419px;
}

.hc-item-quelling_blade {
    width: 50px;
    height: 36px;
    background-position: -605px -419px;
}

.hc-item-radiance {
    width: 50px;
    height: 36px;
    background-position: -5px -465px;
}

.hc-item-radiance_inactive {
    width: 50px;
    height: 36px;
    background-position: -65px -465px;
}

.hc-item-rapier {
    width: 50px;
    height: 36px;
    background-position: -125px -465px;
}

.hc-item-reaver {
    width: 50px;
    height: 36px;
    background-position: -185px -465px;
}

.hc-item-recipe {
    width: 50px;
    height: 36px;
    background-position: -245px -465px;
}

.hc-item-recipe_scroll {
    width: 50px;
    height: 36px;
    background-position: -305px -465px;
}

.hc-item-refresher {
    width: 50px;
    height: 36px;
    background-position: -365px -465px;
}

.hc-item-relic {
    width: 50px;
    height: 36px;
    background-position: -425px -465px;
}

.hc-item-ring_of_aquila {
    width: 50px;
    height: 36px;
    background-position: -485px -465px;
}

.hc-item-ring_of_aquila_active {
    width: 50px;
    height: 36px;
    background-position: -545px -465px;
}

.hc-item-ring_of_basilius {
    width: 50px;
    height: 36px;
    background-position: -605px -465px;
}

.hc-item-ring_of_basilius_active {
    width: 50px;
    height: 36px;
    background-position: -5px -511px;
}

.hc-item-ring_of_health {
    width: 50px;
    height: 36px;
    background-position: -65px -511px;
}

.hc-item-ring_of_protection {
    width: 50px;
    height: 36px;
    background-position: -125px -511px;
}

.hc-item-ring_of_regen {
    width: 50px;
    height: 36px;
    background-position: -185px -511px;
}

.hc-item-robe {
    width: 50px;
    height: 36px;
    background-position: -245px -511px;
}

.hc-item-rod_of_atos {
    width: 50px;
    height: 36px;
    background-position: -305px -511px;
}

.hc-item-sange {
    width: 50px;
    height: 36px;
    background-position: -365px -511px;
}

.hc-item-sange_and_yasha {
    width: 50px;
    height: 36px;
    background-position: -425px -511px;
}

.hc-item-satanic {
    width: 50px;
    height: 36px;
    background-position: -485px -511px;
}

.hc-item-shadow_amulet {
    width: 50px;
    height: 35px;
    background-position: -545px -511px;
}

.hc-item-sheepstick {
    width: 50px;
    height: 36px;
    background-position: -605px -511px;
}

.hc-item-shivas_guard {
    width: 50px;
    height: 36px;
    background-position: -5px -557px;
}

.hc-item-skadi {
    width: 50px;
    height: 36px;
    background-position: -65px -557px;
}

.hc-item-slippers {
    width: 50px;
    height: 36px;
    background-position: -125px -557px;
}

.hc-item-smoke_of_deceit {
    width: 50px;
    height: 36px;
    background-position: -185px -557px;
}

.hc-item-sobi_mask {
    width: 50px;
    height: 36px;
    background-position: -245px -557px;
}

.hc-item-soul_booster {
    width: 50px;
    height: 36px;
    background-position: -305px -557px;
}

.hc-item-soul_ring {
    width: 50px;
    height: 36px;
    background-position: -365px -557px;
}

.hc-item-sphere {
    width: 50px;
    height: 36px;
    background-position: -425px -557px;
}

.hc-item-staff_of_wizardry {
    width: 50px;
    height: 36px;
    background-position: -485px -557px;
}

.hc-item-stout_shield {
    width: 50px;
    height: 36px;
    background-position: -545px -557px;
}

.hc-item-talisman_of_evasion {
    width: 50px;
    height: 36px;
    background-position: -605px -557px;
}

.hc-item-tango {
    width: 50px;
    height: 36px;
    background-position: -5px -603px;
}

.hc-item-tpscroll {
    width: 50px;
    height: 36px;
    background-position: -65px -603px;
}

.hc-item-tranquil_boots {
    width: 50px;
    height: 36px;
    background-position: -125px -603px;
}

.hc-item-tranquil_boots_active {
    width: 50px;
    height: 36px;
    background-position: -185px -603px;
}

.hc-item-travel_boots {
    width: 50px;
    height: 36px;
    background-position: -245px -603px;
}

.hc-item-ultimate_orb {
    width: 50px;
    height: 36px;
    background-position: -305px -603px;
}

.hc-item-ultimate_scepter {
    width: 50px;
    height: 36px;
    background-position: -365px -603px;
}

.hc-item-urn_of_shadows {
    width: 50px;
    height: 36px;
    background-position: -425px -603px;
}

.hc-item-vanguard {
    width: 50px;
    height: 36px;
    background-position: -485px -603px;
}

.hc-item-veil_of_discord {
    width: 50px;
    height: 36px;
    background-position: -545px -603px;
}

.hc-item-vitality_booster {
    width: 50px;
    height: 36px;
    background-position: -605px -603px;
}

.hc-item-vladmir {
    width: 50px;
    height: 36px;
    background-position: -665px -5px;
}

.hc-item-void_stone {
    width: 50px;
    height: 36px;
    background-position: -665px -51px;
}

.hc-item-ward_observer {
    width: 50px;
    height: 36px;
    background-position: -665px -97px;
}

.hc-item-ward_sentry {
    width: 50px;
    height: 36px;
    background-position: -665px -143px;
}

.hc-item-wraith_band {
    width: 50px;
    height: 36px;
    background-position: -665px -189px;
}

.hc-item-yasha {
    width: 50px;
    height: 36px;
    background-position: -665px -235px;
}

.hc-shop-arcane {
    width: 50px;
    height: 50px;
    background-position: -5px -649px;
}

.hc-shop-armaments {
    width: 50px;
    height: 50px;
    background-position: -65px -649px;
}

.hc-shop-armor {
    width: 50px;
    height: 50px;
    background-position: -125px -649px;
}

.hc-shop-artifacts {
    width: 50px;
    height: 50px;
    background-position: -185px -649px;
}

.hc-shop-attributes {
    width: 50px;
    height: 50px;
    background-position: -245px -649px;
}

.hc-shop-caster {
    width: 50px;
    height: 50px;
    background-position: -305px -649px;
}

.hc-shop-common {
    width: 50px;
    height: 50px;
    background-position: -365px -649px;
}

.hc-shop-consumables {
    width: 50px;
    height: 50px;
    background-position: -425px -649px;
}

.hc-shop-secret {
    width: 50px;
    height: 50px;
    background-position: -485px -649px;
}

.hc-shop-support {
    width: 50px;
    height: 50px;
    background-position: -545px -649px;
}

.hc-shop-weapons {
    width: 50px;
    height: 50px;
    background-position: -305px -649px;
}