---
extends: base.j2
title: Dota 2 Hero Calculator
description: Dota 2 Hero Calculator. A hero calculator that takes into account level, items, skills, and stats. Choose hero level, items, and skills and see detailed information about a hero's stats.
active_menu: page-webapps
header: Hero Calculator
---
{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ media_url('css/heroes.css') }}" />
	{% if site.config.mode == "development" %}
		<link rel="stylesheet" type="text/css" href="{{ media_url('css/jquery-ui-1.10.3.custom.css') }}" />
		<link rel="stylesheet" type="text/css" href="hero-calculator.app.css" />
		<link rel="stylesheet" type="text/css" href="hero-calculator.items.css" />
	{% endif %}
	{% if site.config.mode == "production" %}
		<link rel="stylesheet" type="text/css" href="hero-calculator.min.css" />
	{% endif %}
  {% endblock custom_css %}
{% block content %}
	<div data-bind="css: { container: !(sideView()) }">
          <header class="banner clearfix">
          {% if resource.meta.header %}<h2>{{ resource.meta.header }}</h2>{% endif %}
          </header>
		  
		<div class="col-md-8" data-bind="css: { 'col-md-8': displayShop(), 'col-md-12': !displayShop()}">
			<ul class="nav nav-tabs">
			  <li><a id="heroTab0" href="#hero0" style="color:#5cb85c" data-toggle="tab" data-bind="click: clickTab, text: heroes[0].hero().displayname()">Hero 1</a></li>
			  <li><a id="unitTab0" href="#unit0" style="color:#5cb85c" data-toggle="tab" data-bind="click: clickTab, text: heroes[0].unit().hero().displayname()">Unit 1</a></li>
			  <li><a id="heroTab1" href="#hero1" style="color:#d9534f" data-toggle="tab" data-bind="click: clickTab, text: heroes[1].hero().displayname()">Hero 2</a></li>
			  <li><a id="unitTab1" href="#unit1" style="color:#d9534f" data-toggle="tab" data-bind="click: clickTab, text: heroes[1].unit().hero().displayname()">Unit 2</a></li>
			  <li><a id="settingsTab" href="#settings" data-toggle="tab" data-bind="click: clickTab">Settings</a></li>
			  <li> <div class="checkbox" style="margin-left:15px"><label><input type="checkbox" data-bind="checked: sideView"> Side by side view</label></div></li>
			  <button class="close" data-bind="click: toggleDisplayShop, visible: !displayShop()">+</button>
			</ul>

			<div class="tab-content" data-bind="foreach: new Array(2)">
				<div class="tab-pane" data-bind="css: { active: $index()==0, sideView: $parent.showSideTab[$index()] }, attr: {id: 'hero' + $index()}, with: $parent.heroes[$index()]">
					<div data-bind="css: { 'row-no-margin': $root.layout() == 1 }" class="row">
						<div class="col-md-4">
							<img class="img-rounded" data-bind="attr:{src: '/media/images/heroes/' + selectedHero().heroName + '.png'}"/>
						</div>
						<div class="col-md-4">
							<label for="heroselect">Hero</label>
							<select id="heroselect" class="form-control" data-bind="options: availableHeroes , optionsText: 'heroDisplayName', value: selectedHero"></select>
						</div>
						<div class="col-md-4">
							<label for="herolevel">Level</label>
							<select id="herolevel" class="form-control" data-bind="value: selectedHeroLevel, foreach: new Array(25)">
								<option data-bind="text: $index()+1"></option>
							</select>
						</div>
					</div>
					
					<div class="col-md-4" style="padding-left:0px;" data-bind="css: {'col-md-4': $root.layout() == 0, 'row-no-margin': $root.layout() == 1}">
						<div class="row">
							<h3 class="col-md-12">Stats <a class="btn btn-default btn-xs" data-bind="click: toggleStatDetails, text: !showStatDetails() ? 'Show more' : 'Show less'"></a></h3>
			
							<div class="col-md-12" data-bind="visible: showStatDetails(), css: {'col-md-12': $root.layout() == 0, 'col-md-3': $root.layout() == 1}">
								<table class="table table-condensed">
									<tbody>
										<tr><td>Base Strength:</td><td class="text-right"><span data-bind="text: hero().attributebasestrength"></span></td></tr>
										<tr><td>Strength Gain:</td><td class="text-right"><span data-bind="text: hero().attributestrengthgain"></span></td></tr>
										<tr><td>Base Agility:</td><td class="text-right"><span data-bind="text: hero().attributebaseagility"></span></td></tr>
										<tr><td>Agility Gain:</td><td class="text-right"><span data-bind="text: hero().attributeagilitygain"></span></td></tr>
										<tr><td>Base Intelligence:</td><td class="text-right"><span data-bind="text: hero().attributebaseintelligence"></span></td></tr>
										<tr><td>Intelligence Gain:</td><td class="text-right"><span data-bind="text: hero().attributeintelligencegain"></span></td></tr>
										<tr><td>Base Armor:</td><td class="text-right"><span data-bind="text: hero().armorphysical"></span></td></tr>
										<tr><td>Base Magic Res:</td><td class="text-right"><span data-bind="text: hero().magicalresistance() + '%'"></span></td></tr>
										<tr><td>Base Attack Point:</td><td class="text-right"><span data-bind="text: hero().attackpoint"></span></td></tr>
									</tbody>
								</table>
							</div>
							<div class="statscontainer" data-bind="foreach: $root.allItems">
								<div data-bind="template: { name: $data.value + '-template', data: $root.heroes[$parentContext.$index()]}"></div>
							</div>
						</div>

						<div class="row" data-bind="visible: showDamageDetails()">
							<div class="col-md-12">
								<h3>Damage Details
									<span class="pull-right">
										<small style="text-align:center" data-bind="style: {color: getDamageTypeColor('physical')}">Physical</small>
										<small style="text-align:center" data-bind="style: {color: getDamageTypeColor('magic')}">Magical</small>
										<small style="text-align:center" data-bind="style: {color: getDamageTypeColor('pure')}">Pure</small>
									</span>
								</h3>
								<table class="table">
									<tbody>
										<tr>
											<td></td>
											<td class="text-right"><strong>Unmitigated</strong></td>
											<td class="text-right"><strong><abbr data-bind="attr: {title: 'After reductions from ' + $root.heroes[($index()+1) % 2].hero().displayname()}">After Reductions</abbr></strong></td>
										</tr>
										<tr>
											<td><abbr title="sum of damage sources">Damage Per Attack:</abbr></td>
											<td class="text-right"><span data-bind="html: damageTotalInfo().total.toFixed(2)"></span></td>
											<td class="text-right"><span data-bind="html: damageTotalInfo().totalReduced.toFixed(2)"></span></td>
										</tr>
										<tr>
											<td><abbr title="damage per attack / attacks per second">DPS:</abbr></td>
											<td class="text-right"><span data-bind="html: (damageTotalInfo().total * attacksPerSecond()).toFixed(2)"></span></td>
											<td class="text-right"><span data-bind="html: (damageTotalInfo().totalReduced * attacksPerSecond()).toFixed(2)"></span></td>
										</tr>
										<tr data-bind="visible: damageTotalInfo().sourcesCrit.length > 0">
											<td><abbr title="sum of damage sources + avg crit damage">Damage Per Attack w/ Crit:</abbr></td>
											<td class="text-right"><span data-bind="html: (damageTotalInfo().total + damageTotalInfo().totalcrit).toFixed(2)"></span></td>
											<td class="text-right"><span data-bind="html: (damageTotalInfo().totalReduced + damageTotalInfo().totalcritreduced).toFixed(2)"></span></td>
										</tr>
										<tr data-bind="visible: damageTotalInfo().sourcesCrit.length > 0">
											<td><abbr title="damage per attack / attacks per second">DPS w/ Crit:</abbr></td>
											<td class="text-right"><span data-bind="html: ((damageTotalInfo().total + damageTotalInfo().totalcrit) * attacksPerSecond()).toFixed(2)"></span></td>
											<td class="text-right"><span data-bind="html: ((damageTotalInfo().totalReduced + damageTotalInfo().totalcritreduced) * attacksPerSecond()).toFixed(2)"></span></td>
										</tr>
										<tr><td colspan=3><strong><abbr title="with %chance taken into account">Damage Sources</abbr></strong></td></tr>
										<tr>
											<td>Base Damage</td><td class="text-right"><span data-bind="html: ((baseDamage()[0] + baseDamage()[1])/2).toFixed(2)"></span></td>
											<td class="text-right"><span data-bind="html: getReducedDamage((baseDamage()[0] + baseDamage()[1])/2, 'physical').toFixed(2)"></span></td>
										</tr>
									</tbody>
									<tbody data-bind="foreach: damageTotalInfo().sources">
										<tr>
											<td><span data-bind="text: $data.name"></span></td>
											<td class="text-right"><span data-bind="text: $data.damage.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
											<td class="text-right"><span data-bind="text: $data.damageReduced.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
										</tr>
									</tbody>

									<tr data-bind="visible: damageTotalInfo().sourcesCrit.length > 0">
										<td colspan=2><strong>Critical Strike</strong></td>
									</tr>
									
									<tbody data-bind="foreach: damageTotalInfo().sourcesCrit">
										<tr>
											<td><span data-bind="text: $data.name"></span></td>
											<td class="text-right"><span data-bind="text: $data.damage.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
											<td class="text-right"><span data-bind="text: $data.damageReduced.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
										</tr>
									</tbody>
								
									<tbody>
										<tr data-bind="visible: cleaveInfo().length > 0">
											<td colspan=3><strong>Cleave</strong></td>
										</tr>
									</tbody>	
									<tbody data-bind="foreach: cleaveInfo()">
										<tr><td>Radius:</td><td class="text-right"><span data-bind="text: $data.radius"></span></td></tr>
										<tr><td>Magnitude:</td><td class="text-right"><span data-bind="text: ($data.magnitude * 100).toFixed(2) + '%'"></span></td></tr>
										<tr>
											<td>Cleave Damage:</td>
											<td class="text-right"><span data-bind="html: ($data.magnitude * $parent.damageTotalInfo().total).toFixed(2)"></span></td>
										</tr>
									</tbody>
								
								</table>
							</div>
						</div>
						

						</div>
					
					<div class="col-md-8" data-bind="css: {'col-md-8': $root.layout() == 0, 'row-no-margin': $root.layout() == 1}">
						<div class="col-md-12">
							<div class="row">
								<h3 class="section_header" data-bind="click: function(data, event) { sectionDisplayToggle('inventory'); }, css: { section_disabled: !sectionDisplay().inventory() }">Inventory <small style="color:goldenrod" data-bind="html: inventory.totalCost() ? '<img src=\'http://cdn.dota2.com/apps/dota2/images/tooltips/gold.png\'/> ' + inventory.totalCost() : '' "></small></h3>
								<div id="inventory" data-bind="foreach: inventory.items, visible: sectionDisplay().inventory()">
									<div class="btn-group">
										<img style="width:75px;" class="img-rounded" data-bind="css: { item_disabled: !enabled(), item_active: $parent.inventory.getActiveBorder($data) == 1, item_inactive: $parent.inventory.getActiveBorder($data) == 0 }, attr:{ src: $parent.inventory.getItemImage($data) }, click: function(data, event) { $parent.inventory.toggleItem($index, data, event); }, event: { dblclick: $parent.inventory.removeItem }"/>
										<div style="float:left" data-bind="visible: $parent.inventory.getItemSizeLabel($data) != ''">
											<div data-bind="html: $parent.inventory.getItemSizeLabel($data)" style="position:absolute;left:0;bottom:0;color:white;opacity:.5;background-color:black;padding:0px 2px"></div>
											<div data-bind="html: $parent.inventory.getItemSizeLabel($data)" style="position:absolute;left:0;bottom:0;color:white;padding:0px 2px"></div>
										</div>
										<div class="btn-group-vertical">
											<button style="padding:3px 10px;" class="btn btn-default btn-xs" title="Remove Item" data-bind="click: $parent.inventory.removeItem">&times;</button>
											<button style="padding:3px 10px;" class="btn btn-default btn-xs" title="Disable/Enable Item" data-bind="click: $parent.inventory.toggleMuteItem, html: enabled() ? 'o' : '-', attr: {title: enabled() ? 'Disable Item' : 'Enable Item'}">o</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<h3 class="section_header" data-bind="click: function(data, event) { sectionDisplayToggle('ability'); }, css: { section_disabled: !sectionDisplay().ability() }">Abilities <small style="color:inherit" data-bind="text: availableSkillPoints() ? (availableSkillPoints() == 1 ? '1 unspent skillpoint' : availableSkillPoints() + ' unspent skillpoints') : ''"></small></h3>
								<div class="row" data-bind="foreach: ability().abilities, visible: sectionDisplay().ability()">
									<div data-bind="template: { name: 'ability-template'}"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h3 class="section_header" data-bind="click: function(data, event) { sectionDisplayToggle('buff'); }, css: { section_disabled: !sectionDisplay().buff() }">Buffs</h3>
								<div class="form-horizontal" data-bind="visible: sectionDisplay().buff()">
									<div class="form-group">
										<div class="col-md-6">
											<select id="buffselect" class="form-control" data-bind="options: buffs.availableBuffs , optionsText: 'buffDisplayName', value: buffs.selectedBuff"></select>
										</div>
										<div class="col-md-6">
											<button class="btn btn-default" data-bind="click: buffs.addBuff">Add</button>
											<button class="btn btn-default" data-bind="click: function(data,event) { buffs.removeBuff(data, event, buffs.selectedBuff().buffName) }">Remove</button>
										</div>
									</div>
								</div>
								<div class="row" data-bind="foreach: buffs.buffs, visible: sectionDisplay().buff()">
									<div data-bind="css: {row: $data.data.isdetail() || ($index() < $parent.buffs.buffs().length-1 && $parent.buffs.buffs()[$index()+1].data.isdetail()), row2: $data.data.isdetail() || ($index() < $parent.buffs.buffs().length-1 && $parent.buffs.buffs()[$index()+1].data.isdetail()) }">
										<div class="col-md-3 text-center bottom-buffer" data-bind="css: {'col-md-3': $root.layout() == 0, 'col-md-2': $root.layout() == 1}">
											<img class="img-rounded ability" data-bind="css: { ability_active: $data.data.isactive() || $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') != -1, ability_inactive: !$data.data.isactive() && $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1 }, attr:{src: '/media/images/spellicons/' + $data.data.name() + '.png'}, click: function(data, event) { $parent.buffs.toggleBuff($index, data.data, event); }, event: { dblclick: function(data,event) { $parent.buffs.removeBuff(data, event, $data.data.name()) } }"/>
											<div class="progress" style="position:relative">
												<div style="position:absolute;width:100%;color:white;" class="text-center" data-bind="visible: $parent.getAbilityLevelMax($data.data) > 0, text: $data.data.level() + '/' + $parent.getAbilityLevelMax($data.data)"></div>
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-bind="attr: { 'aria-valuenow': ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) }, style: { width: ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) + '%' }"></div>
											</div>
											<div class="btn-group btn-group-justified" data-bind="if: $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_NOT_LEARNABLE') == -1">
												<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.buffs.levelDownAbility($index, data.data, event, $parent); }">-</a>
												<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.buffs.levelUpAbility($index, data.data, event, $parent); }">+</a>
											</div>
											<div class="btn-group btn-group-justified">
												<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.buffs.toggleBuffDetail($index, data, event); }">Details</a>
											</div>
										</div>
										<div class="col-md-9 bottom-buffer" data-bind="visible: $data.data.isdetail()">
											<button type="button" class="close" style="color:white" data-bind="click: function(data, event) { $parent.buffs.toggleBuffDetail($index, data.data, event); }">&times;</button>
											<div data-bind="html: $parent.ability().getAbilityTooltipData($data.hero, $data.data.name())"></div>
											<div data-bind="if: $data.data.name() in $parent.buffs.abilityData && $parent.buffs.buffs()[$index()].data.level() > 0">
												<div class="col-md-8">
													<div data-bind="template: { name: 'buff-settings-template', data: $parent.buffs.abilitySettingsData($data.data.name(), $parent, $index()) }"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h3 class="section_header" data-bind="click: function(data, event) { sectionDisplayToggle('debuff'); }, css: { section_disabled: !sectionDisplay().debuff() }">Debuffs</h3>
								<div class="form-horizontal" data-bind="visible: sectionDisplay().debuff()">
									<div class="form-group">
										<div class="col-md-6">
											<select id="buffselect" class="form-control" data-bind="options: debuffs.availableDebuffs , optionsText: 'buffDisplayName', value: debuffs.selectedBuff"></select>
										</div>
										<div class="col-md-6">
											<button class="btn btn-default" data-bind="click: debuffs.addBuff">Add</button>
											<button class="btn btn-default" data-bind="click: function(data,event) { debuffs.removeBuff(data, event, debuffs.selectedBuff().buffName) }">Remove</button>
										</div>
									</div>
								</div>
			
								<div class="row" data-bind="foreach: debuffs.buffs, visible: sectionDisplay().debuff()">
									<div data-bind="css: {row: $data.data.isdetail() || ($index() < $parent.debuffs.buffs().length-1 && $parent.debuffs.buffs()[$index()+1].data.isdetail()), row2: $data.data.isdetail() || ($index() < $parent.debuffs.buffs().length-1 && $parent.debuffs.buffs()[$index()+1].data.isdetail()) }">
										<div class="col-md-3 text-center bottom-buffer" data-bind="css: {'col-md-3': $root.layout() == 0, 'col-md-2': $root.layout() == 1}">
											<img class="img-rounded ability" data-bind="css: { ability_active: $data.data.isactive() || $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') != -1, ability_inactive: !$data.data.isactive() && $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1 }, attr:{src: '/media/images/spellicons/' + $data.data.name() + '.png'}, click: function(data, event) { $parent.debuffs.toggleBuff($index, data.data, event); }, event: { dblclick: function(data,event) { $parent.debuffs.removeBuff(data, event, $data.data.name()) } }"/>
											<div class="progress" style="position:relative">
												<div style="position:absolute;width:100%;color:white;" class="text-center" data-bind="visible: $parent.getAbilityLevelMax($data.data) > 0, text: $data.data.level() + '/' + $parent.getAbilityLevelMax($data.data)"></div>
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-bind="attr: { 'aria-valuenow': ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) }, style: { width: ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) + '%' }"></div>
											</div>
											<div class="btn-group btn-group-justified" data-bind="if: $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_NOT_LEARNABLE') == -1">
												<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.debuffs.levelDownAbility($index, data.data, event, $parent); }">-</a>
												<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.debuffs.levelUpAbility($index, data.data, event, $parent); }">+</a>
											</div>
											<div class="btn-group btn-group-justified">
												<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.debuffs.toggleBuffDetail($index, data, event); }">Details</a>
											</div>
										</div>
										<div class="col-md-9 bottom-buffer" data-bind="visible: $data.data.isdetail()">
											<button type="button" class="close" style="color:white" data-bind="click: function(data, event) { $parent.debuffs.toggleBuffDetail($index, data.data, event); }">&times;</button>
											<div data-bind="html: $parent.ability().getAbilityTooltipData($data.hero, $data.data.name())"></div>
											<div data-bind="if: $data.data.name() in $parent.debuffs.abilityData && $parent.debuffs.buffs()[$index()].data.level() > 0">
												<div class="col-md-8">
													<div data-bind="template: { name: 'buff-settings-template', data: $parent.debuffs.abilitySettingsData($data.data.name(), $parent, $index()) }"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h3 class="section_header" data-bind="click: function(data, event) { sectionDisplayToggle('damageamp'); }, css: { section_disabled: !sectionDisplay().damageamp() }">Damage Amplification & Reduction</h3>
								<div data-bind="visible: sectionDisplay().damageamp()">
									<h4 style="color:red">Under Construction</h4>
									<div class="form-group">
										<label for="damageinput">Damage</label>
										<input class="form-control" id="damageinput" data-bind="value: damageInputValue" />
									</div>	
									<h4>Amplification</h4>
									<div class="form-horizontal">
										<div class="form-group">
											<div class="col-md-6">
												<select id="buffampselect" class="form-control" data-bind="options: damageAmplification.availableBuffs , optionsText: 'buffDisplayName', value: damageAmplification.selectedBuff"></select>
											</div>
											<div class="col-md-6">
												<button class="btn btn-default" data-bind="click: damageAmplification.addBuff">Add Ability</button>
											</div>
										</div>
									</div>
									<div class="row" data-bind="foreach: damageAmplification.buffs">
										<div data-bind="css: {row: $data.data.isdetail() || ($index() < $parent.damageAmplification.buffs().length-1 && $parent.damageAmplification.buffs()[$index()+1].data.isdetail()), row2: $data.data.isdetail() || ($index() < $parent.damageAmplification.buffs().length-1 && $parent.damageAmplification.buffs()[$index()+1].data.isdetail()) }">
											<div class="col-md-3 text-center bottom-buffer" data-bind="css: {'col-md-3': $root.layout() == 0, 'col-md-2': $root.layout() == 1}">
												<img class="img-rounded ability" data-bind="css: { ability_active: $data.data.isactive() || $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') != -1, ability_inactive: !$data.data.isactive() && $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1 }, attr:{src: '/media/images/spellicons/' + $data.data.name() + '.png'}, click: function(data, event) { $parent.damageAmplification.toggleBuff($index, data.data, event); }"/>
												<div class="progress" style="position:relative">
													<div style="position:absolute;width:100%;color:white;" class="text-center" data-bind="visible: $parent.getAbilityLevelMax($data.data) > 0, text: $data.data.level() + '/' + $parent.getAbilityLevelMax($data.data)"></div>
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-bind="attr: { 'aria-valuenow': ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) }, style: { width: ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) + '%' }"></div>
												</div>
												<div class="btn-group btn-group-justified" data-bind="if: $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_NOT_LEARNABLE') == -1">
													<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageAmplification.levelDownAbility($index, data.data, event, $parent); }">-</a>
													<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageAmplification.levelUpAbility($index, data.data, event, $parent); }">+</a>
												</div>
												<div class="btn-group btn-group-justified">
													<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageAmplification.toggleBuffDetail($index, data, event); }">Details</a>
												</div>
											</div>
											<div class="col-md-9 bottom-buffer" data-bind="visible: $data.data.isdetail()">
												<button type="button" class="close" style="color:white" data-bind="click: function(data, event) { $parent.damageAmplification.toggleBuffDetail($index, data.data, event); }">&times;</button>
												<div data-bind="html: $parent.ability().getAbilityTooltipData($data.hero, $data.data.name())"></div>
												<div data-bind="if: $data.data.name() in $parent.damageAmplification.abilityData && $parent.damageAmplification.buffs()[$index()].data.level() > 0">
													<div class="col-md-8">
														<div data-bind="template: { name: 'buff-settings-template', data: $parent.damageAmplification.abilitySettingsData($data.data.name(), $parent, $index()) }"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<h4>Reduction</h4>
									<div class="form-horizontal">
										<div class="form-group">
											<div class="col-md-6">
												<select id="buffreductionselect" class="form-control" data-bind="options: damageReduction.availableDebuffs , optionsText: 'buffDisplayName', value: damageReduction.selectedBuff"></select>
											</div>
											<div class="col-md-6">
												<button class="btn btn-default" data-bind="click: damageReduction.addBuff">Add Ability</button>
											</div>
										</div>
									</div>
									<div class="row" data-bind="foreach: damageReduction.buffs">
										<div data-bind="css: {row: $data.data.isdetail() || ($index() < $parent.damageReduction.buffs().length-1 && $parent.damageReduction.buffs()[$index()+1].data.isdetail()), row2: $data.data.isdetail() || ($index() < $parent.damageReduction.buffs().length-1 && $parent.damageReduction.buffs()[$index()+1].data.isdetail()) }">
											<div class="col-md-3 text-center bottom-buffer" data-bind="css: {'col-md-3': $root.layout() == 0, 'col-md-2': $root.layout() == 1}">
												<img class="img-rounded ability" data-bind="css: { ability_active: $data.data.isactive() || $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') != -1, ability_inactive: !$data.data.isactive() && $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1 }, attr:{src: '/media/images/spellicons/' + $data.data.name() + '.png'}, click: function(data, event) { $parent.damageReduction.toggleBuff($index, data.data, event); }"/>
												<div class="progress" style="position:relative">
													<div style="position:absolute;width:100%;color:white;" class="text-center" data-bind="visible: $parent.getAbilityLevelMax($data.data) > 0, text: $data.data.level() + '/' + $parent.getAbilityLevelMax($data.data)"></div>
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-bind="attr: { 'aria-valuenow': ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) }, style: { width: ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) + '%' }"></div>
												</div>
												<div class="btn-group btn-group-justified" data-bind="if: $data.data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_NOT_LEARNABLE') == -1">
													<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageReduction.levelDownAbility($index, data.data, event, $parent); }">-</a>
													<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageReduction.levelUpAbility($index, data.data, event, $parent); }">+</a>
												</div>
												<div class="btn-group btn-group-justified">
													<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageReduction.toggleBuffDetail($index, data, event); }">Details</a>
												</div>
											</div>
											<div class="col-md-9 bottom-buffer" data-bind="visible: $data.data.isdetail()">
												<button type="button" class="close" style="color:white" data-bind="click: function(data, event) { $parent.damageReduction.toggleBuffDetail($index, data.data, event); }">&times;</button>
												<div data-bind="html: $parent.ability().getAbilityTooltipData($data.hero, $data.data.name())"></div>
												<div data-bind="if: $data.data.name() in $parent.damageReduction.abilityData && $parent.damageReduction.buffs()[$index()].data.level() > 0">
													<div class="col-md-8">
														<div data-bind="template: { name: 'buff-settings-template', data: $parent.damageReduction.abilitySettingsData($data.data.name(), $parent, $index()) }"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<h4>Calculations</h4>
									<table class="table">
										<tbody data-bind="foreach: damageInputModified().sources">
											<tr>
												<td><span data-bind="text: $data.label"></span></td>
												<td class="text-right"><span data-bind="text: Math.round($data.value * 100) / 100, style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
					
				</div>

				<div class="tab-pane" data-bind="css: { sideView: $parent.showSideTab[$index()+2] }, attr: {id: 'unit' + $index()}, with: $parent.heroes[$index()].unit">
					<h4 style="color:red">Under Construction</h4>
					<div data-bind="css: { 'row-no-margin': $root.layout() == 1 }" class="row">
						<div class="col-md-4"><img class="img-rounded" data-bind="attr:{src: selectedUnit().image}"/></div>
						<div class="col-md-4">
							<label for="unitselect">Unit</label>
							<select id="unitselect" class="form-control" data-bind="options: availableUnits , optionsText: 'heroDisplayName', value: selectedUnit"></select>
						</div>
						<div class="col-md-4">
							<label for="unitlevel">Level</label>
							<p class="form-control-static" data-bind="visible: selectedUnit().levels == 0, text: hero().level"></p>
							<select id="herolevel" class="form-control" data-bind="visible: selectedUnit().levels > 0, value: selectedUnitLevel, foreach: new Array(selectedUnit().levels)">
								<option data-bind="text: $index()+1"></option>
							</select>
						</div>
					</div>
	  
					<div data-bind="css: { 'row-no-margin': $root.layout() == 1 }" class="row">
						<h3 class="col-md-12">Stats <a class="btn btn-default btn-xs" data-bind="click: toggleStatDetails, text: !showStatDetails() ? 'Show more' : 'Show less'"></a></h3>
						
						<div class="col-md-3" data-bind="visible: showStatDetails()"><table class="table table-condensed">
						<tbody>
						<tr><td>Base Strength:</td><td class="text-right"><span data-bind="text: hero().attributebasestrength"></span></td></tr>
						<tr><td>Strength Gain:</td><td class="text-right"><span data-bind="text: hero().attributestrengthgain"></span></td></tr>
						<tr><td>Base Agility:</td><td class="text-right"><span data-bind="text: hero().attributebaseagility"></span></td></tr>
						<tr><td>Agility Gain:</td><td class="text-right"><span data-bind="text: hero().attributeagilitygain"></span></td></tr>
						<tr><td>Base Intelligence:</td><td class="text-right"><span data-bind="text: hero().attributebaseintelligence"></span></td></tr>
						<tr><td>Intelligence Gain:</td><td class="text-right"><span data-bind="text: hero().attributeintelligencegain"></span></td></tr>
						<tr><td>Base Armor:</td><td class="text-right"><span data-bind="text: hero().armorphysical"></span></td></tr>
						<tr><td>Base Magic Res:</td><td class="text-right"><span data-bind="text: hero().magicalresistance() + '%'"></span></td></tr>
						<tr><td>Base Attack Point:</td><td class="text-right"><span data-bind="text: hero().attackpoint"></span></td></tr>
						</tbody>
						</table></div>
						
						<div class="col-md-3"><table class="table table-condensed">
						<tbody>
						<tr><td>Gold:</td><td class="text-right"><span data-bind="text: hero().bountygoldmin() == hero().bountygoldmax() ? hero().bountygoldmax() : hero().bountygoldmin() + '-' + hero().bountygoldmax()"></span></td></tr>
						<tr><td>Experience:</td><td class="text-right"><span data-bind="text: hero().bountyxp()"></span></td></tr>
						<tr><td>Level:</td><td class="text-right"><span data-bind="text: hero().level()"></span></td></tr>
						<tr><td><abbr title="Movement Speed">MS</abbr>:</td><td class="text-right"><span data-bind="text: totalMovementSpeed"></span></td></tr>
						<tr><td>Turn Rate:</td><td class="text-right"><span data-bind="text: totalTurnRate"></span></td></tr>
						<tr><td>Sight Range:</td><td class="text-right"><span data-bind="html: '<abbr title=\'Day\'>' + visionrangeday() + '</abbr>/<abbr title=\'Night\'>' + visionrangenight() + '</abbr>'"></span></td></tr>
						</tbody>
						</table></div>


						<div class="col-md-3"><table class="table table-condensed">
						<tbody>
						<tr><td>Health:</td><td class="text-right"><span data-bind="text: health"></span></td></tr>
						<tr><td>Health Regen:</td><td class="text-right"><span data-bind="text: healthregen"></span></td></tr>
						<tr><td>Mana:</td><td class="text-right"><span data-bind="text: mana"></span></td></tr>
						<tr><td>Mana Regen:</td><td class="text-right"><span data-bind="text: manaregen"></span></td></tr>
						<tr><td>Physical <abbr title="Effective Hit Points">EHP</abbr>:</td><td class="text-right"><span data-bind="text: ehpPhysical"></span></td></tr>
						<tr><td>Magical <abbr title="Effective Hit Points">EHP</abbr>:</td><td class="text-right"><span data-bind="text: ehpMagical"></span></td></tr>
						</tbody>
						</table></div>

						<div class="col-md-3"><table class="table table-condensed">
						<tbody>
						<tr><td>Armor:</td><td class="text-right"><span data-bind="text: totalArmorPhysical"></span></td></tr>
						<tr><td>Magic Res:</td><td class="text-right"><span data-bind="html: (totalMagicResistance() * 100).toFixed(2) + '%'"></span></td></tr>
						<tr><td>Lifesteal:</td><td class="text-right"><span data-bind="text: lifesteal"></span></td></tr>
						<tr><td>Evasion:</td><td class="text-right"><span data-bind="text: evasion"></span></td></tr>
						<tr><td>Bash:</td><td class="text-right"><span data-bind="text: bash"></span></td></tr>
						<tr><td>Miss Chance:</td><td class="text-right"><span data-bind="text: missChance"></span></td></tr>
						<tr><td colspan=2><a class="btn btn-default btn-block btn-xs" data-bind="css: {disabled: critInfo().sources.length == 0 ? 'disabled' : ''}, click: toggleCriticalStrikeDetails">Critical Strike Details</a></td></tr>
						</tbody>
						<tbody class="tabledropdown" style="border-top:0" data-bind="visible: showCriticalStrikeDetails(),foreach: critInfo().sources">
						<tr><td colspan=2><strong data-bind="text: $data.name"></strong></td></tr>
						<tr><td>Crit Chance:</td><td class="text-right"><span data-bind="text: ($data.totalchance * 100).toFixed(2) + '%'"></span></td></tr>
						<tr><td>Crit Multiplier:</td><td class="text-right"><span data-bind="text: ($data.multiplier * 100).toFixed(2) + '%'"></span></td></tr>
						</tbody>
						</table></div>

						<div class="col-md-3"><table class="table table-condensed">
						<tbody>
						<tr>
							<td>Damage:</td>
							<td class="text-right">
								<span data-bind="html: baseDamage()[0] + '-' + baseDamage()[1]"></span>
								<span style="color:green" data-bind="visible: bonusDamage() > 0, text: ' + ' + bonusDamage()"></span>
								<span style="color:red" data-bind="visible: bonusDamageReduction() != 0, text: ' - ' + bonusDamageReduction()"></span>
							</td>
						</tr>
						<tr><td><abbr title="Increased Attack Speed">IAS</abbr>:</td><td class="text-right"><span data-bind="text: ias"></span></td></tr>
						<tr><td><abbr title="Base Attack Time">BAT</abbr>:</td><td class="text-right"><span data-bind="text: bat"></span></td></tr>
						<tr><td>Attack Time:</td><td class="text-right"><span data-bind="text: attackTime"></span></td></tr>
						<tr><td>Attack / Sec:</td><td class="text-right"><span data-bind="text: attacksPerSecond().toFixed(2)"></span></td></tr>
						<tr><td>Attack Range:</td><td class="text-right"><span data-bind="text: totalattackrange"></span></td></tr>
						<tr><td colspan=2><a class="btn btn-default btn-block btn-xs" data-bind="click: toggleDamageDetails">Damage Details</a></td></tr>
						</tbody>
						</table></div>
					
					</div>  
	 
					<div class="row" data-bind="css: { 'row-no-margin': $root.layout() == 1 }, visible: showDamageDetails()">
						<h3>Damage Details
							<span class="pull-right">
							<small style="text-align:center" data-bind="style: {color: getDamageTypeColor('physical')}">Physical</small>
							<small style="text-align:center" data-bind="style: {color: getDamageTypeColor('magic')}">Magical</small>
							<small style="text-align:center" data-bind="style: {color: getDamageTypeColor('pure')}">Pure</small>
							</span>
						</h3>
						<table class="table">
						<tbody>
						<tr>
							<td></td>
							<td class="text-right"><strong>Unmitigated</strong></td>
							<td class="text-right"><strong><abbr data-bind="attr: {title: 'After reductions from ' + $root.heroes[($index()+1) % 2].hero().displayname()}">After Reductions</abbr></strong></td>
						</tr>
						<tr>
							<td><abbr title="sum of damage sources">Damage Per Attack:</abbr></td>
							<td class="text-right"><span data-bind="html: damageTotalInfo().total.toFixed(2)"></span></td>
							<td class="text-right"><span data-bind="html: damageTotalInfo().totalReduced.toFixed(2)"></span></td>
						</tr>
						<tr>
							<td><abbr title="damage per attack / attacks per second">DPS:</abbr></td>
							<td class="text-right"><span data-bind="html: (damageTotalInfo().total * attacksPerSecond()).toFixed(2)"></span></td>
							<td class="text-right"><span data-bind="html: (damageTotalInfo().totalReduced * attacksPerSecond()).toFixed(2)"></span></td>
						</tr>
						<tr data-bind="visible: damageTotalInfo().sourcesCrit.length > 0">
							<td><abbr title="sum of damage sources + avg crit damage">Damage Per Attack w/ Crit:</abbr></td>
							<td class="text-right"><span data-bind="html: (damageTotalInfo().total + damageTotalInfo().totalcrit).toFixed(2)"></span></td>
							<td class="text-right"><span data-bind="html: (damageTotalInfo().totalReduced + damageTotalInfo().totalcritreduced).toFixed(2)"></span></td>
						</tr>
						<tr data-bind="visible: damageTotalInfo().sourcesCrit.length > 0">
							<td><abbr title="damage per attack / attacks per second">DPS w/ Crit:</abbr></td>
							<td class="text-right"><span data-bind="html: ((damageTotalInfo().total + damageTotalInfo().totalcrit) * attacksPerSecond()).toFixed(2)"></span></td>
							<td class="text-right"><span data-bind="html: ((damageTotalInfo().totalReduced + damageTotalInfo().totalcritreduced) * attacksPerSecond()).toFixed(2)"></span></td>
						</tr>
						<tr><td colspan=3><strong><abbr title="with %chance taken into account">Damage Sources</abbr></strong></td></tr>
						<tr>
							<td>Base Damage</td><td class="text-right"><span data-bind="html: ((baseDamage()[0] + baseDamage()[1])/2).toFixed(2)"></span></td>
							<td class="text-right"><span data-bind="html: getReducedDamage((baseDamage()[0] + baseDamage()[1])/2, 'physical').toFixed(2)"></span></td>
						
						</tr>
						</tbody>
						<tbody data-bind="foreach: damageTotalInfo().sources">
							<tr>
								<td><span data-bind="text: $data.name"></span></td>
								<td class="text-right"><span data-bind="text: $data.damage.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
								<td class="text-right"><span data-bind="text: $data.damageReduced.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
							</tr>
						</tbody>

						<tr data-bind="visible: damageTotalInfo().sourcesCrit.length > 0">
							<td colspan=2><strong>Critical Strike</strong></td>
						</tr>
						<tbody data-bind="foreach: damageTotalInfo().sourcesCrit">
							<tr>
								<td><span data-bind="text: $data.name"></span></td>
								<td class="text-right"><span data-bind="text: $data.damage.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
								<td class="text-right"><span data-bind="text: $data.damageReduced.toFixed(2), style: {color: $parent.getDamageTypeColor($data.damagetype)}"></span></td>
							</tr>
						</tbody>
						
						<tbody>
						<tr data-bind="visible: cleaveInfo().length > 0">
							<td colspan=3><strong>Cleave</strong></td>
						</tr>
						</tbody>	
						<tbody data-bind="foreach: cleaveInfo()">
							<tr><td>Radius:</td><td class="text-right"><span data-bind="text: $data.radius"></span></td></tr>
							<tr><td>Magnitude:</td><td class="text-right"><span data-bind="text: ($data.magnitude * 100).toFixed(2) + '%'"></span></td></tr>
						<tr>
							<td>Cleave Damage:</td>
							<td class="text-right"><span data-bind="html: ($data.magnitude * $parent.damageTotalInfo().total).toFixed(2)"></span></td>
						</tr>
						</tbody>
						
						</table>
					</div>
	 
					<div data-bind="css: { 'row-no-margin': $root.layout() == 1 }" class="row">
						<h3>Abilities <small style="color:inherit" data-bind="text: availableSkillPoints() ? (availableSkillPoints() == 1 ? '1 unspent skillpoint' : availableSkillPoints() + ' unspent skillpoints') : ''"></small></h3>
						<div data-bind="foreach: ability().abilities">
							<div data-bind="if: $data.displayname() != 'Empty' &&  ($data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_HIDDEN') == -1 || $data.name().indexOf('invoker_') != -1),
								style: {clear: $data.name() == 'invoker_cold_snap' || $data.name() == 'invoker_chaos_meteor' ? 'both' : ''}, css: {row: $data.isdetail() || ($index() < $parent.ability().abilities().length-1 && $parent.ability().abilities()[$index()+1].isdetail()), row3: $data.isdetail() || ($index() < $parent.ability().abilities().length-1 && $parent.ability().abilities()[$index()+1].isdetail()) }">
								<div class="col-md-2 text-center bottom-buffer row2">
									<img class="img-rounded ability" data-bind="css: { ability_active: $data.isactive() || $data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') != -1, ability_inactive: !$data.isactive() && $data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1 }, attr:{src: '/media/images/spellicons/' + $data.name() + '.png'}, click: function(data, event) { $parent.ability().toggleAbility($index, data, event); }"/>
									<div class="progress" style="position:relative">
										<div style="position:absolute;width:100%;color:white;" class="text-center" data-bind="visible: $parent.getAbilityLevelMax($data) > 0, text: $data.level() + '/' + $parent.getAbilityLevelMax($data)"></div>
										<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-bind="attr: { 'aria-valuenow': ($parent.getAbilityLevelMax($data) > 0 ? $data.level()/$parent.getAbilityLevelMax($data)*100 : 0) }, style: { width: ($parent.getAbilityLevelMax($data) > 0 ? $data.level()/$parent.getAbilityLevelMax($data)*100 : 0) + '%' }"></div>
									</div>
									<div class="btn-group btn-group-justified" data-bind="if: $data.behavior().indexOf('DOTA_ABILITY_BEHAVIOR_NOT_LEARNABLE') == -1">
										<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.ability().levelDownAbility($index, data, event, $parent); }">-</a>
										<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.ability().levelUpAbility($index, data, event, $parent); }">+</a>
									</div>
									<div class="btn-group btn-group-justified">
									<a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.ability().toggleAbilityDetail($index, data, event); }">Details</a>
									</div>
								</div>
								<div class="col-md-10 bottom-buffer" data-bind="visible: $data.isdetail()">
									<button type="button" class="close" style="color:white" data-bind="click: function(data, event) { $parent.ability().toggleAbilityDetail($index, data, event); }">&times;</button>
									<div data-bind="html: $parent.ability().getAbilityTooltipData($parent.hero().name(), $data.name())"></div>
									<div data-bind="if: $data.name() in $parent.ability().abilityData && $parent.ability().abilities()[$index()].level() > 0">
										<div class="col-md-8">
											<div data-bind="template: { name: 'ability-settings-template', data: $parent.ability().abilitySettingsData($data.name(), $parent, $index()) }"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	 
	 
					 <div class="row" data-bind="css: { 'row-no-margin': $root.layout() == 1 }, visible: inventory.hasInventory">
						<h3>Inventory <small style="color:goldenrod" data-bind="html: inventory.totalCost() ? '<img src=\'http://cdn.dota2.com/apps/dota2/images/tooltips/gold.png\'/> ' + inventory.totalCost() : '' "></small></h3>
						<div id="inventory" data-bind="foreach: inventory.items">
							<div data-bind="template: { name: 'item-template'}"></div>
						</div>
					</div>
	 
				</div>
	  
				<div class="tab-pane" id="settings" data-bind="if: $index() == 0, css: { sideView: $parent.showSideTab[4] }">
					<h3>Settings</h3>
					<label>Display the stat section as a column or in a row.</label>
					<div class="form-group">
						<div class="radio">
						  <label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="0" data-bind="value: 0, checked: $root.layout">
							Column Layout
						  </label>
						</div>
						<div class="radio">
						  <label>
							<input type="radio" name="optionsRadios" id="optionsRadios2" value="1" data-bind="value: 1, checked: $root.layout">
							Row Layout
						  </label>
						</div>
					</div>
					<label>Change how the stat groups are ordered.</label>
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-md-8">
								<select class="form-control" multiple="multiple" height="4" data-bind="options: $root.allItems , optionsText: 'name', selectedOptions: $root.selectedItems"> </select>
							</div>
							<div class="col-md-4 btn-group-vertical">
								<button class="btn btn-default" data-bind="click: $root.moveUp, enable: $root.allItems().length > 1">Move Up</button>
								<button class="btn btn-default" data-bind="click: $root.moveDown, enable: $root.allItems().length > 1">Move Down</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div data-bind="template: { name: 'shop-template'}"></div>
        
        <button style="display:none;margin-top:10px" class="btn btn-default" data-bind="click: save">Save/Share</button>
        <div id="savelink"></div>
        <div class="col-md-4"><button class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin-top:10px">Report a bug</button></div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Report a bug</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<label for="BugReportFormName">Name</label>
								<input type="text" class="form-control" id="BugReportFormName" placeholder="(Optional)">
							</div>
							<div class="form-group">
								<label for="BugReportFormEmail">Email address</label>
								<input type="email" class="form-control" id="BugReportFormEmail" placeholder="(Optional)">
							</div>
							<div class="form-group">
								<label for="BugReportFormText">Message</label>
								<textarea class="form-control" rows="5" id="BugReportFormText"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
                    <a style="float:left;" href="changelog.txt" target="_blank">Changelog</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="submitBugReport" data-bind="click: sendReport">Submit</button>
					</div>
				</div>
			</div>
		</div>

<!--#include virtual="/includes/footer.shtml" -->

	</div> <!-- /container -->

	<div class="push"></div>
	</div>
	
</div>

  <footer>
	  <p><img src="/media/images/footer.png"></p>
      <p><a href="mailto:admin@devilesk.com">admin@devilesk.com</a></p>
      <p>Copyright &copy; 2014 <a href="http://devilesk.com">devilesk.com</a><p>
  </footer>
  {% endblock content %}
{% block scripts %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
	{% if site.config.mode == "development" %}
		<script src="jquery-ui-1.10.3.custom.js"></script>
		<script src="hero-calculator.inventory.js"></script>
		<script src="hero-calculator.tooltips.js"></script>
		<script src="hero-calculator.abilitydata.js"></script>
		<script src="hero-calculator.abilities.js"></script>
		<script src="hero-calculator.buffs.js"></script>
		<script src="hero-calculator.buffs.amplification.reduction.js"></script>
		<script src="hero-calculator.hero.js"></script>
		<script src="hero-calculator.unit.js"></script>
		<script src="hero-calculator.app.js"></script>
	{% endif %}
	{% if site.config.mode == "production" %}
		<script src="hero-calculator.min.js"></script>
		<script src="hero-calculator.app.min.js"></script>
	{% endif %}
    <script type="text/javascript">
	$(function () {
		HEROCALCULATOR.init("{{ media_url('/js/herodata.json') }}","{{ media_url('/js/itemdata.json') }}","{{ media_url('/js/unitdata.json') }}");
	});
</script>
  {% endblock scripts %}
