---
extends: base.j2
title: devilesk Dota 2
description: devilesk Dota 2
---

{% block page_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css">
<style type="text/css">
#box-timeline {
	border: 1px solid #202126;
	display: inline-block;
}
#banner {
	overflow: hidden;
	opacity: .5;
}
.patches .list-group-item {
	float: left;
}
.panel-body > p {
    margin: 0;
}
.slick-slide > img {
    padding: 5px;
    width: 100%;
    cursor: pointer;
}
.slick-carousel {
    margin: 25px;
}
</style>
{% endblock page_head %}

{% block main %}
<div class="row">
    {% block other %}
    <div class="col-sm-12 col-md-12">
        
<div class="slick-carousel">
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

    </div>
    {%- endblock %}
    
    {% block sitenews %}
    <div class="col-sm-6 col-md-6 site-news">
        <h3>Site Updates</h3>
        <div class="site-news-container">
            {% for news in sitenews -%}
            <div class="panel panel-default">
                <div class="panel-body">
                {% filter markdown|typogrify -%}{{ news }}{%- endfilter %}
                </div>
            </div>
            {%- endfor %}
        </div>
    </div>
    {%- endblock %}
    {% block patches %}
    <div class="col-sm-6 col-md-6 patches">
        <h3>Patches</h3>
        <div class="patches-container">
            {% for patch in patches -%}
            <div class="panel panel-default col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="panel-body">
                    <a href="/dota2/patches/{{ patch }}">{{ patch }}</a>
                </div>
            </div>
            {%- endfor %}
        </div>
    </div>
    {%- endblock %}
</div>
{%- endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script> 
<script src="{{ media_url('js/mosaic.js') }}"></script>
{%- endblock %}