---
extends: base.j2
title: devilesk Dota 2
description: devilesk Dota 2
---

{% block custom_css %}
<style type="text/css">
#box-timeline {
	border: 1px solid #202126;
	display: inline-block;
}
#banner {
	overflow: hidden;
	opacity: .5;
}
.patches .list-group-item {
	float: left;
}
</style>
{% endblock custom_css %}

{% block main %}
<div class="row">
    <div class="col-sm-6 col-md-6">
        <h3>Trivia Channel</h3>
        <div class="thumbnail">
            <a href="{{ media_url('/images/trivia-channel-guide.png') }}"><img src="{{ media_url('/images/trivia-channel-guide-thumbnail.jpg') }}" alt="Dota 2 Trivia Channel">
            </a>
            <div class="caption">
                <p>I run a Dota 2 trivia bot in an in-game chat channel named Trivia. </p>
                <p>More at info <a href="http://www.dotatrivia.com">dotatrivia.com</a>
                </p>
            </div>
        </div>

        <h3>Site Updates</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <p>New <a href="/dota2/apps/replay/viewer">replay viewer</a> app.</p>
            </li>
            <li class="list-group-item">
                <p><a href="/dota2/apps/interactivemap2">Interactive map</a> updated for patch 6.82.</p>
            </li>
            <li class="list-group-item">
                <p>New option to switch between a light and dark theme at the bottom of any page.</p>
            </li>
            <li class="list-group-item">
                <p><a href="/dota2/prize-pool-international-2014-2">Half hour</a> and <a href="/dota2/prize-pool-international-2014">daily</a> prize pool growth charts.</p>
            </li>
            <li class="list-group-item">
                <p>Track the International 2014 prize pool growth with this <a href="/dota2/prize-pool-international-2014">chart</a>.</p>
            </li>
            <li class="list-group-item">
                <p>Changelog for patch 6.81 is out! Read it <a href="/dota2/patches/6.81">here</a>.</p>
            </li>
            <li class="list-group-item">
                <p>Changelog for patch 6.80 is out! Read it <a href="/dota2/patches/6.80">here</a>.</p>
            </li>
        </ul>

    </div>
    <div class="col-sm-6 col-md-6">
        <h3>Hero Mosaic Wallpapers</h3>
        <iframe class="light-theme imgur-album" width="100%" height="550" frameborder="0" src="//imgur.com/a/NMpKl/embed?background=ffffff&text=1a1a1a&link=4e76c9"></iframe>
        <iframe class="dark-theme imgur-album" width="100%" height="550" frameborder="0" src="//imgur.com/a/NMpKl/embed?background=131415&text=ffffff&link=4e76c9"></iframe>
    </div>
    <div class="col-sm-6 col-md-6 patches">
        <h3>Patches</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/dota2/patches/6.83b">6.83b</a>
            </li>
            <li class="list-group-item">
                <a href="/dota2/patches/6.83">6.83</a>
            </li>
            <li class="list-group-item">
                <a href="/dota2/patches/6.82c">6.82c</a>
            </li>
            <li class="list-group-item">
                <a href="/dota2/patches/6.82b">6.82b</a>
            </li>
            <li class="list-group-item">
                <a href="/dota2/patches/6.82">6.82</a>
            </li>
            <li class="list-group-item">
                <a href="/dota2/patches/6.81">6.81</a>
            </li>
            <li class="list-group-item">
                <a href="/dota2/patches/6.80">6.80</a>
            </li>
            <li class="list-group-item">
                <a href="/dota2/patches/6.79">6.79</a>
            </li>
        </ul>
    </div>
</div>
{% endblock main %}
