---
extends: base.j2
title: Dota 2 Community
description: Community
active_menu: page-community
---

  {% block custom_css %}
<style type="text/css">
.reddit_link_more, .stream_link_more {
  display:none;
}
#workshop img {
  max-width:100%;
}
.box {
  padding-bottom:10px;
  border-bottom:1px solid #979aa2;
}
.box:last-child {
  border-bottom:none;
}
</style>
  {% endblock custom_css %}
  {% block container %}
  <div style="display:inline-block;width:100%">
  <div class="col-md-6">
<div class="box">
	<h3>Top Dota 2 Reddit Threads</h3>
<div class="text-center">
<ul id="pager_reddit" class="pagination pagination-sm">
  <li class="prev disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li class="next"><a href="#">&raquo;</a></li>
</ul>
</div>
	<div id="reddit-list" class="list-group">

	</div>
</div>
<div id="dotablog" class="box">
</div>
<div class="box">
<h3>Top Youtube Video</h3>
<div id="youtube-video">
</div>
</div>
</div>
<div class="col-md-6">
<div class="box">
	<h3>Match Ticker</h3>
<table style="width:100%">
<tbody id="matchticker">
</tbody>
</table>
</div>
<div class="box">
	<h3>Live Twitch Streams</h3>
	<div class="text-center">
<ul id="pager_streams" class="pagination pagination-sm">
  <li class="prev disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li><a href="#">7</a></li>
  <li><a href="#">8</a></li>
  <li><a href="#">9</a></li>
  <li><a href="#">10</a></li>
  <li class="next"><a href="#">&raquo;</a></li>
</ul>
</div>
	<div id="streams-list" class="list-group">
  
	</div>
<a style="text-align:right;display:block" href="{{ content_url('/dota2/community/streams') }}">Full list...</a>
</div>
<div id="workshop" class="box">
</div>
</div>

</div>
  {% endblock container %}
  
    {% block scripts %}
	<script src="{{ media_url('js/community/community.js') }}"></script>
  {% endblock scripts %}
