---
extends: base.j2
default_block: main
title: devilesk Dota 2
description: devilesk Dota 2
active_menu: page-community
header: Leagues
---

    <div id="leagues-list_0" class="leagues-list col-md-6 list-group ">
        {% for league in leagues[0] -%}
        <div class="league_item list-group-item ">
            <div class="league_name"><a href="{{ league.url }}">{{ league.name }}</a></div>
            <div class="league_description">{{ league.description }}</div>
        </div>
        {%- endfor %}
    </div>

    <div id="leagues-list_1" class="leagues-list col-md-6 list-group ">
        {% for league in leagues[1] -%}
        <div class="league_item list-group-item ">
            <div class="league_name"><a href="{{ league.url }}">{{ league.name }}</a></div>
            <div class="league_description">{{ league.description }}</div>
        </div>
        {%- endfor %}
    </div>
