{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<div class="navbar navbar-default {{cls if cls }}">
	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ content_url('/dota2') }}"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="top-nav-menu nav navbar-nav">
			{% for item in menu -%}
                {% if item.submenu -%}
                <li class="dropdown {{ 'active' if item.css_class == resource.meta.active_menu }}">
                  <a href="{{ content_url(item.url) }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="mobile-only"><a href="{{ content_url(item.url) }}">{{ item.description }}</a></li>
                    <li class="divider mobile-only"></li>
                    {% for subitem in item.submenu -%}
                    {% if subitem.type == 'page' -%}
                        {% if subitem.url -%}
                            <li><a href="{{ content_url(subitem.url) }}">{{ subitem.name }}</a></li>
                        {% elif subitem.ext_url -%}
                            <li><a href="{{ subitem.ext_url }}">{{ subitem.name }}</a></li>
                        {% endif %}
                    {% elif subitem.type == 'header' -%}
                    <li class="dropdown-header">{{ subitem.name }}</li>
                    {% elif subitem.type == 'divider' -%}
                    <li class="divider"></li>
                    {%- endif %}
                    {%- endfor %}
                  </ul>
                </li>
                {% else %}
                <li class="{{ 'active' if item.css_class == resource.meta.active_menu }}"><a href="{{ content_url(item.url) }}">{{ item.name }}</a></li>
                {%- endif %}
			{%- endfor %}
		  </ul>
		</div>
	</div>
</div>
{%- endif %}
{%- endmacro %}
