.ability-wrapper, .abilitybox, .abilitybox_end {
	width:105px;
	background-color:#1c1d1f;
	height:105px;
	display:inline-block;
	text-shadow: 0 0 0.4em #000, 0 0 0.4em #000, 0 0 0.4em #000,
        0 0 0.4em #000;
	color:white;
	font-weight:bold;
	vertical-align:middle;
	position:relative;
	box-shadow: inset 0 0 10px #000000;
}
.overlay-hover {
	position: absolute;
	width: 105px;
	height: 105px;
	z-index: 1000;
}
.ability-wrapper, .abilitybox_end {
	margin: 0 10px 20px;
}
.abilitytextcontainer {
	width:105px;
	height:105px;
	display:table;
}
.abilitytext {
	display:table-cell; 
	vertical-align:middle; 
	text-align:center; 
}
.overlay-hover, .abilitybox:hover {
	cursor:pointer;
}

#abilitybox_start, #abilitybox_end {
	display:inline-block;
	width:100%;
}