footer, .push {
    text-align:center;
    height: $footer-height; /* .push must be the same height as .footer */
    font-size: 14px;
    margin-top: $footer-top-margin;
}
footer {
    .footer-logo {
        width: 32px;
        height: 32px;
        background: url($footer-img);
        margin: auto;
    }
    .social-link {
        display: inline-block;
        vertical-align: text-top;
        padding-left: 5px;
    }
    .donate-link {
        vertical-align: middle;
    }
    a {
        color: $text-color;
    
        &:hover {
            color: lighten($text-color, 20%);
        }
    }
    border-top: 1px solid #242628;
    padding: 20px;
    
    @media (max-width: $screen-sm-max) {
        > .row > div.col-sm-4 {
            text-align: center;
        }
    }
}