.page-herodata {
    .portraitsprite {
    margin: auto;
    }
    .form-inline .form-control {
    width: 100%;
    }
    @media (min-width: 768px) {
    .form-inline .form-group {
    width: 45%;
    }
    }
    .well {
    padding: 5px;
    margin: 3px;
    margin-bottom: 6px;
    }
    .glyphicon {
    top: 2px;
    }
    .dropdown-menu {
    min-width: 320px;
    }
    li.table-columns {
    width:50%;
    float:left;
    }
    table {
        font-size: 14px;
    }
    .form-inline .filter-comparison {
        width: calc(50% - 2px);
    }
    .sort-container {
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .no-btn {
        touch-action: initial;
        cursor: auto;
        -webkit-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }
    .column-dropdown {
        display: inline-block;
        padding: 0;
        vertical-align: bottom;
    }
    .controls-row .form-group {
        display: inline-block;
    }
    .fullscreen {
        font-size: 16px;
    }
    .hideColumn {
        background-color:#131415 !important;
    }
}