@import 'variables';
@import '../../libs/bootstrap-sass/assets/stylesheets/bootstrap-custom';
@import 'mosaic/mosaic';
@import 'footer';
@import 'misc';
@import 'gist';
@import 'sidebar';
@import 'blog';
@import 'abilitymatching';
@import 'herodata';
@import 'heroes';
//@import 'patchhistory';
@import 'items';
@import 'itemsall';

.social-icon {
    fill: currentColor;
}

.hero_portrait, .ability_portrait {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hero_roles {
    margin-left: 20px;
}

.hero_section {
    margin-bottom: 60px;
}

.navbar-default {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container-fluid header {
    @extend .container;
}

.page-block {
    padding: 25px;
}
.page-block-header {
    margin-top: 0;
    margin-bottom: 30px;
}

.post_nav {
    margin-top: 20px;
}

.btn {
    transition: background-color 200ms,color 200ms,linear;
}

// dota2/index.html
// dota2/mosaics/index.html
.slick-slide {
    margin: 5px;
}
.slick-slide > img {
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px black;
}
.slick-carousel-nav {
    margin: 25px;
}
.slick-carousel {
    margin: 25px 40px;
}
.slick-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    border: 1px solid #242628;
    
    &.prev {
        left: -40px;
    }
    
    &.next {
        right: -40px;
    }
}
.mosaics-carousel {
    opacity: 0;
    
    &.mosaics-carousel-initialized {
        opacity: 1;
        transition: opacity 0.25s ease-in, min-height 0.25s ease-in;
        min-height: inherit;
    }
    min-height: 124px;
}

.hero-page {
    .hero-bio p{
        text-indent: 15px;
    }
}

.page-blog {
    header svg {
        vertical-align: bottom;
        fill: currentColor;
    }
}

.page-patches {
    time {
        display: block;
        margin-top: $line-height-computed;
    }
}

.patch-page {
    a.anchor {
        display: block;
        visibility: hidden;
    }
    .group-icon {
        margin-right: 10px;
        display: inline-block;
    }
    .group-icon {
        box-shadow: 0px 1px 1px 1px black;
    }
    .patch-group {
        margin-bottom: 40px;
        
        .group-name {
            margin: 0;
            font-size: 20px;
        }
    }
}

// dota2/apps/item-scramble.html
.page-item-scramble {
    .component {
        cursor:move;
        opacity:1;
    }
    #components-container {
        position:relative;
        min-height:400px;
    }
    #components-container > div {
        float:left;
        position:absolute;
    }
    #upgrades-container {
        height:64px;
        background-color:#1c1d1f;
        margin-bottom:10px;
    }
    .combined {
        opacity:.5;
    }
}

// dota2/apps/hero-selection-trainer.html
.page-hero-selection-trainer {
    .hero {
        margin:1px;
        width:73px;
        display:inline-block;
    }
    .hero:hover {
        cursor:hand;
        cursor:pointer;
    }
    #hero_name {
        min-height:2.2em;
    }
}

// dota2/apps/trivia/ability.html
// dota2/apps/trivia/item-cost.html
// dota2/apps/trivia/item-name.html
// dota2/apps/trivia/hero-name.html
// dota2/apps/trivia/ability-name.html
.page-trivia-app {
    .btn {
        line-height:3em;
        font-weight:bold;
    }
    @media (max-width: 767px) {
        .btn {
            line-height:1em;
        }
        #hero {
            display:none;
        }
        h4 {
            font-size:14px;
        }
        header {
            display:none;
        }
    }
}